<th:block th:fragment="header">
    <script>
        var CKEDITOR_BASEPATH = '/v2/lib/ckeditor/';
        var S_LANG = 'vi-VN';
        var S_LANG_RES = 'https://sapo.dktcdn.net/sapo-frontend-x/d9ad77d.i18n_vi-VN.json';
    </script>
    <script src="https://sapo.dktcdn.net/sapo-frontend-x/d7687c7.client.bundle.js"></script>
    <link rel="stylesheet" href="https://sapo.dktcdn.net/sapo-frontend-x/6386cc5.main.css" />
    <script src="https://sapo.dktcdn.net/fe-cdn-production/lib/wootric/wootric-sdk.js"></script>
    <script src="https://sapo.dktcdn.net/fe-cdn-production/lib/upload-files/jquery.multifile.js"></script>


</th:block>