<th:block th:fragment="modalImportFile">
  <div class="modal fade" id="modalImportFile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog  ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Nhập file dữ liệu sản phẩm</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="frmFile" method="post">
            <div>
              <span>Tải File mẫu <a target="_blank" href="/assets/admin/files/MauExcelProduct.xlsx" download>tại đây</a></span>
              <br>
              <label class="mb-3">Nhập file vào đây</label>
              <input class="form-control" type="file" id="formFile">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-outline-secondary" data-bs-dismiss="modal" style="border: 1px solid #bdbdbd;
                                                                                             padding: 6px 12px;
                                                                                             border-radius: 6px;
                                                                                             font-weight: 500;">Thoát</button>
          <button type="button" id="btnImportFile" class="btn-outline-info" style="border: 1px solid lightseagreen;
                                                                                             padding: 6px 12px;
                                                                                             border-radius: 6px;
                                                                                             font-weight: 500;">
            Tải file lên
          </button>
        </div>
      </div>
    </div>
  </div>
</th:block>