<th:block th:fragment="tbContact">
    <div>
        <table id="tbContact">
            <thead>
            <tr>
                <th>
                    <label for="checkAll">
                        <input id="checkAll" type="checkbox" title="Tất cả">
                    </label>
                </th>
                <th>Tên liên hệ</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Chức vụ</th>
                <th>Bộ phận</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</th:block>