<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi-VN" class="sapo-menu-expand sapo-menu-toggle-active">
<head>
    <title>Thêm Nhóm khách hàng</title>

    <th:block th:replace="/layout/header"/>

    <link rel="stylesheet" href="/assets/admin/css/customer/cus_group.css"/>
</head>
<body>
<th:block th:replace="/layout/menu"/>
<div class="jss64 jss40">
    <div>
        <div class="jss10118">
            <div class="jss10121">
                <a class="MuiTypography-root MuiLink-underlineNone jss23596 MuiTypography-colorSecondary"
                   href="/admin/customer_groups">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         class="jss23597">
                        <path d="M14.298 5.99 8.288 12l6.01 6.01 1.414-1.414L11.116 12l4.596-4.596-1.414-1.414Z"
                              fill="currentColor">
                        </path>
                    </svg>
                    <h6 class="MuiTypography-root MuiTypography-subtitle1">
                        Quay lại danh sách nhóm khách hàng
                    </h6>
                </a>
            </div>
            <div class="jss20296">
                <button type="button" class="ldZiUT ldZabc" href="/admin/customer_groups">
                    Hủy
                </button>
                <button id="btnCreateCustomerGroup" class="RthGc ldZabc" type="button">
                        <span class="cMXJOk">
                            Lưu
                        </span>
                </button>
            </div>
        </div>
    </div>
    <form id="frmCreateCusGrp">
        <div class="jss608">
            <div class="MuiGrid-container MuiGrid-spacing-xs-3">
                <div class="MuiGrid-item MuiGrid-grid-xs-6">
                    <div class="MuiPaper-root jss23708 MuiPaper-elevation1 MuiPaper-rounded">
                        <div class="jss751 jss722 borderBottom">
                            <div>
                                <h6 class="MuiTypography-root jss24250 ">
                                    Thông tin chung
                                </h6>
                            </div>
                        </div>
                        <div class="jss23712">
                            <div class="MuiGrid-container MuiGrid-spacing-xs-2">
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label class="MuiFormLabel-root MuiInputLabel-root jss755
                                        MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                               data-shrink="true" for="titleGroupCre">
                                            Tên nhóm
                                            <span class="MuiFormLabel-asterisk MuiInputLabel-asterisk">
                                                &thinsp;*
                                            </span>
                                        </label>
                                        <div class="MuiFormControl-root jss756 MuiFormControl-fullWidth"
                                             field="[object Object]" form="[object Object]">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth">
                                                <div class="MuiInputBase-fullWidth">
                                                    <input aria-invalid="false"
                                                           id="titleGroupCre"
                                                           name="titleGroupCre"
                                                           placeholder="Nhập tên nhóm khách hàng"
                                                           type="text"
                                                           aria-label="Without label"
                                                           class="MuiInputBase-input MuiOutlinedInput-input placeholder_text"
                                                           fdprocessedid="7i85i6">
                                                </div>
                                                <fieldset aria-hidden="true"
                                                          class="jss823 MuiOutlinedInput-notchedOutline">
                                                    <legend class="jss824">
                                                    </legend>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label class="MuiFormLabel-root MuiInputLabel-root jss755 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                               data-shrink="true" for="cusGrpCode">
                                            Mã nhóm</label>
                                        <div class="MuiFormControl-root jss756 MuiFormControl-fullWidth"
                                             field="[object Object]" form="[object Object]">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth">
                                                <input aria-invalid="false"
                                                       id="cusGrpCode"
                                                       placeholder="Nhập mã nhóm khách hàng" type="text"
                                                       aria-label="Without label"
                                                       class="MuiInputBase-input MuiOutlinedInput-input placeholder_text"
                                                       fdprocessedid="sytfp">
                                                <fieldset aria-hidden="true"
                                                          class="jss823 MuiOutlinedInput-notchedOutline">
                                                    <legend class="jss824">
                                                        <span>&ZeroWidthSpace;</span>
                                                    </legend>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label data-shrink="true" for="description"
                                               class="MuiFormLabel-root MuiInputLabel-root jss755 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink">
                                            Mô tả
                                            <span class="MuiTypography-root MuiTypography-caption">
                                                <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                     width="16" height="16" color="primary" class="jss23713">
                                                    <path fill="#0088FF"
                                                          d="M7.4 5v1.2h1.2V5H7.4ZM7.4 8.6V11h1.8V9.8h-.6V7.4H6.8v1.2h.6Z">
                                                    </path>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#0088FF"
                                                          d="M8 2C4.688 2 2 4.688 2 8s2.688 6 6 6 6-2.688 6-6-2.688-6-6-6ZM3.2 8c0 2.646 2.154 4.8 4.8 4.8s4.8-2.154 4.8-4.8S10.646 3.2 8 3.2A4.806 4.806 0 0 0 3.2 8Z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </label>
                                        <div class="MuiFormControl-root jss757 jss756 MuiFormControl-fullWidth"
                                             field="[object Object]" form="[object Object]">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-multiline MuiOutlinedInput-multiline">
                                                <textarea aria-invalid="false" id="description" rows="3"
                                                          aria-label="Without label"
                                                          class="MuiInputBase-input MuiOutlinedInput-input MuiInputBase-inputMultiline MuiOutlinedInput-inputMultiline placeholder_text">
                                                </textarea>
                                                <fieldset aria-hidden="true"
                                                          class="jss823 MuiOutlinedInput-notchedOutline">
                                                    <legend class="jss824">
                                                        <span>&ZeroWidthSpace;</span>
                                                    </legend>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="MuiGrid-item MuiGrid-grid-xs-6">
                    <div class="MuiPaper-root jss721 MuiPaper-elevation1 MuiPaper-rounded">
                        <div class="jss751 jss722 borderBottom">
                            <div class="jss1769">
                                <h6 class="MuiTypography-root jss24250">
                                    Cài đặt nâng cao
                                </h6>
                                <button class="MuiButtonBase-root MuiIconButton-root jss723" tabindex="0" type="button"
                                        title="Cài đặt nâng cao" fdprocessedid="dazdea">
                                    <span class="MuiIconButton-label">
                                        <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                                             width="16" height="16" color="primary" class="jss724">
                                            <path fill="#0088FF"
                                                  d="M7.4 5v1.2h1.2V5H7.4ZM7.4 8.6V11h1.8V9.8h-.6V7.4H6.8v1.2h.6Z">
                                            </path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#0088FF"
                                                  d="M8 2C4.688 2 2 4.688 2 8s2.688 6 6 6 6-2.688 6-6-2.688-6-6-6ZM3.2 8c0 2.646 2.154 4.8 4.8 4.8s4.8-2.154 4.8-4.8S10.646 3.2 8 3.2A4.806 4.806 0 0 0 3.2 8Z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="MuiTouchRipple-root">
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="jss23712">
                            <div class="MuiGrid-container MuiGrid-spacing-xs-2">
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label class="MuiFormLabel-root MuiInputLabel-root jss755 MuiInputLabel-formControl
                                        MuiInputLabel-animated MuiInputLabel-shrink" data-shrink="true" for="pricingType">
                                            Giá Mặc Định
                                        </label>
                                        <div class="dropdown jss1784" onclick="CustomerApp.page.commands.showDefaultPriceDropdown()">
<!--                                        <div class="jss23773">-->
<!--                                            <select id="dropdownDefaultPrice" class="jss23774">-->
<!--                                                <option disabled selected>Chọn giá mặc định</option>-->
<!--                                                <option>-->
<!--&lt;!&ndash;                                                    <i class="fa-solid fa-magnifying-glass jss23769"></i>&ndash;&gt;-->
<!--                                                    <label for="inputSearchCat">-->
<!--                                                        <input id="inputSearchCat"-->
<!--                                                               class="w-100 form-control border border-0"-->
<!--                                                               placeholder="Tìm kiếm"/>-->
<!--                                                    </label>-->
<!--                                                </option>-->
<!--                                            </select>-->
                                            <div class="dropdown-toggle select-btn-pri jss759"
                                                 type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span id="pricingType">Chọn giá mặc định</span>
                                            </div>
                                            <ul class="dropdown-menu w-100 showAllPricingPolicy">
                                                <div class="jss23768">
                                                    <li>
                                                        <div class="d-flex align-items-center jss761">
                                                            <i class="fa-solid fa-magnifying-glass jss23769"></i>
                                                            <label for="inputSearchCat">
                                                                <input id="inputSearchCat"
                                                                       class="w-100 form-control border border-0"
                                                                       placeholder="Tìm kiếm hoặc nhập mới"/>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class="text-primary dropdown-item jss761">
                                                            <i class="fa-solid fa-circle-plus"></i>
                                                            Thêm mới loại sản phẩm
                                                    </li>
                                                </div>
                                                <div id="dropdownDefaultPrice">

                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label class="MuiFormLabel-root MuiInputLabel-root jss755 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                               data-shrink="true" for="discount">
                                            Chiết khấu (%)
                                        </label>
                                        <div class="MuiFormControl-root jss756 MuiFormControl-fullWidth"
                                             field="[object Object]" form="[object Object]">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth ">
                                                <input aria-invalid="false"
                                                       id="discount"
                                                       type="text" aria-label="Without label"
                                                       class="MuiInputBase-input MuiOutlinedInput-input jss758 placeholder_text"
                                                       value="0"
                                                       fdprocessedid="16ju8f">
                                                <fieldset aria-hidden="true"
                                                          class="jss823 MuiOutlinedInput-notchedOutline">
                                                    <legend class="jss824">
                                                    </legend>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label class="MuiFormLabel-root MuiInputLabel-root jss755
                                               MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink" data-shrink="true" for="paymentType">
                                            Hình Thức Thanh Toán
                                        </label>
                                        <div class="dropdown jss1784">
                                            <div class="dropdown-toggle select-btn-pay jss759"
                                                 type="button" data-bs-toggle="dropdown"
                                                 aria-expanded="false">
                                                <span id="paymentType">
                                                    Chọn hình thức thanh toán
                                                </span>
                                            </div>
                                            <ul class="dropdown-menu w-100 showAllPaymentMethod">
                                                <li class="jss760 jss761">Chọn hình thức thanh toán</li>
                                                <div id="dropdownPaymentMethod">

                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>

<th:block th:replace="/layout/script"/>
<script src="/assets/admin/js/customer/customerGroup_App.js"></script>

<script src="/assets/admin/js/customer/customer_app.js"></script>

<script>
    let pricingPolicy;
    let paymentMethod;
    let createCusGroupParam = new CustomerGroup();

    CustomerApp.page.dialogs.elements.titleGroupCre = $("#titleGroupCre");
    CustomerApp.page.elements.selectBtnPri = $('.select-btn-pri');
    CustomerApp.page.elements.selectBtnPay = $('.select-btn-pay');
    CustomerApp.page.elements.pricingType = $("#pricingType");
    CustomerApp.page.elements.btnCreateCustomerGroup = $("#btnCreateCustomerGroup");
    CustomerApp.page.elements.frmCreateCusGrp = $("#frmCreateCusGrp");
    CustomerApp.page.elements.dropdownDefaultPrice = $("#dropdownDefaultPrice");
    CustomerApp.page.elements.dropdownPaymentMethod = $("#dropdownPaymentMethod");
    CustomerApp.page.elements.cusGrpCode = $("#cusGrpCode");
    CustomerApp.page.elements.description = $("#description");
    CustomerApp.page.elements.discount = $("#discount");
    CustomerApp.page.elements.paymentType = $("#paymentType");


    // Lấy List Pricing default
    CustomerApp.page.commands.getAllPricingPolicy = (selectedPricing) => {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: origin + "/api/pricingPolicys"
        })
            .done((data) => {
                pricingPolicy = data;
                pricingPolicy.forEach(item => {
                    let isSelected = item === selectedPricing ? "selected" : "";
                    // let str = `<li class="jss761" id="${item.id}" data-id="${item.id}" onclick="CustomerApp.page.commands.updateNamePri(${item.id})" class="${isSelected} catItem dropdown-item">${item.title}</li>`;

                    let str = `<option value=${item.id} class="jss761">${item.title}</option>`;
                    CustomerApp.page.elements.dropdownDefaultPrice.append(str);
                });
            })
            .fail((jqXHR) => {
                console.log(jqXHR)
            })
    }

    //show select pricing policy
    CustomerApp.page.commands.updateNamePri = (id) => {
        const arrayCat = pricingPolicy.filter(item => item.id === id)

        CustomerApp.page.elements.selectBtnPri.firstElementChild.innerText = arrayCat[0].title;
        CustomerApp.page.elements.pricingType.data("id", id);

        let idValue = CustomerApp.page.elements.pricingType.data("id");
    }

    // Lấy List Payment Method
    CustomerApp.page.commands.getAllPaymentMethod = (selectedPayment) => {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: origin + "/api/admin/payment_methods"
        })
            .done((data) => {
                console.log(data);
                paymentMethod = data;
                paymentMethod.forEach(item => {
                    let isSelected = item === selectedPayment ? "selected" : "";

                    let str = `<li id="${item.id}" data-id="${item.id}" onclick="CustomerApp.page.commands.updateNamePay('${item.id}')" class="${isSelected} catItem dropdown-item jss761">${item.title}</li>`;

                    CustomerApp.page.elements.dropdownPaymentMethod.append(str);
                });
            })
            .fail((jqXHR) => {
                console.log(jqXHR)
            })
    }

    //show select payment method
    CustomerApp.page.commands.updateNamePay = (id) => {
        const arrayCat = paymentMethod.filter(item => item.id === id)

        CustomerApp.page.elements.selectBtnPay.firstElementChild.innerText = arrayCat[0].title;
        CustomerApp.page.elements.paymentType.data("id", id);

        let idValue = CustomerApp.page.elements.paymentType.data("id");
    }

    CustomerApp.page.commands.createCusGrp = () => {
        createCusGroupParam.title = CustomerApp.page.dialogs.elements.titleGroupCre.val().trim();
        createCusGroupParam.cusGrpCode = CustomerApp.page.elements.cusGrpCode.val().trim();
        createCusGroupParam.description = CustomerApp.page.elements.description.val().trim();
        createCusGroupParam.pricingPolicyId = CustomerApp.page.elements.pricingType.data("id");
        createCusGroupParam.discount = CustomerApp.page.elements.discount.val().trim();
        createCusGroupParam.paymentMethodId = CustomerApp.page.elements.paymentType.data("id");

        console.log(createCusGroupParam);

        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "POST",
            "url": origin + "/api/customer_groups/create",
            "data": JSON.stringify(createCusGroupParam)
        })
            .done((data) => {
                console.log(data.id);
                CustomerGroup_App.IziToast.showSuccessAlert('Thêm mới nhóm khách hàng thành công  !!!')
                let id = data.id;
                // window.location.href = "/admin/customer_groups/" + id;

            })
            .fail((jqXHR) => {
                console.log(jqXHR);
                if (jqXHR.responseJSON) {
                    $.each(jqXHR.responseJSON, (key, item) => {
                        CustomerGroup_App.IziToast.showErrorAlert(item);
                    })
                }

            })
    }

    CustomerApp.page.elements.btnCreateCustomerGroup.on("click", () => {
        CustomerApp.page.elements.frmCreateCusGrp.trigger("submit");
    })

    CustomerApp.page.elements.frmCreateCusGrp.validate({
        rules: {
            titleGroupCre: {
                required: true,
                maxlength: 50,
            },
            cusGrpCodeCre: {
                maxlength: 50,
            },
            descriptionCre: {
                maxlength: 255,
            },
        },
        messages: {
            titleGroupCre: {
                required: "Vui lòng nhập tên nhóm (ví dụ: Bán Chẳn)",
                maxlength: "Tên sản phẩm không quá 50 ký tự."
            },
            cusGrpCodeCre: {
                maxlength: "Mã nhóm không quá 50 ký tự",
            },
            descriptionCre: {
                maxlength: "Mô tả không quá 255 ký tự",
            },
        },
        submitHandler: () => {
            CustomerApp.page.commands.createCusGrp();
        },
        invalidHandler: () => {
            CustomerGroup_App.IziToast.showErrorAlert(CustomerGroup_App.AlertMessageVi.ERROR_400);
        }
    })

    $(() => {
        CustomerApp.page.commands.getAllPricingPolicy();
        CustomerApp.page.commands.getAllPaymentMethod();
    })

    CustomerApp.page.commands.showDefaultPriceDropdown = () => {

    }
</script>
</html>