<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="vi-VN"
      class="sapo-menu-expand sapo-menu-toggle-active">
<head>
    <title>Tạo khách hàng mới</title>

    <th:block th:replace="/layout/header"/>
    <link rel="stylesheet" href="/assets/admin/css/customer/customer_create.css"/>
</head>
<body>
<div id="root">
    <th:block th:replace="/layout/menu"/>

    <div class="col-right jss64 jss40">
        <div class="jss20288">
            <div class="jss20291">
                <div>
                    <a href="/admin/customers"
                       class="MuiTypography-root MuiLink-root MuiLink-underlineNone jss20290 MuiTypography-colorSecondary">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             class="svg-back">
                            <path d="M14.298 5.99 8.288 12l6.01 6.01 1.414-1.414L11.116 12l4.596-4.596-1.414-1.414Z"
                                  fill="currentColor">
                            </path>
                        </svg>
                        <h6 class="MuiTypography-root MuiTypography-subtitle1">
                            Quay lại danh sách khách hàng
                        </h6>
                    </a></div>
                <div class="jss20296">
                    <button type="button" id="btnCloseCustomer" class="ldZiUT" href="/admin/customers">
                        Hủy
                    </button>
                    <button id="btnCreateCustomer" class="RthGc">
                        <span class="cMXJOk">
                            Lưu
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <form id="formCreate">
            <div class=" jss20286">
                <div class="MuiGrid-container MuiGrid-spacing-xs-3">
                    <div class="MuiGrid-item MuiGrid-grid-xs-8">
                        <div class="MuiGrid-container MuiGrid-spacing-xs-3 info_container">
                            <div class=" MuiGrid-item MuiGrid-grid-xs-12">
                                <div class="MuiPaper-root MuiPaper-elevation1 MuiPaper-rounded">
                                    <div class=" jss20478 jss20449 borderBottom">
                                        <div class="">
                                            <h6 class="MuiTypography-root MuiTypography-h6 jss21051">
                                                Thông tin chung
                                            </h6>
                                        </div>
                                    </div>
                                    <div class=" jss21051 mt-3">
                                        <div class=" MuiGrid-container MuiGrid-spacing-xs-2">
                                            <div class=" MuiGrid-item MuiGrid-grid-xs-12">
                                                <div class="MuiFormControl-root jss20481 MuiFormControl-fullWidth">
                                                    <label data-shrink="true" for="nameCreate"
                                                           class="MuiFormLabel-root MuiInputLabel-root jss20482 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink Mui-required Mui-required">
                                                        Tên khách hàng
                                                        <span class="MuiFormLabel-asterisk MuiInputLabel-asterisk">
                                                             *
                                                        </span>
                                                    </label>
                                                    <div class="MuiFormControl-root MuiTextField-root MuiFormControl-fullWidth jss20483">
                                                        <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-formControl row inputName">
                                                            <input id="nameCreate" name="nameCreate"
                                                                   placeholder="Nhập tên khách hàng" type="text"
                                                                   class="MuiInputBase-input MuiOutlinedInput-input">
                                                            <fieldset aria-hidden="true"
                                                                      class="jss20550 MuiOutlinedInput-notchedOutline">
                                                                <legend class="jss20551">
                                                                    <span>​</span
                                                                    ></legend>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" MuiGrid-item MuiGrid-grid-xs-12">
                                                <div class=" MuiGrid-container MuiGrid-spacing-xs-3">
                                                    <div class=" MuiGrid-item MuiGrid-grid-xs-6">
                                                        <div class="MuiFormControl-root jss20481 MuiFormControl-fullWidth">
                                                            <label data-shrink="true" for="codeCreate"
                                                                   class="MuiFormLabel-root MuiInputLabel-root jss20482 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink">
                                                                Mã khách hàng
                                                            </label>
                                                            <div class="MuiFormControl-root MuiTextField-root jss20483 MuiFormControl-fullWidth">
                                                                <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-formControl">
                                                                    <input aria-invalid="false" id="codeCreate"
                                                                           name="codeCreate"
                                                                           placeholder="Nhập mã khách hàng" type="text"
                                                                           aria-label="Without label"
                                                                           class="MuiInputBase-input MuiOutlinedInput-input">
                                                                    <fieldset aria-hidden="true"
                                                                              class="jss20550 MuiOutlinedInput-notchedOutline">
                                                                        <legend class="jss20551">
                                                                            <span>​</span>
                                                                        </legend>
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" MuiGrid-item MuiGrid-grid-xs-6">
                                                        <div class="">
                                                            <div class=" jss21262">
                                                                <label for="customerGroupCreate"
                                                                       class="MuiTypography-root MuiTypography-body1">
                                                                    Nhóm khách hàng
                                                                </label>
                                                            </div>
                                                            <select class="form-select jss87874"
                                                                    name="customerGroupCreate"
                                                                    id="customerGroupCreate">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" MuiGrid-item MuiGrid-grid-xs-12">
                                                <div class=" MuiGrid-container MuiGrid-spacing-xs-3">
                                                    <div class=" MuiGrid-item MuiGrid-grid-xs-6">
                                                        <div class="MuiFormControl-root jss20481 MuiFormControl-fullWidth">
                                                            <label data-shrink="true" for="phoneCreate"
                                                                   class="MuiFormLabel-root MuiInputLabel-root jss20482
                                                                    MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink">
                                                                Số điện thoại
                                                            </label>
                                                            <div class="MuiFormControl-root MuiTextField-root jss20483 MuiFormControl-fullWidth">
                                                                <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-formControl">
                                                                    <input aria-invalid="false"
                                                                           id="phoneCreate"
                                                                           name="phoneCreate"
                                                                           placeholder="Nhập số điện thoại" type="text"
                                                                           aria-label="Without label"
                                                                           class="MuiInputBase-input MuiOutlinedInput-input">
                                                                    <fieldset aria-hidden="true"
                                                                              class="jss20550 MuiOutlinedInput-notchedOutline">
                                                                        <legend class="jss20551">
                                                                            <span>​</span>
                                                                        </legend>
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" MuiGrid-item MuiGrid-grid-xs-6">
                                                        <div class="MuiFormControl-root jss20481 MuiFormControl-fullWidth">
                                                            <label class="MuiFormLabel-root MuiInputLabel-root jss20482 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                                                   data-shrink="true" for="emailCreate">
                                                                Email
                                                            </label>
                                                            <div class="MuiFormControl-root MuiTextField-root jss20483 MuiFormControl-fullWidth">
                                                                <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-formControl">
                                                                    <input aria-invalid="false"
                                                                           id="emailCreate"
                                                                           name="emailCreate"
                                                                           placeholder="Nhập địa chỉ email" type="text"
                                                                           aria-label="Without label"
                                                                           class="MuiInputBase-input MuiOutlinedInput-input">
                                                                    <fieldset aria-hidden="true"
                                                                              class="jss20550 MuiOutlinedInput-notchedOutline">
                                                                        <legend class="jss20551">
                                                                            <span>​</span>
                                                                        </legend>
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                                <div class="MuiGrid-container MuiGrid-spacing-xs-3">
                                                    <div class="MuiGrid-item MuiGrid-grid-xs-6">
                                                        <div>
                                                            <div class="jss21097">
                                                                <label class="MuiTypography-root MuiTypography-body1"
                                                                       for="province">
                                                                    Tỉnh - Thành Phố
                                                                </label>
                                                            </div>
                                                            <div tabindex="0">
                                                                <select class="form-select jss87874" name="province"
                                                                        id="province">
                                                                    <option selected value="0">
                                                                        <p class="MuiTypography-root label-select MuiTypography-body1 MuiTypography-colorTextPrimary">
                                                                            Chọn Tỉnh/Thành phố
                                                                        </p>
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="MuiGrid-item MuiGrid-grid-xs-6">
                                                        <div>
                                                            <div class="jss21112">
                                                                <label class="MuiTypography-root MuiTypography-body1"
                                                                       for="district">
                                                                    Huyện
                                                                </label>
                                                            </div>
                                                            <select class="form-select jss87874" name="district"
                                                                    id="district">
                                                                <option value="0">
                                                                    <p class="MuiTypography-root label-select MuiTypography-body1 MuiTypography-colorTextPrimary">
                                                                        Chọn Quận/Huyện
                                                                    </p>
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="MuiGrid-item MuiGrid-grid-xs-6 jss20622">
                                                        <div>
                                                            <div class="jss21112">
                                                                <label class="MuiTypography-root MuiTypography-body1"
                                                                       for="ward">
                                                                    Xã
                                                                </label>
                                                            </div>
                                                            <select class="form-select jss87874" name="ward" id="ward">
                                                                <option value="0">
                                                                    <p class="MuiTypography-root label-select MuiTypography-body1 MuiTypography-colorTextPrimary">
                                                                        Chọn Phường/Xã<
                                                                        /p>
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="MuiGrid-item MuiGrid-grid-xs-12 address_container">
                                                <div class="MuiFormControl-root jss20481 MuiFormControl-fullWidth">
                                                    <label data-shrink="true" for="addressCreate"
                                                           class="MuiFormLabel-root MuiInputLabel-root jss20482 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink">
                                                        Địa chỉ cụ thể
                                                    </label>
                                                    <div class="MuiFormControl-root MuiTextField-root jss20483 jss20484 MuiFormControl-fullWidth">
                                                        <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-formControl MuiInputBase-multiline MuiOutlinedInput-multiline">
                                                            <textarea type="text"
                                                                      id="addressCreate"
                                                                      name="addressCreate"
                                                                      placeholder="Nhập địa chỉ"
                                                                      class="MuiInputBase-input MuiOutlinedInput-input MuiInputBase-inputMultiline MuiOutlinedInput-inputMultiline jss20623">
                                                            </textarea>
                                                            <fieldset aria-hidden="true"
                                                                      class="jss20550 MuiOutlinedInput-notchedOutline">
                                                                <legend class="jss20551">
                                                                    <span>​</span>
                                                                </legend>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="MuiGrid-item MuiGrid-grid-xs-12 info_container">
                            <div class="MuiPaper-root jss5012 MuiPaper-elevation1 MuiPaper-rounded">
                                <div class="jss5100 jss5013 borderBottom">
                                    <div>
                                        <h6 class="MuiTypography-root MuiTypography-h6 jss9675">
                                            Thông tin bổ sung
                                        </h6>
                                    </div>
                                </div>
                                <div class="jss5102">
                                    <div class="MuiGrid-container MuiGrid-spacing-xs-2">
                                        <div class=" MuiGrid-item MuiGrid-grid-xs-12">
                                            <div class=" MuiGrid-container MuiGrid-spacing-xs-3">
                                                <div class=" MuiGrid-item MuiGrid-grid-xs-6">
                                                    <div class="MuiFormControl-root jss20481 MuiFormControl-fullWidth">
                                                        <label class="MuiFormLabel-root MuiInputLabel-root jss20482 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                                               for="birthdayCreate">
                                                            Ngày sinh
                                                        </label>
                                                        <div class="hISLMV">
                                                            <div class="input-group">
                                                                <input type="date" id="birthdayCreate"
                                                                       class="form-control">
                                                            </div>
                                                            <fieldset class="iUBRZb"></fieldset>
                                                            <div class="bqqjdk nysSE">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=" MuiGrid-item MuiGrid-grid-xs-6">
                                                    <div class="">
                                                        <div class="MuiFormControl-root jss20632 MuiFormControl-fullWidth">
                                                            <div class=" jss20637">
                                                                <label data-shrink="true" for="genderCreate"
                                                                       class="MuiFormLabel-root MuiInputLabel-root jss20635 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink MuiInputLabel-outlined MuiFormLabel-filled">
                                                                    Giới tính
                                                                </label>
                                                            </div>
                                                            <div class="MuiInputBase-root MuiOutlinedInput-root jss20633 MuiInputBase-fullWidth MuiInputBase-formControl">
                                                                <select class="jss87874 form-select"
                                                                        name="genderCreate" id="genderCreate">
                                                                    <option value="NAM">Nam</option>
                                                                    <option value="NU">Nữ</option>
                                                                    <option value="KHAC">Khác</option>
                                                                </select>

                                                                <input name="gender" type="hidden" value="other">
                                                                <svg viewBox="0 0 24 24" aria-hidden="true"
                                                                     focusable="false"
                                                                     class="MuiSvgIcon-root MuiSelect-icon MuiSelect-iconOutlined">
                                                                </svg>
                                                                <fieldset aria-hidden="true"
                                                                          class="jss20550 MuiOutlinedInput-notchedOutline">
                                                                    <legend class="jss20551">
                                                                        <span>​</span>
                                                                    </legend>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                            <div class="MuiGrid-container MuiGrid-spacing-xs-3">
                                                <div class="MuiGrid-item MuiGrid-grid-xs-6">
                                                    <div name="fax" width="100%" class="iFpFap">
                                                        <label for="faxCreate" class="dGcxKm">
                                                            Số fax
                                                        </label>
                                                        <div class="bPMzLG">
                                                            <input id="faxCreate" class="fqUehn"
                                                                   placeholder="Nhập số fax" type="text">
                                                            <fieldset class="iKmOWq">
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="MuiGrid-item MuiGrid-grid-xs-6">
                                                    <div name="taxNumber" class="iFpFap">
                                                        <label for="taxCodeCreate" class="dGcxKm">
                                                            Mã số thuế
                                                        </label>
                                                        <div class="bPMzLG">
                                                            <input id="taxCodeCreate" placeholder="Nhập mã số thuế"
                                                                   class="fqUehn" type="text">
                                                            <fieldset class="iKmOWq"></fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                            <div class="MuiGrid-container MuiGrid-spacing-xs-3">
                                                <div class="MuiGrid-item MuiGrid-grid-xs-6">
                                                    <div name="website" class=" iFpFap">
                                                        <label for="websiteCreate" class="dGcxKm">
                                                            Website
                                                        </label>
                                                        <div class="bPMzLG">
                                                            <input id="websiteCreate" class=" fqUehn"
                                                                   placeholder="Nhập tên miền website " type="text">
                                                            <fieldset class="iKmOWq"></fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="MuiGrid-item MuiGrid-grid-xs-6">
                                                    <div class="iFpFap">
                                                        <label for="deptTotal" class="dGcxKm">
                                                            Công nợ
                                                        </label>
                                                        <div class="bPMzLG">
                                                            <input id="deptTotal" class="fqUehn"
                                                                   placeholder="Nhập công nợ khách hàng " type="text">
                                                            <fieldset class="iKmOWq"></fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                            <div class="MuiGrid-container MuiGrid-spacing-xs-3">
                                                <div class="MuiGrid-item MuiGrid-grid-xs-6">
                                                    <div class="iFpFap">
                                                        <label for="spendTotal" class="dGcxKm">
                                                            Tổng chi tiêu
                                                        </label>
                                                        <div class="bPMzLG">
                                                            <input id="spendTotal" class="fqUehn" type="text"
                                                                   placeholder="Nhập Tổng chi tiêu khách hàng">
                                                            <fieldset class="iKmOWq"></fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="MuiGrid-item MuiGrid-grid-xs-4">
                        <div class="MuiGrid-container MuiGrid-spacing-xs-3">
                            <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                <div class="MuiPaper-root jss20448 MuiPaper-elevation1 MuiPaper-rounded">
                                    <div class="jss20680 jss20449 borderBottom">
                                        <div class="jss21138">
                                            <h6 class="MuiTypography-root MuiTypography-h6 jss21051">
                                                Thông tin khác
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="jss20480">
                                        <div class="MuiGrid-container MuiGrid-spacing-xs-2">
                                            <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                                <div>
                                                    <div class="jss21149">
                                                        <label class="MuiTypography-root MuiTypography-body1"
                                                               for="employeeNameCreate">
                                                            Nhân viên phụ trách
                                                        </label>
                                                    </div>
                                                    <select name="employeeNameCreate" id="employeeNameCreate"
                                                            class="form-select jss20483">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                                <div class="MuiFormControl-root jss20481 MuiFormControl-fullWidth">
                                                    <label class="MuiFormLabel-root MuiInputLabel-root jss20482 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                                           data-shrink="true" for="descriptionCreate">
                                                        Mô tả
                                                    </label>
                                                    <div class="MuiFormControl-root MuiTextField-root jss20483 jss20484 MuiFormControl-fullWidth">
                                                        <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-formControl MuiInputBase-multiline MuiOutlinedInput-multiline">
                              <textarea id="descriptionCreate"
                                        name="descriptionCreate" placeholder="Nhập mô tả" rows="3"
                                        class="MuiInputBase-input MuiOutlinedInput-input MuiInputBase-inputMultiline MuiOutlinedInput-inputMultiline jss20623">
                              </textarea>
                                                            <fieldset aria-hidden="true" class="jss20550 MuiOutlinedInput-notchedOutline">
                                                                <legend class="jss20551">
                                                                    <span>​</span>
                                                                </legend>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                                <div class="MuiFormControl-root jss20481 MuiFormControl-fullWidth">
                                                    <label class="MuiFormLabel-root MuiInputLabel-root jss20482 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                                           data-shrink="true" for="descriptionCreate">
                                                        Tag
                                                        <span class="MuiTypography-root MuiTypography-caption"
                                                              title="Chọn hoặc thêm thẻ sẽ cho phép bạn tìm kiếm và lọc khách hàng ở trang danh sách dễ dàng hơn">
                                                            <svg class="MuiSvgIcon-root MuiSvgIcon-colorPrimary jss20682"
                                                                 focusable="false" viewBox="0 0 12 12"
                                                                 aria-hidden="true">
                                <path d="M5.4 3V4.2H6.6V3H5.4Z" fill="currenColor"></path>
                                <path d="M5.4 6.6V9H7.2V7.8H6.6V5.4H4.8V6.6H5.4Z" fill="currenColor"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M6 0C2.688 0 0 2.688 0 6C0 9.312 2.688 12 6 12C9.312 12 12 9.312 12 6C12 2.688 9.312 0 6 0ZM1.2 6C1.2 8.646 3.354 10.8 6 10.8C8.646 10.8 10.8 8.646 10.8 6C10.8 3.354 8.646 1.2 6 1.2C3.354 1.2 1.2 3.354 1.2 6Z"
                                      fill="currenColor">
                                </path>
                              </svg>
                                                        </span>
                                                    </label>
                                                    <div class="MuiFormControl-root MuiTextField-root jss20483 jss20484 MuiFormControl-fullWidth">
                                                        <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-formControl MuiInputBase-multiline MuiOutlinedInput-multiline">
                              <textarea aria-invalid="false" id="tagCreate"
                                        name="tagCreate" rows="3"
                                        aria-label="Without label"
                                        class="MuiInputBase-input MuiOutlinedInput-input MuiInputBase-inputMultiline MuiOutlinedInput-inputMultiline">
                              </textarea>
                                                            <fieldset aria-hidden="true" class="jss20550 MuiOutlinedInput-notchedOutline">
                                                                <legend class="jss20551">
                                                                    <span>​</span>
                                                                </legend>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<form action="https://depament-stor.mysapogo.com/admin/customers/create#"></form>
<form action="https://depament-stor.mysapogo.com/admin/customers/create#"></form>

</body>
<th:block th:replace="/layout/script"/>
<script src="/assets/admin/js/customer/customer_app.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>-->

<script>

    class Customer {
        constructor(id, website, taxCode, fax, customerCode, name, phone, customerGroup, gender, email,
                    birthday, status, createAt, updateAt, employeeId, deleted, createAddressParam, description) {
            this.id = id;
            this.customerCode = customerCode;
            this.name = name;
            this.phone = phone;
            this.gender = gender;
            this.customerGroup = customerGroup;
            this.email = email;
            this.birthday = birthday;
            this.status = status;
            this.createAt = createAt;
            this.updateAt = updateAt;
            this.employeeId = employeeId;
            this.deleted = deleted;
            this.createAddressParam = createAddressParam;
            this.description = description;
            this.website = website;
            this.taxCode = taxCode;
            this.fax = fax;
        }
    }

    class CreateAddressParam {
        constructor(id, fullName, phoneNumber, line1, line2, email, districtId, districtName, provinceId,
                    provinceName, wardId, wardName, zipCode, customerId, supplierId, isDefault, description) {
            this.fullName = fullName;
            this.line1 = line1;
            this.line2 = line2;
            this.phoneNumber = phoneNumber;
            this.email = email;
            // this.address = address;
            this.districtId = districtId;
            this.districtName = districtName;
            this.provinceId = provinceId;
            this.provinceName = provinceName;
            this.wardId = wardId;
            this.wardName = wardName;
            this.zipCode = zipCode;
            this.customerId = customerId;
            this.id = id;
            this.isDefault = isDefault;
            this.supplierId = supplierId;
            this.description = description;
        }
    }

    let customer = new Customer();

    let createAddressParam = new CreateAddressParam();

    CustomerApp.page.elements.formCreate = $('#formCreate');
    CustomerApp.page.elements.btnCreateCustomer = $("#btnCreateCustomer");
    CustomerApp.page.elements.nameCreate = $("#nameCreate");
    CustomerApp.page.elements.faxCreate = $("#faxCreate");
    CustomerApp.page.elements.taxCodeCreate = $("#taxCodeCreate");
    CustomerApp.page.elements.websiteCreate = $("#websiteCreate");
    CustomerApp.page.elements.codeCreate = $("#codeCreate");
    CustomerApp.page.elements.customerGroupCreate = $("#customerGroupCreate");
    CustomerApp.page.elements.customerGroupCreateSelected = $("#customerGroupCreate :selected");
    CustomerApp.page.elements.phoneCreate = $("#phoneCreate");
    CustomerApp.page.elements.emailCreate = $("#emailCreate");
    CustomerApp.page.elements.birthdayCreate = $("#birthdayCreate");
    CustomerApp.page.elements.genderCreate = $("#genderCreate :selected");
    CustomerApp.page.elements.employeeNameCreate = $("#employeeNameCreate");
    CustomerApp.page.elements.employeeNameCreateSelected = $("#employeeNameCreate :selected");
    CustomerApp.page.elements.descriptionCreate = $("#descriptionCreate");
    CustomerApp.page.elements.addressCreate = $("#addressCreate");
    CustomerApp.page.elements.province = $("#province");
    CustomerApp.page.elements.provinceSelected = $("#province :selected");
    CustomerApp.page.elements.district = $("#district");
    CustomerApp.page.elements.districtSelected = $("#district :selected");
    CustomerApp.page.elements.ward = $("#ward");
    CustomerApp.page.elements.wardSelected = $("#ward :selected");
    CustomerApp.page.elements.districtUpdate = $("#districtUpdate");
    CustomerApp.page.elements.provinceUpdate = $("#provinceUpdate");
    CustomerApp.page.elements.wardUpdate = $("#wardUpdate");
    CustomerApp.page.elements.btnCloseCustomer = $("#btnCloseCustomer");

    CustomerApp.page.commands.createCustomer = () => {
        CustomerApp.page.elements.btnCreateCustomer.on('click', () => {
            customer.fullName = CustomerApp.page.elements.nameCreate.val();
            customer.fax = CustomerApp.page.elements.faxCreate.val();
            customer.taxCode = CustomerApp.page.elements.taxCodeCreate.val();
            customer.website = CustomerApp.page.elements.websiteCreate.val();

            customer.customerCode = CustomerApp.page.elements.codeCreate.val();
            customer.groupId = CustomerApp.page.elements.customerGroupCreateSelected.val();
            customer.phoneNumber = CustomerApp.page.elements.phoneCreate.val();
            customer.email = CustomerApp.page.elements.emailCreate.val();
            customer.birthday = CustomerApp.page.elements.birthdayCreate.val();
            customer.gender = CustomerApp.page.elements.genderCreate.val();
            customer.employeeId = CustomerApp.page.elements.employeeNameCreateSelected.val();
            customer.description = CustomerApp.page.elements.descriptionCreate.val();

            createAddressParam.line1 = CustomerApp.page.elements.addressCreate.val();
            createAddressParam.provinceId = CustomerApp.page.elements.province.val();
            createAddressParam.provinceName = CustomerApp.page.elements.provinceSelected.text();
            createAddressParam.districtId = CustomerApp.page.elements.district.val();
            createAddressParam.districtName = CustomerApp.page.elements.districtSelected.text();
            createAddressParam.wardId = CustomerApp.page.elements.ward.val();
            createAddressParam.wardName = CustomerApp.page.elements.wardSelected.text();
            createAddressParam.phoneNumber = CustomerApp.page.elements.phoneCreate.val();

            customer.createAddressParam = createAddressParam;

            $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "POST",
                "url": origin + "/api/customers/create",
                "data": JSON.stringify(customer)
            })
                .done((data) => {
                    console.log(data)
                    CustomerApp.IziToast.showSuccessAlert("tạo khách hàng thành công !");
                    setTimeout(() => {
                    }, 2500)
                    CustomerApp.page.elements.formCreate[0].reset();
                    window.location.href = `/admin/customers/${data.id}`;
                })
                .fail((jqXHR) => {
                    console.log(jqXHR);
                    CustomerApp.IziToast.showErrorAlert(CustomerApp.AlertMessageVi.ERROR_400)
                })
        });
    }


    CustomerApp.page.commands.getAllProvinces = () => {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "https://vapi.vnappmob.com/api/province/"
        })
            .done((data) => {
                if (data.results.length === 0) {
                    let str = `<option value="0">Chọn Tỉnh/Thành Phố</option>`;
                    CustomerApp.page.elements.province.append(str);
                } else {
                    $.each(data.results, (i, item) => {
                        let str = `<option value="${item.province_id}">${item.province_name}</option>`;
                        CustomerApp.page.elements.province.append(str);
                        CustomerApp.page.elements.provinceUpdate.append(str);
                    });
                }
            })
            .fail((jqXHR) => {
                console.log(jqXHR);
            })
    }

    CustomerApp.page.commands.getAllDistrictsByProvinceId = (provinceId) => {
        CustomerApp.page.elements.district.empty();
        CustomerApp.page.elements.districtUpdate.empty();
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "https://vapi.vnappmob.com/api/province/district/" + provinceId
        })
            .done((data) => {
                if (data.results.length === 0) {
                    let str = `<option value="0">Chọn Quận/Huyện</option>`;
                    CustomerApp.page.elements.district.append(str);
                } else {
                    $.each(data.results, (i, item) => {
                        let str = ` <option value="${item.district_id}">${item.district_name}</option>`;
                        CustomerApp.page.elements.district.append(str);
                        CustomerApp.page.elements.districtUpdate.append(str);
                    })
                }
            })
            .fail((jqXHR) => {
                console.log(jqXHR);
            })
    }

    CustomerApp.page.commands.getAllWardsByDistrictId = (districtId) => {
        CustomerApp.page.elements.ward.empty();
        CustomerApp.page.elements.wardUpdate.empty();
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "https://vapi.vnappmob.com/api/province/ward/" + districtId
        })
            .done((data) => {
                // CustomerApp.page.elements.ward.html('');
                // CustomerApp.page.elements.wardUpdate.html('');

                if (data.results.length === 0) {
                    let str = `<option value="0">Chọn Phường/Xã</option>`;
                    CustomerApp.page.elements.ward.append(str);

                } else {
                    $.each(data.results, (i, item) => {
                        let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;
                        CustomerApp.page.elements.ward.append(str);
                        CustomerApp.page.elements.wardUpdate.append(str);
                    });
                }
            })
            .fail((jqXHR) => {
                console.log(jqXHR);
            })
    }

    CustomerApp.page.commands.getAllProvinces().then(() => {
        let provinceId = CustomerApp.page.elements.province.val();

        CustomerApp.page.commands.getAllDistrictsByProvinceId(provinceId).then(() => {

            let districtId = CustomerApp.page.elements.district.val();

            CustomerApp.page.commands.getAllWardsByDistrictId(districtId)
        });
    });

    CustomerApp.page.elements.province.on('change', () => {
        let provinceId = CustomerApp.page.elements.province.val();

        CustomerApp.page.commands.getAllDistrictsByProvinceId(provinceId).done(() => {
            let districtId = CustomerApp.page.elements.district.val();

            CustomerApp.page.commands.getAllWardsByDistrictId(districtId);
        })

        CustomerApp.page.elements.district.on('change', () => {
            let districtId = CustomerApp.page.elements.district.val();

            CustomerApp.page.commands.getAllWardsByDistrictId(districtId);
        })
    });

    CustomerApp.page.elements.provinceUpdate.on("change", () => {
        let provinceId = CustomerApp.page.elements.provinceUpdate.val();

        CustomerApp.page.commands.getAllDistrictsByProvinceId(provinceId).then(() => {
            let districtId = CustomerApp.page.elements.districtUpdate.val();

            CustomerApp.page.commands.getAllWardsByDistrictId(districtId);
        })
    })

    CustomerApp.page.elements.districtUpdate.on("change", () => {

        let districtId = CustomerApp.page.elements.districtUpdate.val();

        CustomerApp.page.commands.getAllWardsByDistrictId(districtId);
    });


    CustomerApp.page.commands.getAllEmployeeSelect = () => {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: origin + "/api/employees"
        })
            .done((data) => {
                $.each(data, (i, item) => {
                    let str = `<option value="${item.id}">${item.fullName}</option>`;
                    CustomerApp.page.elements.employeeNameCreate.append(str);
                });
            })
            .fail((jqXHR) => {
                console.log(jqXHR)
            })
    }

    CustomerApp.page.commands.getAllCustomerGroup = () => {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: origin + "/api/customer_groups/"
        })
            .done((data) => {
                console.log(data)
                $.each(data, (i, item) => {
                    console.log(item)
                    let str = `<option value="${item.id}">${item.title}</option>`;
                    CustomerApp.page.elements.customerGroupCreate.append(str);
                });
            })
            .fail((jqXHR) => {
                console.log(jqXHR)
            })
    }


    CustomerApp.page.elements.btnCloseCustomer.on('click', () => window.location.href = ("/admin/customers"))


    CustomerApp.page.commands.createCustomer();
    CustomerApp.page.commands.getAllCustomerGroup();
    CustomerApp.page.commands.getAllEmployeeSelect();

    CustomerApp.page.elements.formCreate.validate({
        rules: {
            nameCreate: {
                required: true
            }
        },
        messages: {
            nameCreate: {
                required: "Vui lòng nhập tên khách hàng",
            }
        },
        submitHandler: () => {
            CustomerApp.page.commands.createCustomer();
        }
    });

</script>
</html>