<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="vi-VN"
      class="sapo-menu-expand sapo-menu-toggle-active"
      th:object="${customer}">
<head>
    <title>Danh sách khách hàng</title>
    <th:block th:replace="/layout/header.html"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/assets/admin/css/customer/edit.css"/>
</head>
<body data-new-gr-c-s-check-loaded="14.1085.0" cz-shortcut-listen="true">
<div id="root" style="overflow: auto;">
    <th:block th:replace="/layout/menu.html"/>

    <div class="col-right  MuiBox-root jss64 jss40">
        <form id="frmUpdateCustomer" >
        <div class="MuiBox-root jss3578 jss2924 jss2925">
            <div class="MuiBox-root jss3579 jss2927">
                <div class="MuiBox-root jss3580"><a
                        class="MuiTypography-root MuiLink-root MuiLink-underlineNone jss2926 MuiTypography-colorSecondary"
                        href="/admin/customers">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         style="width: 24px; height: 24px; margin-left: -9px; margin-right: 6px;">
                        <path d="M14.298 5.99 8.288 12l6.01 6.01 1.414-1.414L11.116 12l4.596-4.596-1.414-1.414Z"
                              fill="currentColor"></path>
                    </svg>
                    <h6 class="MuiTypography-root MuiTypography-subtitle1">Quay lại danh sách khách hàng</h6></a></div>
                <div class="MuiBox-root jss3581">
                    <button id="btnCloseUpdate" class="sc-kDDrLX kESDbN"><span
                            class="sc-jqUVSM cMXJOk">Hủy</span></button>
                    <button id="btnUpdateCustomer" class="RthGc btnUpdateCustomer "><span
                            class="sc-jqUVSM cMXJOk">Lưu</span></button>
                </div>
            </div>
        </div>
        <div class="MuiBox-root jss3817 jss3576">
            <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-8">
                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                            <div class="MuiPaper-root jss3921 MuiPaper-elevation1 MuiPaper-rounded"
                                 style="box-shadow: rgba(168, 168, 168, 0.25) 0px 2px 4px; height: 100%;">
                                <div class="MuiBox-root jss3951 jss3922 borderBottom">
                                    <div class="MuiBox-root jss5737"><h6 class="MuiTypography-root MuiTypography-h6"
                                                                         style="margin-left: 24px;">Thông tin chung</h6>
                                    </div>
                                </div>
                                <div class="MuiBox-root jss3953" style="padding: 16px 24px 24px;">
                                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-2">
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                                            <div class="MuiFormControl-root jss3954 MuiFormControl-fullWidth"><label
                                                    class="MuiFormLabel-root MuiInputLabel-root jss3955 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink Mui-required Mui-required"
                                                    data-shrink="true" for="fullNameUp">Tên
                                                khách hàng<span
                                                        class="MuiFormLabel-asterisk MuiInputLabel-asterisk"> *</span></label>
                                                <div class="MuiFormControl-root MuiTextField-root jss3956 MuiFormControl-fullWidth">
                                                    <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-formControl">
                                                        <input aria-invalid="false"
                                                               id="fullNameUp" name="fullNameUp"
                                                               placeholder="Nhập tên khách hàng" required="" type="text"
                                                               aria-label="Without label"
                                                               class="MuiInputBase-input MuiOutlinedInput-input"
                                                               value="Jamal Peck">
                                                        <fieldset aria-hidden="true"
                                                                  class="jss4023 MuiOutlinedInput-notchedOutline"
                                                                  style="padding-left: 8px;">
                                                            <legend class="jss4024" style="width: 0.01px;">
                                                                <span>​</span></legend>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                                            <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6">
                                                    <div class="MuiFormControl-root jss3954 MuiFormControl-fullWidth">
                                                        <label class="MuiFormLabel-root MuiInputLabel-root jss3955 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                                               data-shrink="true"
                                                               for="codeUpdate">Mã khách
                                                            hàng</label>
                                                        <div class="MuiFormControl-root MuiTextField-root jss3956 MuiFormControl-fullWidth">
                                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-formControl">
                                                                <input aria-invalid="false"
                                                                       id="codeUpdate"
                                                                       name="codeUpdate" placeholder="Nhập mã khách hàng"
                                                                       type="text" aria-label="Without label"
                                                                       class="MuiInputBase-input MuiOutlinedInput-input"
                                                                       value="Ut ullamco quo sint">
                                                                <fieldset aria-hidden="true"
                                                                          class="jss4023 MuiOutlinedInput-notchedOutline"
                                                                          style="padding-left: 8px;">
                                                                    <legend class="jss4024" style="width: 0.01px;">
                                                                        <span>​</span></legend>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6">
                                                    <div class="MuiBox-root jss4047 jss5748">
                                                        <div class="MuiBox-root jss4048 jss5758"><p
                                                                class="MuiTypography-root MuiTypography-body1"
                                                                style="color: rgb(70, 81, 95);">Nhóm khách hàng</p>
                                                        </div>
                                                        <select classname="jss87874" class="form-select"
                                                                name="customerGroupUpdate" id="customerGroupUpdate" style="height: 43px; margin-top: -2px">

                                                        </select>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                                        <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                                            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6">
                                                <div class="MuiFormControl-root jss3954 MuiFormControl-fullWidth">
                                                    <label class="MuiFormLabel-root MuiInputLabel-root jss3955 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                                           data-shrink="true"
                                                           for="phoneUpdate">Số điện
                                                        thoại</label>
                                                    <div class="MuiFormControl-root MuiTextField-root jss3956 MuiFormControl-fullWidth">
                                                        <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-formControl">
                                                            <input aria-invalid="false"
                                                                   id="phoneUpdate"
                                                                   name="phoneUpdate"
                                                                   placeholder="Nhập số điện thoại" type="text"
                                                                   aria-label="Without label"
                                                                   class="MuiInputBase-input MuiOutlinedInput-input"
                                                                   value="098998989">
                                                            <fieldset aria-hidden="true"
                                                                      class="jss4023 MuiOutlinedInput-notchedOutline"
                                                                      style="padding-left: 8px;">
                                                                <legend class="jss4024" style="width: 0.01px;">
                                                                    <span>​</span></legend>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6">
                                                <div class="MuiFormControl-root jss3954 MuiFormControl-fullWidth">
                                                    <label class="MuiFormLabel-root MuiInputLabel-root jss3955 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                                           data-shrink="true"
                                                           for="emailUpdate">Email</label>
                                                    <div class="MuiFormControl-root MuiTextField-root jss3956 MuiFormControl-fullWidth">
                                                        <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-formControl">
                                                            <input aria-invalid="false"
                                                                   id="emailUpdate"
                                                                   name="emailUpdate" placeholder="Nhập địa chỉ email"
                                                                   type="text" aria-label="Without label"
                                                                   class="MuiInputBase-input MuiOutlinedInput-input"
                                                                   value="bibo@mailinator.com">
                                                            <fieldset aria-hidden="true"
                                                                      class="jss4023 MuiOutlinedInput-notchedOutline"
                                                                      style="padding-left: 8px;">
                                                                <legend class="jss4024" style="width: 0.01px;">
                                                                    <span>​</span></legend>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                        <div class="MuiPaper-root jss3921 MuiPaper-elevation1 MuiPaper-rounded"
                             style="box-shadow: rgba(168, 168, 168, 0.25) 0px 2px 4px; height: 100%; margin-top: 24px   ">
                            <div class="MuiBox-root jss4061 jss3922 borderBottom">
                                <div class="MuiBox-root jss5773"><h6 class="MuiTypography-root MuiTypography-h6"
                                                                     style="margin-left: 24px;">Thông tin bổ
                                    sung</h6></div>
                            </div>
                            <div class="MuiBox-root jss4063" style="padding: 16px 24px 24px;">
                                <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-2">
                                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                                        <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                                            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6">
                                                <div width="100%" class="sc-ciZhAO kfYubE"><label
                                                        for="Sapo-TextField-b2bc9b67-7878-4190-b3f7-bd1501f8f2f8"
                                                        class="sc-hAZoDl iocNjj">Ngày sinh</label>
                                                    <div class="sc-cCsOjp bwybwb Sapo-InputRoot"><input
                                                            id="Sapo-TextField-b2bc9b67-7878-4190-b3f7-bd1501f8f2f8"
                                                            placeholder="Chọn ngày sinh" type="text"
                                                            class="sc-gXmSlM djQmoa" value="">
                                                        <fieldset class="sc-bZkfAO kumURO"></fieldset>
                                                        <div class="sc-kLLXSd sc-jIZahH knmXYz dsyMcL">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6">
                                                <div class="MuiBox-root jss4071" style="width: 100%;">
                                                    <div class="MuiFormControl-root jss4064 MuiFormControl-fullWidth"
                                                         style="width: 100%;">
                                                        <div class="MuiBox-root jss4072 jss4069"><label
                                                                class="MuiFormLabel-root MuiInputLabel-root jss4067 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink MuiInputLabel-outlined MuiFormLabel-filled"
                                                                data-shrink="true">Giới tính</label></div>
                                                        <div class="MuiInputBase-root MuiOutlinedInput-root jss4065 MuiInputBase-fullWidth MuiInputBase-formControl">
                                                            <div class="MuiSelect-root MuiSelect-select MuiSelect-selectMenu jss4066 MuiSelect-outlined MuiInputBase-input MuiOutlinedInput-input"
                                                                 tabindex="0" role="button" aria-haspopup="listbox"
                                                                 aria-labelledby="mui-component-select-gender"
                                                                 id="mui-component-select-gender">Khác
                                                            </div>
                                                            <input name="gender" type="hidden" value="other">
                                                            <svg class="MuiSvgIcon-root MuiSelect-icon MuiSelect-iconOutlined"
                                                                 focusable="false" viewBox="0 0 24 24"
                                                                 aria-hidden="true">
                                                                <path d="M7 10l5 5 5-5z"></path>
                                                            </svg>
                                                            <fieldset aria-hidden="true"
                                                                      class="jss4023 MuiOutlinedInput-notchedOutline"
                                                                      style="padding-left: 8px;">
                                                                <legend class="jss4024" style="width: 0.01px;">
                                                                    <span>​</span></legend>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                                        <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                                            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6">
                                                <div class="MuiFormControl-root jss3954 MuiFormControl-fullWidth">
                                                    <label class="MuiFormLabel-root MuiInputLabel-root jss3955 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                                           data-shrink="true"
                                                           for="9b22c233-f0bd-4e49-8361-befbbc22c61e">Số fax</label>
                                                    <div class="MuiFormControl-root MuiTextField-root jss3956 MuiFormControl-fullWidth">
                                                        <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-formControl">
                                                            <input aria-invalid="false"
                                                                   id="9b22c233-f0bd-4e49-8361-befbbc22c61e"
                                                                   name="fax" placeholder="Nhập số fax" type="text"
                                                                   aria-label="Without label"
                                                                   class="MuiInputBase-input MuiOutlinedInput-input"
                                                                   value="+1 (715) 774-4772">
                                                            <fieldset aria-hidden="true"
                                                                      class="jss4023 MuiOutlinedInput-notchedOutline"
                                                                      style="padding-left: 8px;">
                                                                <legend class="jss4024" style="width: 0.01px;">
                                                                    <span>​</span></legend>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6">
                                                <div class="MuiFormControl-root jss3954 MuiFormControl-fullWidth">
                                                    <label class="MuiFormLabel-root MuiInputLabel-root jss3955 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                                           data-shrink="true"
                                                           for="4929db9f-d5a9-4ed3-9584-873fdcaf536c">Mã số
                                                        thuế</label>
                                                    <div class="MuiFormControl-root MuiTextField-root jss3956 MuiFormControl-fullWidth">
                                                        <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-formControl">
                                                            <input aria-invalid="false"
                                                                   id="4929db9f-d5a9-4ed3-9584-873fdcaf536c"
                                                                   name="taxNumber" placeholder="Nhập mã số thuế"
                                                                   type="text" aria-label="Without label"
                                                                   class="MuiInputBase-input MuiOutlinedInput-input"
                                                                   value="811">
                                                            <fieldset aria-hidden="true"
                                                                      class="jss4023 MuiOutlinedInput-notchedOutline"
                                                                      style="padding-left: 8px;">
                                                                <legend class="jss4024" style="width: 0.01px;">
                                                                    <span>​</span></legend>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                                        <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                                            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6">
                                                <div class="MuiFormControl-root jss3954 MuiFormControl-fullWidth">
                                                    <label class="MuiFormLabel-root MuiInputLabel-root jss3955 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                                           data-shrink="true"
                                                           for="2bc1d11c-a27b-449c-b247-318aff97f85f">Website</label>
                                                    <div class="MuiFormControl-root MuiTextField-root jss3956 MuiFormControl-fullWidth">
                                                        <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-formControl">
                                                            <input aria-invalid="false"
                                                                   id="2bc1d11c-a27b-449c-b247-318aff97f85f"
                                                                   name="website"
                                                                   placeholder="Nhập tên miền website " type="text"
                                                                   aria-label="Without label"
                                                                   class="MuiInputBase-input MuiOutlinedInput-input"
                                                                   value="https://www.bibeguqejawet.us">
                                                            <fieldset aria-hidden="true"
                                                                      class="jss4023 MuiOutlinedInput-notchedOutline"
                                                                      style="padding-left: 8px;">
                                                                <legend class="jss4024" style="width: 0.01px;">
                                                                    <span>​</span></legend>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6">
                                                <div class="MuiBox-root jss4102" style="width: 100%;">
                                                    <div class="MuiFormControl-root jss4064 MuiFormControl-fullWidth"
                                                         style="width: 100%;">
                                                        <div class="MuiBox-root jss4103 jss4069"><label
                                                                class="MuiFormLabel-root MuiInputLabel-root jss4067 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink MuiInputLabel-outlined MuiFormLabel-filled"
                                                                data-shrink="true">Trạng thái khách hàng</label>
                                                        </div>
                                                        <div class="MuiInputBase-root MuiOutlinedInput-root jss4065 MuiInputBase-fullWidth MuiInputBase-formControl">
                                                            <div class="MuiSelect-root MuiSelect-select MuiSelect-selectMenu jss4066 MuiSelect-outlined MuiInputBase-input MuiOutlinedInput-input"
                                                                 tabindex="0" role="button" aria-haspopup="listbox"
                                                                 aria-labelledby="mui-component-select-status"
                                                                 id="mui-component-select-status">Đang giao dịch
                                                            </div>
                                                            <input name="status" type="hidden" value="active">
                                                            <svg class="MuiSvgIcon-root MuiSelect-icon MuiSelect-iconOutlined"
                                                                 focusable="false" viewBox="0 0 24 24"
                                                                 aria-hidden="true">
                                                                <path d="M7 10l5 5 5-5z"></path>
                                                            </svg>
                                                            <fieldset aria-hidden="true"
                                                                      class="jss4023 MuiOutlinedInput-notchedOutline"
                                                                      style="padding-left: 8px;">
                                                                <legend class="jss4024" style="width: 0.01px;">
                                                                    <span>​</span></legend>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4">
                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                            <div class="MuiPaper-root jss3921 MuiPaper-elevation1 MuiPaper-rounded"
                                 style="box-shadow: rgba(168, 168, 168, 0.25) 0px 2px 4px; height: 100%;">
                                <div class="MuiBox-root jss4104 jss3922 borderBottom">
                                    <div class="MuiBox-root jss5789"><h6 class="MuiTypography-root MuiTypography-h6"
                                                                         style="margin-left: 24px;">Thông tin khác</h6>
                                    </div>
                                </div>
                                <div class="MuiBox-root jss4106" style="padding: 16px 24px 24px;">
                                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-2">
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                                            <div class="MuiBox-root jss4122 jss5790">
                                                <div class="MuiBox-root jss4123 jss5800"><p
                                                        class="MuiTypography-root MuiTypography-body1"
                                                        style="color: rgb(70, 81, 95);">Nhân viên phụ trách</p></div>
                                                <div class="MuiBox-root jss4124 jss5799" tabindex="0"><p
                                                        class="MuiTypography-root label-select MuiTypography-body1 MuiTypography-colorTextPrimary">
                                                    Thiên Thiên</p>
                                                    <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24"
                                                         aria-hidden="true">
                                                        <path d="M7 10l5 5 5-5z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                                            <div class="MuiFormControl-root jss3954 MuiFormControl-fullWidth"><label
                                                    class="MuiFormLabel-root MuiInputLabel-root jss3955 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                                    data-shrink="true" for="94820543-5c11-464f-8368-73e529d07d2c">Mô
                                                tả<span class="MuiTypography-root MuiTypography-caption"
                                                        title="Mô tả khách hàng của bạn để phục vụ cho việc chăm sóc khách hàng tốt hơn"><svg
                                                        viewBox="0 0 16 16" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        font-size="16" color="primary"
                                                        style="font-size: 16px; cursor: pointer; margin-left: 6px;"><path
                                                        d="M7.4 5v1.2h1.2V5H7.4ZM7.4 8.6V11h1.8V9.8h-.6V7.4H6.8v1.2h.6Z"
                                                        fill="#0088FF"></path><path fill-rule="evenodd"
                                                                                    clip-rule="evenodd"
                                                                                    d="M8 2C4.688 2 2 4.688 2 8s2.688 6 6 6 6-2.688 6-6-2.688-6-6-6ZM3.2 8c0 2.646 2.154 4.8 4.8 4.8s4.8-2.154 4.8-4.8S10.646 3.2 8 3.2A4.806 4.806 0 0 0 3.2 8Z"
                                                                                    fill="#0088FF"></path></svg></span></label>
                                                <div class="MuiFormControl-root MuiTextField-root jss3956 jss3957 MuiFormControl-fullWidth">
                                                    <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-formControl MuiInputBase-multiline MuiOutlinedInput-multiline">
                                                        <textarea aria-invalid="false"
                                                                  id="94820543-5c11-464f-8368-73e529d07d2c"
                                                                  name="description" placeholder="Nhập mô tả" rows="3"
                                                                  aria-label="Without label"
                                                                  class="MuiInputBase-input MuiOutlinedInput-input MuiInputBase-inputMultiline MuiOutlinedInput-inputMultiline">Sit eos similique p</textarea>
                                                        <fieldset aria-hidden="true"
                                                                  class="jss4023 MuiOutlinedInput-notchedOutline"
                                                                  style="padding-left: 8px;">
                                                            <legend class="jss4024" style="width: 0.01px;">
                                                                <span>​</span></legend>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                                            <div class="sc-bGWzfD fwfdJg"><label
                                                    class="sc-hAZoDl iocNjj">Tags
                                                <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                     data-tip="Chọn hoặc thêm thẻ sẽ cho phép bạn tìm kiếm và lọc khách hàng ở trang danh sách dễ dàng hơn"
                                                     data-tip-placement="top" class="sc-ksZaOG ibCdmW">
                                                    <path d="M7.4 5v1.2h1.2V5H7.4ZM7.4 8.6V11h1.8V9.8h-.6V7.4H6.8v1.2h.6Z"
                                                          fill="currentColor"></path>
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M8 2C4.688 2 2 4.688 2 8s2.688 6 6 6 6-2.688 6-6-2.688-6-6-6ZM3.2 8c0 2.646 2.154 4.8 4.8 4.8s4.8-2.154 4.8-4.8S10.646 3.2 8 3.2A4.806 4.806 0 0 0 3.2 8Z"
                                                          fill="currentColor"></path>
                                                </svg>
                                            </label>
                                                <div tabindex="0" class="sc-gYMRRK hQKpMP">
                                                    <fieldset class="sc-bZkfAO kumURO"></fieldset>
                                                </div>
                                                <p class="sc-djvmMF dHhPjI"></p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                            <div class="MuiPaper-root jss3921 MuiPaper-elevation1 MuiPaper-rounded"
                                 style="box-shadow: rgba(168, 168, 168, 0.25) 0px 2px 4px; height: 100%;">
                                <div class="MuiBox-root jss4135 jss3922 borderBottom">
                                    <div class="MuiBox-root jss5815"><h6 class="MuiTypography-root MuiTypography-h6"
                                                                         style="margin-left: 24px;">Cài đặt nâng
                                        cao</h6>
                                        <button class="MuiButtonBase-root MuiIconButton-root" tabindex="0" type="button"
                                                title="Thiết lập các thông số tự động dùng trong các giao dịch"
                                                style="padding: 0px; margin-left: 6px;"><span
                                                class="MuiIconButton-label"><svg viewBox="0 0 16 16" fill="none"
                                                                                 xmlns="http://www.w3.org/2000/svg"
                                                                                 width="16" height="16" font-size="16"
                                                                                 color="primary"
                                                                                 style="font-size: 16px; cursor: pointer;"><path
                                                d="M7.4 5v1.2h1.2V5H7.4ZM7.4 8.6V11h1.8V9.8h-.6V7.4H6.8v1.2h.6Z"
                                                fill="#0088FF"></path><path fill-rule="evenodd" clip-rule="evenodd"
                                                                            d="M8 2C4.688 2 2 4.688 2 8s2.688 6 6 6 6-2.688 6-6-2.688-6-6-6ZM3.2 8c0 2.646 2.154 4.8 4.8 4.8s4.8-2.154 4.8-4.8S10.646 3.2 8 3.2A4.806 4.806 0 0 0 3.2 8Z"
                                                                            fill="#0088FF"></path></svg></span><span
                                                class="MuiTouchRipple-root"></span></button>
                                    </div>
                                </div>
                                <div class="MuiBox-root jss4142" style="padding: 16px 24px 24px;">
                                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-2">
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12"><h6
                                                class="MuiTypography-root apply-incentives MuiTypography-subtitle1"
                                                style="margin-bottom: 12px;">Áp dụng ưu đãi</h6>
                                            <div direction="column" class="sc-jWEIYm geWESC">
                                                <div class="sc-dWINGa gySjYm">
                                                    <div class="sc-jGprRt fPqDYi"><input
                                                            id="Sapo-Radio-fac69f9f-d49d-418e-9c5b-3574140fd617"
                                                            type="radio" class="sc-fWIMVQ dvWtI" checked="">
                                                        <div class="sc-ESujJ fsOnLr"></div>
                                                    </div>
                                                    <label for="Sapo-Radio-fac69f9f-d49d-418e-9c5b-3574140fd617"
                                                           class="sc-bPyhqo igfpcI">Theo nhóm khách hàng</label></div>
                                                <div class="sc-dWINGa gySjYm">
                                                    <div class="sc-jGprRt fPqDYi"><input
                                                            id="Sapo-Radio-47212d57-40a7-41d8-81a5-ba00057eae5e"
                                                            type="radio" class="sc-fWIMVQ dvWtI">
                                                        <div class="sc-ESujJ fsOnLr"></div>
                                                    </div>
                                                    <label for="Sapo-Radio-47212d57-40a7-41d8-81a5-ba00057eae5e"
                                                           class="sc-bPyhqo igfpcI">Theo khách hàng</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </form>

    </div>

    <form action="https://depament-stor.mysapogo.com/admin/customers/create#"></form>
    <form action="https://depament-stor.mysapogo.com/admin/customers/create#"></form>
</div>
</body>
<th:block th:replace="/layout/script :: script"/>
<script>


</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/assets/admin/js/customer/customer_app.js"></script>


<script>


    class LocationRegion {
        constructor(address, wardId, wardName, districtId, districtName, provinceId, provinceName) {
            this.address = address;
            this.wardId = wardId;
            this.wardName = wardName;
            this.districtId = districtId;
            this.districtName = districtName;
            this.provinceId = provinceId;
            this.provinceName = provinceName;


        }
    }

    class Customer {
        constructor(id, customerCode, name, phone, customerRegionId, groupId, email, birthday, status, createAt, updateAt, employeeId, deleted, locationRegionResult) {
            this.id = id;
            this.customerRegionId = customerRegionId;
            this.customerCode = customerCode;
            this.name = name;
            this.phone = phone;
           this.groupId = groupId;
            this.email = email;
            this.birthday = birthday;
            this.status = status;
            this.createAt = createAt;
            this.updateAt = updateAt;
            this.employeeId = employeeId;
            this.deleted = deleted;
            this.locationRegionResult = locationRegionResult;


        }
    }

    let customer = new Customer();

    let locationRegion = new LocationRegion();

    function getAllProvinces() {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "https://vapi.vnappmob.com/api/province/"
        })
            .done((data) => {
                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.province_id}">${item.province_name}</option>`;
                    $("#provinceNameCreate").append(str);
                });
                $("#districtNameCreate").empty()
                $("#wardNameCreate").empty()
            })
            .fail((jqXHR) => {

            })
    }

    function getAllDistrictsByProvinceId(provinceId) {
        $("#district").empty()
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "https://vapi.vnappmob.com/api/province/district/" + provinceId
        })
            .done((data) => {
                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.district_id}">${item.district_name}</option>`;
                    $("#districtNameCreate").append(str);
                });
            })
            .fail((jqXHR) => {

            })
    }

    function getAllWardsByDistrictId(districtId) {
        $("#ward").empty()
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "https://vapi.vnappmob.com/api/province/ward/" + districtId
        })
            .done((data) => {
                console.log("districtId", districtId)
                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;
                    $("#wardNameCreate").append(str);
                });
            })
            .fail((jqXHR) => {

            })
    }

    getAllProvinces().then(() => {
        let provinceId = $("#provinceNameCreate").val();

        getAllDistrictsByProvinceId(provinceId).then(() => {

            let districtId = $("#districtNameCreate").val();

            getAllWardsByDistrictId(districtId);
        });
    });
    $("#provinceNameCreate").on('change', () => {
        $("#districtNameCreate").empty()
        let provinceId = $("#provinceNameCreate").val();
        getAllDistrictsByProvinceId(provinceId).done(() => {
            let districtId = $("#districtNameCreate").val();
            getAllWardsByDistrictId(districtId);
        })

        $("#districtNameCreate").on('change', () => {
            let districtId = $("#districtNameCreate").val();
            getAllWardsByDistrictId(districtId);
        })
    });


    function getAllEmployeeSelect() {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "http://localhost:8080/api/employees"
        })
            .done((data) => {
                console.log(data)
                $.each(data, (i, item) => {
                    let str = `<option value="${item.id}">${item.name}</option>`;
                    $("#employeeNameCreate").append(str);
                });
            })
            .fail((jqXHR) => {


            })
    }

    function getAllCustomerGroup() {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "http://localhost:8080/api/customers/customerGroup"
        })
            .done((data) => {
                console.log(data)
                $.each(data, (i, item) => {
                    console.log(item)
                    let str = `<option value="${item}">${item}</option>`;
                    $("#customerGroupCreate").append(str);
                });
            })
            .fail((jqXHR) => {

            })
    }

    function getAllCustomerGender() {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "http://localhost:8080/api/customers/customerGender"
        })
            .done((data) => {
                console.log(data)
                $.each(data, (i, item) => {
                    console.log(item)
                    let str = `<option value="${item}">${item}</option>`;
                    $("#genderCreate").append(str);
                });
            })
            .fail((jqXHR) => {

            })
    }




    $('#btnCloseCustomer').on('click', () => alert(":ok caauj"))


    // $('#btnCreateCustomer').on('click', () => {
    //     customer.id = null;
    //     customer.name = $('#nameCreate').val();
    //     customer.customerCode = $('#codeCreate').val();
    //     customer.customerGroup = $('#customerGroupCreate :selected').val();
    //     customer.phone = $('#phoneCreate').val();
    //     customer.email = $('#emailCreate').val();
    //     customer.birthday = $('#birthdayCreate').val();
    //     customer.status = $('#statusCreate').val
    //     customer.customerGender = $('#genderCreate').val();
    //     customer.createAt = $('#birthdayCreate').val();
    //
    //     customer.updateAt = null;
    //     locationRegion.address = $('#addressCreate').val();
    //     locationRegion.address = $('#addressCreate').val();
    //     locationRegion.provinceId = $('#provinceNameCreate').val();
    //     locationRegion.provinceName = $('#provinceNameCreate :selected').text();
    //     locationRegion.districtId = $('#districtNameCreate').val();
    //     locationRegion.districtName = $('#districtNameCreate :selected').text();
    //     locationRegion.wardId = $('#wardNameCreate').val();
    //     locationRegion.wardName = $('#wardNameCreate :selected').text();
    //     customer.employeeId = $('#employeeNameCreate').val();
    //     customer.locationRegion = locationRegion;
    //     console.log(customer)
    //     $.ajax({
    //         "headers": {
    //             "accept": "application/json",
    //             "content-type": "application/json"
    //         },
    //         "type": "POST",
    //         "url": "http://localhost:8080/api/customers/create",
    //         "data": JSON.stringify(customer)
    //     })
    //         .done((data) => {
    //             App.IziToast.showSuccessAlert('Cập nhập khách hàng thành công !!!')
                // $('#nameCreate').val("");
                // $('#codeCreate').val("");
                // $('#phoneCreate').val("");
                // $('#emailCreate').val("");
                // $('#birthdayCreate').val("");
                // $('#statusCreate').val("")
                // $('#addressCreate').val("");
                // $('#employeeNameCreate').val();
                // $('#nameCreate').val("");
                // $('#codeCreate').val("");
                // $('#phoneCreate').val("");
                // $('#emailCreate').val("");
                // $('#birthdayCreate').val("");
                // $('#statusCreate').val("")
                // $('#addressCreate').val("");
                // $('#employeeNameCreate').val();
                //
                // $('#provinceNameCreate').empty();
                // $('#districtNameCreate').empty();
                // $('#wardNameCreate').empty();
                // $('#employeeNameCreate').empty();
    //         })
    //         .fail((jqXHR) => {
    //             console.log(jqXHR);
    //             if (jqXHR.responseJSON) {
    //                 $.each(jqXHR.responseJSON, (key, item) => {
    //                     App.IziToast.showErrorAlert(item);
    //                 })
    //             }
    //
    //         })
    // });


    $("#btnUpdateCustomer").on('click', () => {
            alert("Ok ban")
        customer.frmUpdateCustomer= $('#frmUpdateCustomer')
        customer.btnUpdateCustomer= $('#btnUpdateCustomer')
        customer.fullName = $('#fullNameUp').val();
        customer.customerCode = $('#codeUpdate').val();
        customer.groupId = $('#customerGroupUpdate :selected').val();
        customer.phoneNumber = $('#phoneUpdate').val();
        customer.email = $('#emailUpdate').val();
        customer.birthday = $('#birthdayUpdate').val();
        customer.gender = $('#genderUpdate :selected').val();
        customer.employeeId = $('#employeeNameUpdate :selected').val();
        customer.description = $('#descriptionUpdate').val();
        // customer.createAt = $('#birthdayCreate').val();
        // customer.updateAt = null;
        // locationRegion.address = $('#addressCreate').val();
        // locationRegion.address = $('#addressCreate').val();
        // locationRegion.provinceId = $('#provinceNameCreate').val();
        // locationRegion.provinceName = $('#provinceNameCreate :selected').text();
        // locationRegion.districtId = $('#districtNameCreate').val();
        // locationRegion.districtName = $('#districtNameCreate :selected').text();
        // locationRegion.wardId = $('#wardNameCreate').val();
        // locationRegion.wardName = $('#wardNameCreate :selected').text();
        // customer.employeeId = $('#employeeNameCreate').val();
        // customer.customerRegionId = $('.customerIdEditlocationRegionId').val;
        // customer.locationRegion = locationRegion;
        // console.log(customer.locationRegion)
        // console.log(customer.customerRegionId)
        // customer.id = $('.customerIdEdit').val()
        // customer.locationRegionResult = locationRegion;
        let idCustomer = customer.id;
        console.log(customer);

        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "PUT",
            "url": "http://localhost:8080/api/customers/update/" + idCustomer,
            "data": JSON.stringify(customer)
        })
            .done((data) => {
                // console.log(": Edit sản phẩm thành công")
                // $('#nameUpdate').empty();
                // $('#codeCreate').empty();
                // $('#customerGroupUpdate').empty();
                // $('#phoneCreate').empty();
                // $('#emailCreate').empty();
                // $('#statusCreate').empty
                // $('#birthdayCreate').empty();
                // $('#addressCreate').empty();
                //

                // $('#employeeNameCreate').empty();

            })
            .fail((jqXHR) => {
                console.log(jqXHR);
                if (jqXHR.responseJSON) {
                    $.each(jqXHR.responseJSON, (key, item) => {
                        App.IziToast.showErrorAlert(item);
                    })
                }

            })
    })


    getAllCustomerGender();
    getAllCustomerGroup();
    getAllEmployeeSelect();


</script>
<script>
    $(document).ready(function () {

        $('.input-daterange').datepicker({
            format: 'dd-mm-yyyy',
            todayHighlight: true,
            startDate: '0d'
        });

    });
</script>
</html>