<th:block th:fragment="modal-update-customer">
    <div class="modal fade" id="modal-update-customer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cập nhật khách hàng</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="selectEmployee" style="font-size: 14pt; margin-bottom: 10px;">Nhân viên phụ trách</label>
                            <select class="form-select" id="selectEmployee">
                                <option>Tran Van Trung 1</option>
                                <option>Tran Van Trung 2</option>
                                <option>Tran Van Trung 3</option>
                                <option>Tran Van Trung 4</option>
                                <option>Tran Van Trung 1</option>
                                <option>Tran Van Trung 2</option>
                                <option>Tran Van Trung 3</option>
                                <option>Tran Van Trung 4</option>
                                <option>Tran Van Trung 1</option>
                                <option>Tran Van Trung 2</option>
                                <option>Tran Van Trung 3</option>
                                <option>Tran Van Trung 4</option>
                                <option>Tran Van Trung 1</option>
                                <option>Tran Van Trung 2</option>
                                <option>Tran Van Trung 3</option>
                                <option>Tran Van Trung 4</option>
                            </select>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
    </div>
    <script>

    </script>
</th:block>