<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="modalCheckInventory">
    <div class="modal fade" id="modalCheckInventory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content " style="width:max-content">
                <div class="modal-header">
                    <h4 class="modal-title">Kiểm tra thông tin tồn kho</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer d-flex align-items-center">
                    <button class="btn btn-outline-warning btn-exit" type="button" data-bs-dismiss="modal">Thoát
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>