<th:block th:fragment="modal_delete_customer">
    <div class="modal fade" id="modal_delete_customer" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Xoá khách hàng?</h3>
                    <button type="button" class="btn-close dismissDelete" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body" id="showCustomerDelete">
                    <span id="confirmText"></span>
                </div>
                <div class="cGcePZ mt-4 my-4 me-4 d-flex justify-content-end">
                    <div class="mr-4">
                        <button type="button" data-bs-dismiss="modal" class="ldZiUTB ldZabc dismissDelete">
                            Thoát
                        </button>
                        <button id="btnDeleteCustomer" class="ldZabc RthGcA" type="button">
                            <span class="cMXJOk">Xóa</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>