<th:block th:fragment="modal_loading">
    <div id="modal-loading" class="d-flex justify-content-center">
        <div class="spinner-grow text-primary spinner-loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary spinner-loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-success spinner-loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-danger spinner-loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-warning spinner-loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-info spinner-loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-dark spinner-loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</th:block>