<th:block th:fragment="modalImportFileCustomers">
    <link rel="stylesheet" href="/static/assets/admin/css/customer/loading.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.min.js"></script>  
    <div class="modal fade" id="modalImportFileCustomers" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Nhập file dữ liệu khách hàng</h1>

                    <span class="loader" style="z-index: -1"></span>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6 class="MuiTypography-root MuiTypography-subtitle1">Chú ý:</h6>
                    <div class="py-2 mx-3" style="width: 96%; background-color: #ffc0cb6b; height: 70px; border-radius: 10px;">
                        <svg class="mx-4 my-3" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             font-size="24" color="error" style="float: left">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M2.734 21.002a1 1 0 0 1-.865-1.501l9.265-16.004a1 1 0 0 1 1.731 0L22.131 19.5a1 1 0 0 1-.866 1.501H2.735ZM13 18h-.935a.992.992 0 0 1-.13 0H11v-2h2v2Zm0-3.998h-2v-5h2v5Z"
                                  fill="#FF4D4D">
                            </path>
                        </svg>
                        <div class="MuiBox-root jss2607" style="margin-left: 20px;">
                          <span class="MuiTypography-root MuiTypography-body2">Mẫu nhập file khách hàng đã được thay đổi vào
                            <span class="MuiTypography-root MuiTypography-body1"
                                  style="font-weight: 500;"> 01/01/2023</span>
                          </span>
                            <p class="MuiTypography-root MuiTypography-body2">Bạn vui lòng kiểm tra và tải lại file mới
                                để tránh sai lệch dữ liệu</p>
                        </div>
                    </div>
                    <form id="frmFileCustomers" method="post">
                        <div>
                            <ul class="my-3" style="font-size: 14px">
                                <li>
                                    <span>Tải File mẫu <a target="_blank" href="/assets/admin/files/file_nhap_mau_khach_hang.xlsx" download style="text-decoration: none">tại đây</a> (cập nhật ngày: 01/01/2023)</span>
                                </li>
                                <li>
                                   <span>File có dung lượng tối đa là 2MB và 5000 dòng</span>
                                </li>
                            </ul>
                            <label class="mb-3">Nhập file vào đây</label>
                            <input class="form-control" type="file" id="formFileCustomers">
                            <div style="display: flex; gap: 50px; margin-top: 25px">
                                <input type="text" id="emailTo" class="form-control" width="40%" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
                                <input type="text" id="fullNameEmail" class="form-control col-6" width="40%" placeholder="Họ và tên" aria-label="Username" aria-describedby="basic-addon1">    
                            </div>
                        </div>
                    </form>
                   
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="cancelToReset()" class="btn-outline-primary" data-bs-dismiss="modal" style="border: 1px solid #bdbdbd;
                                                                                             padding: 6px 12px;
                                                                                             border-radius: 6px;
                                                                                             font-weight: 500;">Thoát
                    </button>
                    <button type="button" id="btnImportFileCustomers" class="btn-primary" style="border: 1px solid lightseagreen;
                                                                                             padding: 6px 12px;
                                                                                             border-radius: 5px;
                                                                                             font-weight: 500;">
                        Nhập file
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-file-success" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
              <button onclick="changeColumn()" id="btn-close-file-success" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="margin: 0 auto; padding: 40px 0px;">
                <h4 style="margin-left: 49px; margin-bottom: 15px;">Nhập file dữ liệu khách hàng thành công!</h4>
                <div style="font-size: 11pt; margin: 0 auto;" id="content-file-success"></div>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>
    <script>
        {
        let statusLoading = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                             <span class="sr-only">Loading...</span>`;
        let errorArrRow = [];
        let listCreateCustomerParam = [];
        let listObjAddress = {};
        let listResultParam = [];
        
        let flag = false;
        let fullNameEmail = "";
        let obj = {};
        let countSuccess = 0;
        let countFailure = 0;
        let sheetName = "";
        let policyAndPayment = {};
        let email = "";
        $('#btnImportFileCustomers').on('click',() => {
            listCreateCustomerParam = [];
            flag = false;
            errorArrRow = [];
            listResultParam = [];
            listObjAddress = {};
            countSuccess = 0;
            countFailure = 0;
            fullNameEmail = $("#fullNameEmail").val();
            email = $("#emailTo").val();
            if(email.trim().match(/^$|[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/)==null || email.trim() == ''){
                console.log("qwerty")
                CustomerApp.IziToast.showErrorAlert("Email không đúng định dạng");
                return;
            };
            if(fullNameEmail.trim()=='') {
                CustomerApp.IziToast.showErrorAlert("Họ và tên bị trống");
                return;
            };
            let files = document.getElementById('formFileCustomers').files;
            if(files.length==0){
                CustomerApp.IziToast.showErrorAlert("File bị trống");
                return;
            }
            // $("#customer-series-update").html("");
            $('#btnImportFileCustomers').attr('disabled',true);
            // $('#comfirm-alert-series-customer').attr('disabled', true);
            $('#btnImportFileCustomers').html(statusLoading);
            // $('#comfirm-alert-series-customer').html(statusLoading);
            upload();
            try{
                let setData = setInterval(()=>{
                if(flag){
                    policyAndPayment = getApiPolicyAndPayment();
                    let datas = obj[sheetName];
                    for(let i=0; i<datas.length; i++){
                        validateDataExcel(datas[i], i);
                        excelToCreateCustomerParam(datas[i]);
                    }
                    createListAddress(listCreateCustomerParam);
                    createListResult(listCreateCustomerParam, errorArrRow, listObjAddress);
                    createListAddress(listResultParam);
                    // if(errorArrRow.length==0){
                    //     createSeriesCustomer(listResultParam, listObjAddress);
                    // }else{
                    //     renderError(errorArrRow);
                    // }
            //log ra se ro
                    // console.log(listCreateCustomerParam);
                    // console.log(errorArrRow);
                    // console.log(listObjAddress);
                    // console.log(listResultParam);
                    // console.log(renderErrorMsg(errorArrRow, listResultParam));
                    
                    // console.log(policyAndPayment);
                    let errorMessage = renderErrorMsg(errorArrRow, listResultParam);
                    
                    createCustomerByExcel(listResultParam, listObjAddress, errorMessage, email);
                    eventAfterUpload(setData)
                    // clearInterval();
                }
                });
            }catch{
                clearInterval(setData);
            }
        });
        function eventAfterUpload(setData){
            $("#modalImportFileCustomers").modal("hide");
            // $("#modal-alert-series-customer").modal('show');
            $('#btnImportFileCustomers').text('Nhập file')
            $('#btnImportFileCustomers').attr('disabled',false);
            // $('#comfirm-alert-series-customer').text('Xác nhận');
            // $('#comfirm-alert-series-customer').attr('disabled', false);
            $("#modal-file-success").modal("show");
            $("#content-file-success").text(`Dữ liệu sẽ được xử lý và gửi thông báo về email ${email}`);
            $("#frmFileCustomers")[0].reset();
            clearInterval(setData);
        }
        //get api chinh sach gia mac dinh va phuong thuc thanh toan
        function getApiPolicyAndPayment(){
            let data = {payment:[], policy:[], cusGroup: [], phoneEmployee: []};
            $.ajax({
                headers:{
                    "accept":"application/json",
                    "content-type": "application/json"
                },
                type:"GET",
                async:false,
                url: origin + "/api/payment_methods",
            })
            .done((result)=>{
                for(let item of result){
                    let payment = Object.values(item)[0];
                    data.payment.push(payment);
                }
            });
            $.ajax({
                headers:{
                    "accept":"application/json",
                    "content-type": "application/json"
                },
                type:"GET",
                async:false,
                url: origin + "/api/pricing-policies",
            })
            .done((result)=>{
                for(let item of result){
                    let policy = Object.values(item)[2];
                    data.policy.push(policy);
                }
            });
            $.ajax({
                headers:{
                    "accept":"application/json",
                    "content-type": "application/json"
                },
                type:"GET",
                async:false,
                url: origin + "/api/customer_groups",
            })
            .done((result)=>{
                for(let item of result){
                    let cusGroup = Object.values(item)[2];
                    data.cusGroup.push(cusGroup);
                }
            });
            $.ajax({
                headers:{
                    "accept":"application/json",
                    "content-type": "application/json"
                },
                type:"GET",
                async:false,
                url: origin + "/api/employees",
            })
            .done((result)=>{
                for(let item of result){
                    let phoneEmployee = Object.values(item)[4];
                    data.phoneEmployee.push(phoneEmployee);
                }
            });
            console.log(data);
            return data;
        }
        //tao api create customer va gui mail
        function createCustomerByExcel(listResultParam, listObjAddress, errorMessage, email){
            let createSeriesCustomer = {listResultParam, listObjAddress, errorMessage, email};
            console.log(createSeriesCustomer)
            $.ajax({
                headers:{
                    "content-type": "application/json",
                    "accept": "application/json",
                },
                type:"POST",
                async: false,
                url: origin + "/api/customers/upload",
                data: JSON.stringify(createSeriesCustomer)
            })
            .done(()=>{
                CustomerApp.IziToast.showSuccessAlert("Tải file lên thành công!")
            })
            
        }
        //reset form khi nhan thoat
        function cancelToReset(){
            $("#frmFileCustomers")[0].reset();
        }
        //render alert de gui vao mail 
        function renderErrorMsg(listError, listResultParam){
            let countSuccess = 0;
            let countFailure = 0;
            for(let i=0; i<listResultParam.length; i++){
                if(listResultParam[i]["fullName"]!=""){
                    countSuccess++;
                }
            }
            for(let row of listError){
                countFailure++;
            }
            let headerString = `<p>Chào anh/chị ${fullNameEmail},</p>`+
                                `<p>Anh/chị đã yêu cầu nhập file khách hàng tại: <a href="https://sapo.tk/admin/customers">sapo.tk</a></p>`+
                                `<p>Dưới đây là kết quả nhập file:</p>`+
                                `<div style="margin-left: 50px;">`
                             ;
            let totalSuccessString = `<p>Tổng số khách hàng nhập vào thành công: ${countSuccess}</p>`;
            let totalFailureString = `<p>Danh sách nhập lỗi: ${countFailure==0 ? 0: ''}</p>`
            let errorMsg = "";
            let i=0;
            for(let error of listError){
                let index = Object.keys(error)[0];
                let indexMessage = error[index];
                i++;
                // let wrapTr = `<tr>${tr}</tr>`;
                let elementRowError =  `<td style="vertical-align: top; border-spacing: 0px 30px">${i}. Hàng ${Number(index)+1}: </td>`;
                let listErrorString = "";
                for(let message in indexMessage){
                    let content = `<div style="margin-bottom: 9px;"> -${message}: ${indexMessage[message]}</div>`;
                    listErrorString+=content;
                }
                let wrapErrorColumn = `<td style="vertical-align: top; border-spacing: 0px 30px">${listErrorString}</td>`;
                errorMsg += (`<tr>${elementRowError + wrapErrorColumn}</tr>`);
            }
            let errorString = `<table>${errorMsg}</table>`;
            let alertString = headerString + totalSuccessString + totalFailureString + errorString + "</div><div>Trân trọng!</div>";
            return alertString;
        }
        function renderError(listError){
            $(`#show-detai-failure-series-customer`).html("");
            $("#count-failure").text(0);
            for(let error of listError){
                let index = Object.keys(error)[0];
                let indexMessage = error[index];
                countFailure++;
                $("#count-failure").text(countFailure);
                let elementRowError = `<div class="customer-series-update" id=error-excel-${countFailure}><h5>Hàng ${Number(index)+1}: </h5></div>`
                $(`#show-detai-failure-series-customer`).append(elementRowError);
                for(let message in indexMessage){
                    let content = `<div>- ${message}: ${indexMessage[message]}</div>`;
                    $(`#error-excel-${countFailure}`).append(content);
                }
            }
        }
        //loc data Excel
        function createListResult(listCreateCustomerParam, errorArrRow, listObjAddress){
            for(let i=0; i<listCreateCustomerParam.length; i++){ 
                let index = i;
                let indexError = [];
                let indexListCreate = [];
                for(let a=0; a<errorArrRow.length; a++){
                    indexError.push(Object.keys(errorArrRow[a])[0]);
                }
                if(!indexError.includes(`${i}`) && !Object.keys(listObjAddress).includes(`${i}`)){
                    listResultParam.push(listCreateCustomerParam[i]);
                }
                let flag = false;
                if(Object.keys(listObjAddress).includes(`${i}`)){
                    if(indexError.includes(`${i}`)){
                        i+=listObjAddress[i].length;
                    }else{
                        for(let j=0; j<listObjAddress[i].length; j++){
                            index++;
                            if(indexError.includes(`${index}`)){
                                i+=listObjAddress[i].length;
                                break;
                            }else if(j==listObjAddress[i].length-1){
                                flag = true;
                            }
                        }
                    }
                }
                if(flag){
                    indexListCreate.push(i);
                }
                for(let item of indexListCreate){
                    let index = item;
                    for(let x=0; x<=listObjAddress[item].length; x++){
                        listResultParam.push(listCreateCustomerParam[index])
                        index++;
                    }
                    i+=listObjAddress[item].length;
                }
            }
            // console.log("index")
            // console.log(indexListCreate)
        }
        // tao customer hang loat
        function createSeriesCustomer(data, contact){  
            let address = Object.keys(contact);
            // let countSuccess = 0;
            // $("#show-detai-success-series-customer").html("");
            // $("#count-success").text(countSuccess);
            for(let i=0; i<data.length; i++){
                if(address.includes(`${i}`)){
                    createCustomerManyContact(data[i], contact[i]);
                }else{
                    if(data[i]["fullName"] != ''){
                        createCustomerOneContact(data[i]);
                    }
                }
            }
            CustomerApp.IziToast.showSuccessAlert("Tải file lên thành công!")
        }
        //tao listcontact tuong ung voi tung customer
        function createListAddress(arr){
            listObjAddress = {};
            for(let i=0; i<arr.length-1; i++){
                let address = [];
                if(arr[i+1]["fullName"] != ''){
                    continue;
                }else{
                    let j=i;
                    do{
                        if(arr[i]["fullName"]==''){
                            address.push(arr[i]["createAddressParam"]);
                        }
                        if(i<arr.length-1){
                            i++;
                        }else{
                            break;
                        }
                    }while(arr[i]["fullName"]=='');
                    --i;
                    listObjAddress[j] = address;
                }
            }
            // return listObjAddress;
        }
        //tao 1 customer voi 1 dia chi lien he
        function createCustomerOneContact(customer){
            $.ajax({
                headers: {          
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                async: false,
                type:"POST",
                url: origin + '/api/customers',
                data: JSON.stringify(customer),
            })
            .done((result)=>{
                
                let content =`<div class="customer-series-update">
                                <a href="/admin/customers/${result.id}">${result.fullName}</a> - Đã được tạo thành công
                             </div>`
                $("#count-success").text(++countSuccess);
                $("#show-detai-success-series-customer").append(content);
                let data = 
                console.log("fullName: ")
                console.log({fullName: result.addresses[0].fullName});
                $.ajax({
                    headers: {          
                        "accept": "application/json",
                        "content-type": "application/json"
                    },
                    async:false,
                    type:"POST",
                    url: origin + `/api/customers/${result.id}/contacts`,
                    data: JSON.stringify({fullName: result.addresses[0].fullName})
                });
            })
            // console.log("customer: ");
            // console.log(customer);
        }
        //tao 1 customer voi nhieu dia chi lien he
        function createCustomerManyContact(customer, contact){
            // console.log("customer: ");
            // console.log(customer);
            $.ajax({
                headers: {          
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                async: false,
                type:"POST",
                url: origin + '/api/customers',
                data: JSON.stringify(customer),
            })
            .done((result)=>{
                let content =`<div class="customer-series-update">
                                <a href="/admin/customers/${result.id}">${result.fullName}</a> - Đã được tạo thành công
                             </div>`
                $("#count-success").text(++countSuccess);
                $("#show-detai-success-series-customer").append(content);

                let listContactData = [{fullName: result.addresses[0].fullName}];
                
                for(let i=0; i<contact.length; i++){
                    $.ajax({
                        headers: {          
                            "accept": "application/json",
                            "content-type": "application/json"
                        },
                        async:false,
                        type:"POST",
                        url: origin + '/api/addresses',
                        data: JSON.stringify({...contact[i], customerId: result.id})
                    });
                    listContactData.push({fullName: contact[i].fullName});
                }
                for(let i=0; i<listContactData.length; i++){
                    $.ajax({
                        headers: {          
                            "accept": "application/json",
                            "content-type": "application/json"
                        },
                        async:false,
                        type:"POST",
                        url: origin + `/api/customers/${result.id}/contacts`,
                        data: JSON.stringify(listContactData[i])
                    })
                }
                // console.log("listContactData");
                // console.log(listContactData);
                // for(let i=0; i<listContactData.length; i++){
                //     $.ajax({
                //         headers: {          
                //             "accept": "application/json",
                //             "content-type": "application/json"
                //         },
                //         async:false,
                //         type:"POST",
                //         url: origin + `/api/customers/${result.id}/contacts`,
                //         data: JSON.stringify({fullName: listContactData[i]})
                //     })
                // }
                // .done((result)=>{
                //     console.log(result);
                // })
                // console.log("contact: ");
                // console.log(contact);
            })
        }
        //validate data excel
        function validateDataExcel(data, index){
            let validate = {
                ["Tên khách hàng"]: {
                    empty: {
                        value: true
                    },
                    regex: {
                        value: /^.{0,255}$/,
                        message: "Độ dài tên khách hàng lớn hơn 255 kí tự"
                    }
                },
                ["Mã khách hàng"]:{
                    empty: {
                        value: true
                    },
                    regex: {
                        value: /^.{1-255}$/,
                        message: "Độ dài mã khách hàng lớn hơn 255 kí tự"
                    }
                },
                ["Mã nhóm khách hàng"]:{
                    empty: {
                        value: true
                    },
                    api:{
                        value: policyAndPayment.cusGroup,
                        message: "Mã nhóm khách hàng không tồn tại"
                    }
                },
                ["Áp dụng ưu đãi"]: {
                    empty: {
                        value: true
                    }
                },
                ["Email"]: {
                    empty:{
                        value: true
                    }
                },
                ["Điện thoại"]: {
                    empty:{
                        value: true
                    },
                    regex: {
                        value: /^[0-9]*$/,
                        message: "Điện thoại không phải là số"
                    }
                },
                ["Ngày sinh"]:{
                    empty:{
                        value: true
                    }
                },
                ["Giới tính"]:{
                    empty: {
                        value: true
                    }
                },
                ["Website"]:{
                    empty:{
                        value: true
                    },
                },
                ["Fax"]:{
                    empty:{
                        value: true
                    },
                    regex: {
                        value: /^[0-9]*$/,
                        message: "Fax không phải là số"
                    }
                },
                ["Mã số thuế"]:{
                    empty:{
                        value: true
                    },
                    
                    regex:{
                        value: /^[0-9]*$/,
                        message: "Mã số thuế không đúng định dạng"
                    }
                },
                ["SĐT nhân viên phụ trách"]:{
                    empty:{
                        value: true
                    },
                    api:{
                        value: policyAndPayment.phoneEmployee,
                        message: "SĐT nhân viên phụ trách không tồn tại"
                    }
                },
                ["Mô tả"]:{
                    empty:{
                        value: true
                    },
                },
                ["Chính sách giá mặc định"]:{
                    empty:{
                        value: true
                    },
                    api:{
                        value: policyAndPayment.policy,
                        message: "Chính sách giá mặc định không tồn tại"
                    }
                },
                ["Chiết khấu mặc định (%)"]:{
                    empty:{
                        value: true
                    },
                    regex:{
                        value: /^([0-9]|[1-9][0-9])$/,
                        message: "Chiết khấu mặc định không đúng định dạng"
                    }
                },
                ["Phương thức thanh toán mặc định"]:{
                    empty:{
                        value: true
                    },
                    api:{
                        value: policyAndPayment.payment,
                        message: "Phương thức thanh toán không tồn tại"
                    }
                },
                ["Người liên hệ"]:{
                    empty:{
                        value: false,
                        message: "Người liên hệ bị trống",
                    },
                },
                ["Người liên hệ - SĐT"]:{
                    empty:{
                        value: true,
                        message: "Người liên hệ - SĐT bị trống"
                    },
                    regex:{
                        value: /^[0-9]*$/,
                        message: "Người liên hệ - SĐT không đúng định dạng"
                    }
                },
                ["Người liên hệ - Email"]:{
                    empty:{
                        value: true,
                        message: "Email người liên hệ bị trống",
                    },
                    regex:{
                        value: /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/,
                        message: "Email người liên hệ không đúng định dạng"
                    }
                },
                ["Địa chỉ"]:{
                    empty:{
                        value: false,
                        message: "Địa chỉ bị bỏ trống"
                    }
                },
                ["Tỉnh thành"]:{
                    empty: {
                        value: true,
                        message: "Tỉnh thành bị bỏ trống"
                    }
                },
                ["Quận huyện"]:{
                    empty:{
                        value: true,
                        message: "Quận huyện bị bỏ trống"
                    }
                },
                ["Phường xã"]:{
                    empty:{
                        value: true,
                        message: "Phường xã bị bỏ trống"
                    }
                },
                ["Nợ hiện tại"]:{
                    empty:{
                        value: true,
                    },
                    regex:{
                        value: /^[0-9]*$/,
                        message: "Nợ hiện tại phải là một số"
                    }
                },
                ["Tổng chi tiêu"]:{
                    empty:{
                        value: true,
                    },
                    regex:{
                        value: /^[0-9]*$/,
                        message: "Tổng chi tiêu là một số"
                    }
                },
                ["Ghi chú"]:{
                    empty:{
                        value: true,
                    },
                },
                ["Tags"]:{
                    empty:{
                        value: true
                    }
                }
            }
            let error = {
                [index]:{}
            };
            let i = 0;
            for(let key in validate){
                if(data[key]==undefined){
                    if(validate[key].empty.value && validate[key].regex==undefined){
                        continue;
                    }
                    if(!validate[key].empty.value){
                        error[index][key] = validate[key].empty.message;
                        i++;
                    }
                }else{
                    if(validate[key].regex!=undefined){
                        if(`${data[key]}`.match(validate[key].regex.value)==null){
                            error[index][key] = validate[key].regex.message;
                           i++;
                        }
                    }
                    if(validate[key].api!=undefined){
                        if(!validate[key].api.value.includes(`${data[key]}`)){
                            error[index][key] = validate[key].api.message;
                            i++;
                        }
                    }
                }
            }
            if(i!=0) errorArrRow.push(error);
        }
        function convertBirthDay(day){
            try{
                let isoDay = new Date(Date.UTC(0,0,day-1)).toISOString();
                let result = isoDay.split("T")[0];
                return result;
            }catch{
                return undefined;
            }
        }
        function tagsToArray(tags){
            try{
                let arr = tags.split(",")
                let result = [];
                for(let item of arr){
                    result.push(item.trim());
                }   
                return result;
            }catch{
                return [];
            }
        }
        //convert excel to DTO
        function excelToCreateCustomerParam(jsonData){
            function findIdPolicy(policy){
                if(policy==undefined || policy==''){
                    return undefined;
                }else{
                    let id = policyAndPayment.policy.indexOf(policy)+1;
                    return id;
                }
            }
            function findIdCusGroup(cusGroup){
                if(cusGroup==undefined || cusGroup==''){
                    return undefined;
                }else{
                    let id = policyAndPayment.cusGroup.indexOf(cusGroup)+1;
                    return id;
                }
            }
            function findIdEmployee(phoneEmployee){
                if(phoneEmployee==undefined || phoneEmployee==''){
                    return undefined;
                }else{
                    let id = policyAndPayment.phoneEmployee.indexOf(phoneEmployee)+1;
                    return id;
                }
            }
            let customerCreateParam = {
                fullName: jsonData["Tên khách hàng"] || '',
                customerCode: jsonData["Mã khách hàng"] || undefined,
                groupId: findIdCusGroup(jsonData["Mã nhóm khách hàng"]) || undefined,
                phoneNumber: jsonData["Điện thoại"] || '',
                email: jsonData["Email"] || '',
                birthday: convertBirthDay(jsonData["Ngày sinh"]) || '',
                gender: jsonData["Giới tính"] || 'NAM',
                fax:jsonData["Fax"] || '',
                taxCode: jsonData["Fax"] || '',
                website: jsonData["Website"] || '',
                debtTotal: jsonData["Nợ hiện tại"] || 0,
                spendTotal: jsonData["Tổng chi tiêu"] || 0,
                employeeId: findIdEmployee(jsonData["SĐT nhân viên phụ trách"]),
                description: jsonData["Mô tả"] || '',
                tags: tagsToArray(jsonData["Tags"]),
                defaultPaymentMethodId: jsonData["Phương thức thanh toán mặc định"] || undefined,
                defaultPricingPolicyId: findIdPolicy(jsonData["Chính sách giá mặc định"]) || undefined,
                createAddressParam:{
                    fullName: jsonData["Người liên hệ"],
                    label: undefined,
                    phoneNumber: jsonData["Người liên hệ - SĐT"],
                    email: jsonData["Người liên hệ - Email"],
                    line1: jsonData["Địa chỉ"],
                    line2: undefined,
                    description:'',
                    wardId:-1,
                    wardName: jsonData["Phường xã"],
                    districtId: -1,
                    districtName: jsonData["Quận huyện"],
                    provinceId:-1,
                    provinceName: jsonData["Tỉnh thành"]
                }
            }
            listCreateCustomerParam.push(customerCreateParam);
        }
        function upload() {
            let files = document.getElementById('formFileCustomers').files;
            if(files.length==0){
                CustomerApp.IziToast.showErrorAlert("Không tồn tại file");
                $("#modalImportFileCustomers").modal("hide");
                $("#modal-alert-series-customer").modal('show');
                $('#btnImportFileCustomers').text('Nhập file')
                $('#btnImportFileCustomers').attr('disabled',false);
                $('#comfirm-alert-series-customer').text('Xác nhận');
                $('#comfirm-alert-series-customer').attr('disabled', false);
                $("#frmFileCustomers")[0].reset();
                return;
            }
            let filename = files[0].name;
            let extension = filename.substring(filename.lastIndexOf(".")).toUpperCase();
            if (extension == '.XLS' || extension == '.XLSX') {
                return excelFileToJSON(files[0]);
            }else{
                alert("Please select a valid excel file.");
            }
        }
    
        function excelFileToJSON(file){
            try {
            let reader = new FileReader();
            reader.readAsBinaryString(file);
            reader.onload = function(e) {
        
                let data = e.target.result;
                let workbook = XLSX.read(data, {
                    type : 'binary'
                });
                let result = {};
                let nameSheet = ""
                workbook.SheetNames.forEach(function(sheetName, index) {
                    let roa = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                    if (roa.length > 0) {
                        result[sheetName] = roa;
                        if(index==0){
                            nameSheet = sheetName;
                        }
                    }
                });
                obj = result;
                flag = true;
                sheetName = nameSheet;
                }
            }catch(e){
                console.error(e);
            }
        }
    }
    </script>
</th:block>