<th:block th:fragment="modal_dele_cus_grp">
    <div class="modal fade" id="modal_del_cus_grp" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xoá nhóm khách hàng</h5>
                    <button type="button" class="btn-close dismissDelete" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body" id="showCusGrpDelete">
                </div>
                <div class="cGcePZ mt-4 my-4 me-4 d-flex justify-content-end">
                    <div class="me-2">
                        <button type="button" data-bs-dismiss="modal" class="ldZiUTB ldZabc dismissDelete">
                            Thoát
                        </button>
                        <button id="btnDeleteCustomerGroup" class="ldZabc RthGcA" type="button">
                            <span class="cMXJOk">
                                Xóa
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>