<th:block th:fragment="modalCreateContact">
    <div class="modal fade" id="modalCreateContact" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="jss23776">
                    <h5 class="modal-title" id="staticBackdropLabel">Thêm mới liên hệ</h5>
                    <button type="button" class="btn-close btnCloseCreatePricePolicyModal"
                            data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="MuiGrid-container ugqFK">
                    <div class="MuiGrid-item MuiGrid-grid-xs-12 hTBRNt">
                        <div class="MuiGrid-container MuiGrid-spacing-xs-3">
                            <div class="MuiGrid-item MuiGrid-grid-xs-6">
                                <div name="name" class="jsseh238">
                                    <label for="Sapo-TextField-75d21900-5820-46b7-bb98-d6c82bd63a0d"
                                           class="hTBRNU">
                                        Họ tên
                                        <span class="fewigj">&nbsp;*</span>
                                    </label>
                                    <div class="">
                                        <input id="Sapo-TextField-75d21900-5820-46b7-bb98-d6c82bd63a0d"
                                               placeholder="Nhập họ tên" type="text" class="bQyECD">
                                        <fieldset class="">
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="MuiGrid-item MuiGrid-grid-xs-6">
                                <div name="phone_number" class="jsseh238">
                                    <label for="Sapo-TextField-aeaef0a8-c69b-4295-a5cd-4c0d1a758e9a"
                                           class="hTBRNU">
                                        Số điện thoại
                                    </label>
                                    <div class="cjfZhD">
                                        <input id="Sapo-TextField-aeaef0a8-c69b-4295-a5cd-4c0d1a758e9a"
                                               placeholder="Nhập số điện thoại" type="text" class="bQyECD">
                                        <fieldset class="sc-kLLXSd etpkYt">
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="MuiGrid-item MuiGrid-grid-xs-12 hTBRNt">
                        <div class="MuiGrid-container MuiGrid-spacing-xs-3">
                            <div class="MuiGrid-item MuiGrid-grid-xs-6">
                                <div name="email" class="jsseh238">
                                    <label for="Sapo-TextField-9894374e-192e-4a09-9ebb-d69dc50a5404"
                                           class="hTBRNU">
                                        Email
                                    </label>
                                    <div class="cjfZhD">
                                        <input id="Sapo-TextField-9894374e-192e-4a09-9ebb-d69dc50a5404"
                                               placeholder="Nhập địa chỉ email" type="text" class="bQyECD"
                                               value="">
                                        <fieldset class="sc-kLLXSd etpkYt">
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="MuiGrid-item MuiGrid-grid-xs-6">
                                <div name="fax" class="jsseh238">
                                    <label for="Sapo-TextField-626afdc3-f1b8-42b0-a062-9d88d0d4d543"
                                           class="hTBRNU">
                                        Số fax
                                    </label>
                                    <div class="cjfZhD">
                                        <input id="Sapo-TextField-626afdc3-f1b8-42b0-a062-9d88d0d4d543"
                                               placeholder="Nhập số fax" type="text" class="bQyECD" value="">
                                        <fieldset class="sc-kLLXSd etpkYt">
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="MuiGrid-item MuiGrid-grid-xs-12 hTBRNt">
                        <div class="MuiGrid-container MuiGrid-spacing-xs-3">
                            <div class="MuiGrid-item MuiGrid-grid-xs-6">
                                <div name="title" class="">
                                    <label for="Sapo-TextField-939acb9c-c1e0-4568-a6c5-fff4d47c3150"
                                           class="hTBRNU">
                                        Chức vụ
                                    </label>
                                    <div class="cjfZhD">
                                        <input id="Sapo-TextField-939acb9c-c1e0-4568-a6c5-fff4d47c3150"
                                               placeholder="Nhập chức vụ" type="text" class="bQyECD" value="">
                                        <fieldset class="sc-kLLXSd etpkYt">
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="MuiGrid-item MuiGrid-grid-xs-6">
                                <div name="department" class="">
                                    <label for="Sapo-TextField-50b43365-3cfc-4762-b8a8-ed28433d2515"
                                           class="hTBRNU">
                                        Bộ phận
                                    </label>
                                    <div class="cjfZhD">
                                        <input id="Sapo-TextField-50b43365-3cfc-4762-b8a8-ed28433d2515"
                                               placeholder="Nhập bộ phận" type="text" class="bQyECD" value="">
                                        <fieldset class="sc-kLLXSd etpkYt">
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="MuiGrid-item MuiGrid-grid-xs-12">
                        <div name="note" class="sc-brCFrO ilnJuY">
                            <label for="Sapo-Textarea-9f6ac025-57f9-4a61-aa7d-5d6402f95558" class="hTBRNU">
                                Ghi chú
                            </label>
                            <div class="sc-dFdIVH dlzPcz">
                    <textarea id="Sapo-Textarea-9f6ac025-57f9-4a61-aa7d-5d6402f95558" placeholder="Nhập ghi chú"
                              style="height: 5.14286rem;" class="jsseh238 owi8wi">
                </textarea>
                                <fieldset class="">
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="ldZiUT ldZiUTA btnCloseCreatePricePolicyModal" data-bs-dismiss="modal">
                        Thoát
                    </button>
                    <button id="btnCreatePricePolicy" class="RthGc ldZiUTA" type="button">
                        Thêm
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>