<!DOCTYPE html>
<th:block th:fragment="modal_filter">
    <style>
        .jss1745 {
            color: #0088FF;
            padding: 8px 24px;
            font-size: 16px;
            font-weight: 500;
        }

        .deudDf {
            display: inline-flex;
            -webkit-box-pack: center;
            justify-content: center;
            flex: 0 0 auto;
            -webkit-box-align: center;
            align-items: center;
            outline: 0px;
            border-radius: 3px;
            cursor: pointer;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.42857rem;
            margin: 0px;
            overflow: hidden;
            position: relative;
            height: 2.57143rem;
            min-width: unset;
            color: rgb(0, 136, 255);
            border: none;
            background: transparent;
            padding: 0px;
        }

        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .sidenav a, .dropdown-btn {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
            border: none;
            background: none;
            width: 100%;
            text-align: left;
            cursor: pointer;
            outline: none;
        }

        .dropdown-container {
            display: none;
            background-color: white;
            padding-left: 8px;
        }

        .fa-caret-down {
            float: right;
            padding-right: 8px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    </style>
    <link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/assets/admin/css/customer/filter.css"/>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <div class="MuiBox-root jss2790"><p class="MuiTypography-root title MuiTypography-body1" style="float: left;
    margin-top: 12px;font-size: 20px;font-weight: 500;">Bộ lọc</p>
                <button class="MuiButtonBase-root MuiIconButton-root jss1753" tabindex="0" type="button"><span
                        class="MuiIconButton-label"><svg viewBox="0 0 24 24" fill="none"
                                                         xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         font-size="24"><path
                        d="M6.167 3.667v13.475l-2.159-2.15-1.175 1.175L7 20.333l4.167-4.166-1.175-1.175-2.159 2.15V3.667H6.167ZM17.833 20.333V6.858l2.159 2.15 1.175-1.175L17 3.667l-4.167 4.166 1.175 1.175 2.159-2.15v13.475h1.666Z"
                        fill="currentColor"></path></svg></span><span class="MuiTouchRipple-root"></span></button>
            </div>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="MuiBox-root jss2794 jss1744 filter-basic">
            <button id="Sapo-Button-70cf5262-5927-4383-98a0-897d1ccf81f1" class="sc-jqUVSM deudDf">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                     font-size="20" style="float: left">
                    <path d="m18.425 12-6.01 6.01L11 16.596 15.596 12 11 7.404l1.414-1.414 6.01 6.01Z"
                          fill="currentColor"></path>
                    <path d="m13 12-6.01 6.01-1.415-1.414L10.172 12 5.575 7.404 6.99 5.99 13 12Z"
                          fill="currentColor"></path>
                </svg>
                <span class="sc-papXJ fCIlZX"><h6
                        class="MuiTypography-root MuiTypography-subtitle1 MuiTypography-colorPrimary">Bộ lọc nâng cao</h6></span>
            </button>
        </div>

        <div class="offcanvas-body">
            <div>
                <p class="MuiTypography-root jss1745 MuiTypography-body1" style="margin-left: -23px">Nổi bật</p>
            </div>
            <div class="dropdown">
                <div
                        type="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="
                                                                display: flex;
                                                                justify-content: space-between;
                                                                align-items: center; ">
                    <button class="dropdown-btn" style="font-size: 1rem;">. Chọn Khách Hàng
                        <i class="fa fa-caret-down"></i>
                    </button>
                </div>
                <ul class="dropdown-menu w-100 categoryIdUpdate showAllCategory">
                    <div>
                        <li>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-magnifying-glass" style="margin-left: 16px;
                                                                   margin-right: 4px;
                                                                   color: #828282"></i>
                                <input id="inputSearchCat" style="margin: 2px"
                                       class="w-100 form-control border border-0"
                                       placeholder="Tìm kiếm hoặc nhập mới"/>
                            </div>
                        </li>
                        <li class="text-primary dropdown-item">
                            <ul style="margin-top: 5px">
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                <label for="vehicle1"> I have a bike</label><br>
                                <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                                <label for="vehicle2"> I have a car</label><br>
                                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                                <label for="vehicle3"> I have a boat</label><br><br>
                            </ul>
                        </li>
                        <div id="showAllCAt">

                        </div>
                    </div>
                </ul>
            </div>
            <button class="dropdown-btn" style="font-size: 1rem;">. Giới Tính
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Nam
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Nữ
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Khác
                    </label>
                </div>
            </div>
            <button class="dropdown-btn" style="font-size: 1rem;">. Ngày Tháng sinh
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <div class="row">
                    <div class="btn bg-secondary dropdown-toggle select-btn-cat col-6"
                         type="button" data-bs-toggle="dropdown"
                         aria-expanded="false" style=" border: solid 1px #D3D5D7;border: solid 1px #D3D5D7;
                                                                display: flex;
                                                                justify-content: space-between;
                                                                align-items: center; ">
                                                        <span id=""
                                                              th:text="*{categoryId != null} ? *{category.title} : 'chọn ngày' "></span>
                    </div>
                    <ul class="dropdown-menu w-100 categoryIdUpdate showAllCategory">

                    </ul>
                    <div class="btn bg-secondary dropdown-toggle select-btn-cat col-6"
                         type="button" data-bs-toggle="dropdown"
                         aria-expanded="false" style=" border: solid 1px #D3D5D7;border: solid 1px #D3D5D7;
                                                                display: flex;
                                                                justify-content: space-between;
                                                                align-items: center; ">
                                                        <span id=""
                                                              th:text="*{categoryId != null} ? *{category.title} : 'chọn Tháng' "></span>
                    </div>
                    <ul class="dropdown-menu w-100 categoryIdUpdate showAllCategory">

                    </ul>
                </div>
            </div>
            <div class="dropdown">
                <div
                        type="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="
                                                                display: flex;
                                                                justify-content: space-between;
                                                                align-items: center; ">
                    <button class="dropdown-btn" style="font-size: 1rem;">. Nhân Viên Phụ Trách
                        <i class="fa fa-caret-down"></i>
                    </button>
                </div>
                <ul class="dropdown-menu w-100 categoryIdUpdate showAllCategory">
                    <div>
                        <li>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-magnifying-glass" style="margin-left: 16px;
                                                                   margin-right: 4px;
                                                                   color: #828282"></i>
                                <input id="searchEmployee" style="margin: 2px"
                                       class="w-100 form-control border border-0"
                                       placeholder="Tìm kiếm hoặc nhập mới"/>
                            </div>
                        </li>
                        <li class="text-primary dropdown-item">
                            <ul style="margin-top: 5px">
                                <input type="checkbox" id="" name="vehicle1" value="Bike">
                                <label for="vehicle1">sang</label><br>
                                <input type="checkbox" id="" name="vehicle2" value="Car">
                                <label for="vehicle2">khanh</label><br>

                            </ul>
                        </li>
                    </div>
                </ul>
                <div>
                    <p class="MuiTypography-root jss1745 MuiTypography-body1" style="margin-left: -23px">Nhóm Khác</p>
                </div>
                <div class="dropdown">
                    <div
                            type="button" data-bs-toggle="dropdown"
                            aria-expanded="false" style="
                                                                display: flex;
                                                                justify-content: space-between;
                                                                align-items: center; ">
                        <button class="dropdown-btn" style="font-size: 1rem;">. Trạng Thái
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </div>
                    <ul class="dropdown-menu w-100 categoryIdUpdate showAllCategory">
                        <div>
                            <li class="text dropdown-item">
                                <ul style="margin-top: 5px">
                                    <input type="checkbox" id="" name="vehicle1" value="Bike">
                                    <label for="vehicle1">Đang Giao Dịch</label><br>
                                    <input type="checkbox" id="" name="vehicle2" value="Car">
                                    <label for="vehicle2">Ngừng Giao Dịch</label><br>

                                </ul>
                            </li>
                        </div>
                    </ul>
                    <button class="dropdown-btn" style="font-size: 1rem;">. Tags
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <input placeholder="Nhập tại đây" type="text" class="MuiInputBase-input" value="">
                    </div>
                    <button class="dropdown-btn" style="font-size: 1rem;">. Ngày Tạo
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <div class="row">
                            <div class="col-6">
                                <input id="datepicker" width="170" placeholder="dd/mm/yyyy"/>
                                <p><a href="https://gijgo.com/datepicker/example/bootstrap-5">
                                </a>
                            </div>
                            <div class="col-6">
                                <input id="datepicker2" width="170" placeholder="dd/mm/yyyy"/>
                                <p><a href="https://gijgo.com/datepicker/example/bootstrap-5">
                                </a>
                            </div>
                        </div>
                    </div>
                    <button class="dropdown-btn" style="font-size: 1rem;">. Khoảng Ngày Sinh
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <div class="row">
                            <div class="col-6">
                                <input id="datepicker3" width="170" placeholder="dd/mm/yyyy"/>
                                <p><a href="https://gijgo.com/datepicker/example/bootstrap-5">
                                </a>
                            </div>
                            <div class="col-6">
                                <input id="datepicker4" width="170" placeholder="dd/mm/yyyy"/>
                                <p><a href="https://gijgo.com/datepicker/example/bootstrap-5">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="dropdown-btn" style="font-size: 1rem;">. Ngày Sinh
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <input id="datepicker5" width="370"/>
                <p><a href="https://gijgo.com/datepicker/example/bootstrap-5">
                </a>
            </div>
        </div>
        <div class="d-flex flex-row-reverse my-3" style="width: 95%">
            <button type="button" class="btn btn-danger mx-2" style="width: 70px; color: rgb(255, 255, 255);background: rgb(0, 136, 255);border: none;">Lọc</button>
            <button type="button" class="btn btn-primary" style="width: 90px; border: 1px solid rgb(255, 77, 77);background: rgb(255, 255, 255);color: rgb(255, 77, 77);">Xóa Bộ Lọc
            </button>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
    <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }

        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap5'
        });
        $('#datepicker2').datepicker({
            uiLibrary: 'bootstrap5'
        });
        $('#datepicker3').datepicker({
            uiLibrary: 'bootstrap5'
        });
        $('#datepicker4').datepicker({
            uiLibrary: 'bootstrap5'
        });
        $('#datepicker5').datepicker({
            uiLibrary: 'bootstrap5'
        });
    </script>
</th:block>