<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi-VN" class="sapo-menu-expand sapo-menu-toggle-active">
<head>
    <title>Cập Nhập Nhóm Khách Hàng</title>

    <th:block th:replace="/layout/header"/>

    <link rel="stylesheet" href="/assets/admin/css/customer/cus_group.css"/>
</head>
<body>
<th:block th:replace="/layout/menu"/>

<div class="jss64 jss40">
    <div>
        <div class="jss10118">
            <div class="jss10121">
                <a class="MuiTypography-root MuiLink-underlineNone jss23596 MuiTypography-colorSecondary"
                   href="/admin/customer_groups">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         class="jss23597">
                        <path d="M14.298 5.99 8.288 12l6.01 6.01 1.414-1.414L11.116 12l4.596-4.596-1.414-1.414Z"
                              fill="currentColor">
                        </path>
                    </svg>
                    <h6 class="MuiTypography-root MuiTypography-subtitle1">
                        Quay lại danh sách nhóm khách hàng
                    </h6>
                </a>
            </div>
            <div class="jss20296">
                <button type="button" class="ldZiUTB ldZabc" id="btnShowModalDeleteCustomerGroup">
                    Xóa
                </button>
                <button id="btnCreateCustomerGroup" class="RthGc ldZabc" type="button">
                        <span class="cMXJOk">
                            Lưu
                        </span>
                </button>
            </div>
        </div>
    </div>
    <form id="frmCreateCusGrp">
        <div class="jss608">
            <div class="MuiGrid-container MuiGrid-spacing-xs-3">
                <div class="MuiGrid-item MuiGrid-grid-xs-6">
                    <div class="MuiPaper-root jss23708 MuiPaper-elevation1 MuiPaper-rounded">
                        <div class="jss751 jss722 borderBottom">
                            <div>
                                <h6 class="MuiTypography-root jss24250 ">
                                    Thông tin chung
                                </h6>
                            </div>
                        </div>
                        <div class="jss23712">
                            <div class="MuiGrid-container MuiGrid-spacing-xs-2">
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label class="MuiFormLabel-root MuiInputLabel-root jss755
                                        MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                               data-shrink="true" for="titleGroupUp">
                                            Tên nhóm
                                            <span class="MuiFormLabel-asterisk MuiInputLabel-asterisk">
                                                &thinsp;*
                                            </span>
                                        </label>
                                        <div class="MuiFormControl-root jss756 MuiFormControl-fullWidth"
                                             field="[object Object]" form="[object Object]">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth">
                                                <div class="MuiInputBase-fullWidth">
                                                    <input aria-invalid="false"
                                                           id="titleGroupUp"
                                                           name="titleGroupUp"
                                                           placeholder="Nhập tên nhóm khách hàng"
                                                           type="text"
                                                           aria-label="Without label"
                                                           class="MuiInputBase-input MuiOutlinedInput-input placeholder_text"
                                                           fdprocessedid="7i85i6">
                                                </div>
                                                <fieldset aria-hidden="true"
                                                          class="jss823 MuiOutlinedInput-notchedOutline">
                                                    <legend class="jss824"></legend>
                                                </fieldset>
                                            </div>
                                            <div class="error titleGroupUp-error hidden"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label class="MuiFormLabel-root MuiInputLabel-root jss755 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                               data-shrink="true" for="cusGrpCodeUP">
                                            Mã nhóm
                                        </label>
                                        <div class="MuiFormControl-root jss756 MuiFormControl-fullWidth"
                                             field="[object Object]" form="[object Object]">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth">
                                                <input aria-invalid="false"
                                                       id="cusGrpCodeUp"
                                                       name="cusGrpCodeUp"
                                                       placeholder="Nhập mã nhóm khách hàng" type="text"
                                                       aria-label="Without label"
                                                       class="MuiInputBase-input MuiOutlinedInput-input placeholder_text"
                                                       fdprocessedid="sytfp">
                                                <fieldset aria-hidden="true"
                                                          class="jss823 MuiOutlinedInput-notchedOutline">
                                                    <legend class="jss824">
                                                    </legend>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="error cusGrpCodeUp-error"></div>
                                    </div>
                                </div>
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label data-shrink="true" for="noteUp"
                                               class="MuiFormLabel-root MuiInputLabel-root jss755 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink">
                                            Mô tả
                                            <span class="MuiTypography-root MuiTypography-caption"
                                                  title="Mô tả khách hàng của bạn để phục vụ cho việc chăm sóc khách hàng tốt hơn">
                                                <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                     width="16" height="16" color="primary" class="jss23713">
                                                    <path fill="#0088FF" d="M7.4 5v1.2h1.2V5H7.4ZM7.4 8.6V11h1.8V9.8h-.6V7.4H6.8v1.2h.6Z">
                                                    </path>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#0088FF"
                                                          d="M8 2C4.688 2 2 4.688 2 8s2.688 6 6 6 6-2.688 6-6-2.688-6-6-6ZM3.2 8c0 2.646 2.154 4.8 4.8 4.8s4.8-2.154 4.8-4.8S10.646 3.2 8 3.2A4.806 4.806 0 0 0 3.2 8Z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </label>
                                        <div class="MuiFormControl-root jss757 jss756 MuiFormControl-fullWidth"
                                             field="[object Object]" form="[object Object]">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-multiline MuiOutlinedInput-multiline">
                                                <textarea aria-invalid="false" id="noteUp" rows="3"
                                                          aria-label="Without label" name="noteUp"
                                                          class="MuiInputBase-input MuiOutlinedInput-input MuiInputBase-inputMultiline MuiOutlinedInput-inputMultiline placeholder_text">
                                                </textarea>
                                                <fieldset aria-hidden="true" class="jss823 MuiOutlinedInput-notchedOutline">
                                                    <legend class="jss824">
                                                        <span>&ZeroWidthSpace;</span>
                                                    </legend>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="error noteUp-error"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="MuiGrid-item MuiGrid-grid-xs-6">
                    <div class="MuiPaper-root jss721 MuiPaper-elevation1 MuiPaper-rounded">
                        <div class="jss751 jss722 borderBottom">
                            <div class="jss1769">
                                <h6 class="MuiTypography-root jss24250">
                                    Cài đặt nâng cao
                                </h6>
                                <button class="MuiButtonBase-root MuiIconButton-root jss723" tabindex="0" type="button"
                                        title="Cài đặt nâng cao" fdprocessedid="dazdea">
                                    <span class="MuiIconButton-label">
                                        <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                                             width="16" height="16" color="primary" class="jss724">
                                            <path fill="#0088FF"
                                                  d="M7.4 5v1.2h1.2V5H7.4ZM7.4 8.6V11h1.8V9.8h-.6V7.4H6.8v1.2h.6Z">
                                            </path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#0088FF"
                                                  d="M8 2C4.688 2 2 4.688 2 8s2.688 6 6 6 6-2.688 6-6-2.688-6-6-6ZM3.2 8c0 2.646 2.154 4.8 4.8 4.8s4.8-2.154 4.8-4.8S10.646 3.2 8 3.2A4.806 4.806 0 0 0 3.2 8Z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="MuiTouchRipple-root"></span>
                                </button>
                            </div>
                        </div>
                        <div class="jss23712">
                            <div class="MuiGrid-container MuiGrid-spacing-xs-2">
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label class="MuiFormLabel-root MuiInputLabel-root jss755 MuiInputLabel-formControl
                                        MuiInputLabel-animated MuiInputLabel-shrink" data-shrink="true"
                                               for="searchDefaultPriceDropdown">
                                            Giá Mặc Định
                                        </label>
                                        <div class="dropdown jss1784 jss1769"
                                             onclick="CustomerApp.page.commands.showDefaultPricingPolicyDropdown()"
                                             id="defaultPriceContainer">
                                            <p id="selectedPriceDefault">Chọn giá mặc định</p>
                                        </div>
                                        <div id="defaultPriceDropdown" class="dropdown-content">
                                            <div>
                                                <div class="jss23596">
                                                    <div class="jss23775 jss23769">
                                                        <i class="fa-solid fa-magnifying-glass"></i>
                                                    </div>
                                                    <div class="MuiGrid-container">
                                                        <input type="text" placeholder="Tìm kiếm" class="jss23784"
                                                               id="searchDefaultPriceDropdown"
                                                               onkeyup="CustomerApp.page.commands.searchDefaultPriceDropdown()">
                                                    </div>
                                                </div>
                                            </div>
                                            <div onclick="CustomerApp.page.commands.showModalCreatePricePolicy()">
                                                <div class="jss23596">
                                                    <div class="jss23775 jss23769 jss760">
                                                        <i class="fa-solid fa-circle-plus"></i>
                                                    </div>
                                                    <span class="jss760 jss754">Thêm mới chính sách giá</span>
                                                </div>
                                            </div>
                                            <div id="listPricePolicy" class=" jss23783"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label class="MuiFormLabel-root MuiInputLabel-root jss755 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                               data-shrink="true" for="defaultDiscountRateUP">
                                            Chiết khấu (%)
                                        </label>
                                        <div class="MuiFormControl-root jss756 MuiFormControl-fullWidth"
                                             field="[object Object]" form="[object Object]">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth ">
                                                <input aria-invalid="false"
                                                       id="defaultDiscountRateUP" name="defaultDiscountRateUP"
                                                       type="text" aria-label="Without label"
                                                       class="MuiInputBase-input MuiOutlinedInput-input jss758 placeholder_text"
                                                       placeholder="0"
                                                       fdprocessedid="16ju8f">
                                                <fieldset aria-hidden="true"
                                                          class="jss823 MuiOutlinedInput-notchedOutline">
                                                    <legend class="jss824"></legend>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="error defaultDiscountRateUP-error hidden"></div>
                                    </div>
                                </div>
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label class="MuiFormLabel-root MuiInputLabel-root jss755
                                               MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                               data-shrink="true" for="paymentType">
                                            Hình Thức Thanh Toán
                                        </label>
                                        <div class="dropdown jss1784">
                                            <div class="dropdown-toggle select-btn-pay jss759"
                                                 type="button" data-bs-toggle="dropdown"
                                                 aria-expanded="false">
                                                <span id="paymentType">
                                                    Chọn hình thức thanh toán
                                                </span>
                                            </div>
                                            <ul class="dropdown-menu w-100 showAllPaymentMethod">
                                                <li class="jss760 jss761" disabled="">Chọn hình thức thanh toán</li>
                                                <div id="dropdownPaymentMethod">

                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
<th:block th:replace="/admin/customer/modal_dele_Cus_Grp"/>
<th:block th:replace="/layout/script"/>
<script src="/assets/admin/js/customer/customerGroup_App.js"></script>
<script src="/assets/admin/js/customer/customer_app.js"></script>

<script>
    let currentCustomerGroup = {};

    // start update customer group
    CustomerApp.page.elements.titleGroupUp = $("#titleGroupUp");
    CustomerApp.page.elements.cusGrpCodeUp = $("#cusGrpCodeUp");
    CustomerApp.page.elements.noteUp = $("#noteUp");
    CustomerApp.page.elements.defaultDiscountRateUP = $("#defaultDiscountRateUP");
    CustomerApp.page.elements.selectedPriceDefault =$("#selectedPriceDefault");
    CustomerApp.page.elements.listPricePolicy = $("#listPricePolicy");
    CustomerApp.page.elements.defaultPriceDropdown = $("#defaultPriceDropdown");

    CustomerApp.page.elements.btnShowModalDeleteCustomerGroup = $("#btnShowModalDeleteCustomerGroup");

    CustomerApp.page.dialogs.modal_del_cus_grp = $("#modal_del_cus_grp");

    //end update customer group

    //start modal delete customer group
    CustomerApp.page.dialogs.elements.showCusGrpDelete = $("#showCusGrpDelete");
    CustomerApp.page.dialogs.elements.dismissDelete = $(".dismissDelete");
    CustomerApp.page.dialogs.elements.btnDeleteCustomerGroup = $("#btnDeleteCustomerGroup");
    //end modal delete customer group

    CustomerApp.page.commands.getDefaultPricingPolicy = () => {
        let id = currentCustomerGroup.defaultPricingPolicyId;
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: origin + "/api/pricing-policies/" + id
        })
            .done((data) => {
                console.log(data)
                data.forEach(item => {
                    let str = `<a class="jss23775 selectDefaultPricePolicy" data-id="${item.id}" data-value="${item.title}">
                                    ${item.title}
                                </a>`;

                    CustomerApp.page.elements.listPricePolicy.prepend(str);
                });
                CustomerApp.page.commands.selectDefaultPricePolicy();
            })
            .fail((jqXHR) => {
                console.log(jqXHR)
            })
    }


    CustomerApp.page.loadData.getCustomerUpdate = () => {
        let id = +window.location.pathname.split('/')[3];

        return $.ajax({
            type: "GET",
            url: origin + "/api/customer_groups/" + id
        }).done((data) => {
            console.log(data);
            currentCustomerGroup = {...data}
            console.log(currentCustomerGroup)
            CustomerApp.page.elements.titleGroupUp.val(data.title);
            CustomerApp.page.elements.cusGrpCodeUp.val(data.cusGrpCode);
            CustomerApp.page.elements.noteUp.val(data.note);
            CustomerApp.page.elements.defaultDiscountRateUP.val(data.defaultDiscountRate);
            // CustomerApp.page.elements.selectedPriceDefault.text(data.defaultPricingPolicyId);
        })
            .fail((jqXHR) => {
                console.log(jqXHR)
            })
    }

    $(() => {
        CustomerApp.page.loadData.getCustomerUpdate().then(() => {
            CustomerApp.page.commands.getDefaultPricingPolicy();
            CustomerApp.page.dialogs.commands.deleteCustomerGroup();
            CustomerApp.page.dialogs.commands.showModalDelete();
        });
    })

    CustomerApp.page.commands.selectDefaultPricePolicy = () => {
        $(".selectDefaultPricePolicy").on('click', function () {
            createCusGroupParam.defaultPricingPolicyId = $(this).data('id');
            let value = $(this).data('value');

            CustomerApp.page.elements.selectedPriceDefault.text(value);
            CustomerApp.page.elements.defaultPriceDropdown[0].classList.toggle("show")
        })
    }

    CustomerApp.page.commands.showDefaultPricingPolicyDropdown = () => {
        CustomerApp.page.elements.defaultPriceDropdown[0].classList.toggle("show")
    }

    CustomerApp.page.dialogs.commands.deleteCustomerGroup = () => {
        CustomerApp.page.dialogs.elements.btnDeleteCustomerGroup.click(() => {
            let id = currentCustomerGroup.id;
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "DELETE",
                url: origin + "/api/customer_groups/delete/" + id
            }).done(() => {
                CustomerGroup_App.IziToast.showSuccessAlert("Xóa nhóm khách hàng thành công");
                CustomerApp.page.dialogs.modal_del_cus_grp.modal('hide');
                window.location.href = "/admin/customer_groups";
            }).fail((jqXHR) => {
                CustomerGroup_App.IziToast.showErrorAlert("Xóa nhóm khách hàng thất bại");
                console.log(jqXHR)
            })
        })
    }

    CustomerApp.page.dialogs.elements.dismissDelete.click(() => {
        CustomerApp.page.dialogs.elements.showCusGrpDelete.empty();
    })

    CustomerApp.page.dialogs.commands.showModalDelete = () => {
        CustomerApp.page.elements.btnShowModalDeleteCustomerGroup.click(() => {
            CustomerApp.page.dialogs.modal_del_cus_grp.modal('show');

            let str = `Bạn có chắc chắn muốn xóa nhóm khách hàng ${currentCustomerGroup.title}? Thao tác này không thể khôi phục.`;
            CustomerApp.page.dialogs.elements.showCusGrpDelete.append(str)
        })
    }
    // let pricingPolicy;
    // let paymentMethod;
    // let updateCusGroupParam = {};
    // const selectBtnPri = document.querySelector('.select-btn-pri');
    // const selectBtnPay = document.querySelector('.select-btn-pay');
    //
    // // Lấy List Pricing Policy
    // function getAllPricingPolicy(selectedPricing) {
    //     return $.ajax({
    //         headers: {
    //             "accept": "application/json",
    //             "content-type": "application/json"
    //         },
    //         type: "GET",
    //         url: origin + "/api/pricing-policies"
    //     })
    //         .done((data) => {
    //             console.log(data);
    //             pricingPolicy = data;
    //             pricingPolicy.forEach(item => {
    //                 let isSelected = item === selectedPricing ? "selected" : "";
    //                 let str = `<li id="${item.id}" data-id="${item.id}" onclick="updateNamePri(${item.id})" class="${isSelected} catItem dropdown-item">${item.title}</li>`;
    //                 $(".showAllPricingPolicy #showAllPricing").append(str);
    //             });
    //         })
    //         .fail((jqXHR) => {
    //
    //         })
    // }
    //
    // //show select pricing policy
    // function updateNamePri(id) {
    //     const arrayCat = pricingPolicy.filter(item => item.id === id)
    //     const val = arrayCat[0].title;
    //     console.log("is", id, val)
    //     selectBtnPri.firstElementChild.innerText = val;
    //     $("#upPricingType").data("id", id);
    //     let idValue = $("#upPricingType").data("id");
    //     console.log(idValue);
    // }
    //
    // // Lấy List Payment Method
    // function getAllPaymentMethod(selectedPayment) {
    //     return $.ajax({
    //         headers: {
    //             "accept": "application/json",
    //             "content-type": "application/json"
    //         },
    //         type: "GET",
    //         url: origin + "/api/admin/payment_methods"
    //     })
    //         .done((data) => {
    //             console.log(data);
    //             paymentMethod = data;
    //             paymentMethod.forEach(item => {
    //                 let isSelected = item === selectedPayment ? "selected" : "";
    //                 let str = `<li id="${item.id}" data-id="${item.id}" onclick="updateNamePay('${item.id}')" class="${isSelected} catItem dropdown-item">${item.title}</li>`;
    //                 $(".showAllPaymentMethod #showAllPay").append(str);
    //             });
    //         })
    //         .fail((jqXHR) => {
    //
    //         })
    // }
    //
    // //show select payment method
    // function updateNamePay(id) {
    //     const arrayCat = paymentMethod.filter(item => item.id === id)
    //     const val = arrayCat[0].title;
    //     console.log("is", id, val)
    //     selectBtnPay.firstElementChild.innerText = val;
    //     $("#upPaymentType").data("id", id);
    //     let idValue = $("#upPaymentType").data("id");
    //     console.log(idValue);
    // }
    //
    // $('#btnUpdateCustomerGroup').on('click', () => {
    //     let id = $("#cusGrpId").text();
    //     updateCusGroupParam.id = id;
    //     let title = $('#upTitleGroup').val().trim();
    //     updateCusGroupParam.title = title.length > 0 ? title : undefined;
    //
    //     let cusGrpCode = $('#upCusGrpCode').val().trim();
    //     updateCusGroupParam.cusGrpCode = cusGrpCode.length > 0 ? cusGrpCode : undefined;
    //
    //     let note = $('#upDescription').val().trim();
    //     updateCusGroupParam.note = note.length > 0 ? note : undefined;
    //
    //     updateCusGroupParam.defaultPricingPolicyId = $('#upPricingType').data("id");
    //     updateCusGroupParam.defaultDiscountRate = $('#upDiscount').val();
    //     updateCusGroupParam.defaultPaymentMethodId = $('#upPaymentType').data("id");
    //     $.ajax({
    //         "headers": {
    //             "accept": "application/json",
    //             "content-type": "application/json"
    //         },
    //         "type": "POST",
    //         "url": origin + "/api/customer_groups/update",
    //         "data": JSON.stringify(updateCusGroupParam)
    //     })
    //         .done((data) => {
    //             console.log(data);
    //             let id = data.id;
    //             CustomerGroup_App.IziToast.showSuccessAlert('Sửa nhóm khách hàng thành công  !!!')
    //
    //             setTimeout(() => {
    //                 window.location.href = "/admin/customer_groups/" + id;
    //             }, 1000)
    //
    //         })
    //         .fail((jqXHR) => {
    //             console.log(jqXHR);
    //             if (jqXHR.responseJSON) {
    //                 $.each(jqXHR.responseJSON, (key, item) => {
    //                     CustomerGroup_App.IziToast.showErrorAlert(item);
    //                 })
    //             }
    //
    //         })
    // })
    //
    // function getCusGroupById(Id) {
    //     return $.ajax({
    //         headers: {
    //             "accept": "application/json",
    //             "content-type": "application/json"
    //         },
    //         type: "GET",
    //         url: origin + "/api/customer_groups" + "/" + Id
    //     })
    //         .done((data) => {
    //             customerGroup = data;
    //             console.log(customerGroup);
    //         })
    //         .fail((jqXHR) => {
    //             if (jqXHR.responseJSON) {
    //                 $.each(jqXHR.responseJSON, (key, item) => {
    //                     CustomerGroup_App.IziToast.showErrorAlert(item);
    //                 })
    //             }
    //         });
    // }
    //
    // function showModalDelete() {
    //     $('#btnSowModalDelete').click(function () {
    //         // alert("modal dele")
    //         $('#modal_dele_cus_grp').modal('show');
    //     });
    // }
    //
    // function deleteCusGrpHander() {
    //     let id = $("#cusGrpId").text();
    //
    //     $('#btn_deleteCustomer').click(function () {
    //         // alert(" ok")
    //         console.log(id)
    //         return $.ajax({
    //             headers: {
    //                 "accept": "application/json",
    //                 "content-type": "application/json"
    //             },
    //             type: "DELETE",
    //             url: origin + "/api/customer_groups/delete/" + id,
    //         })
    //             .done((data) => {
    //                 CustomerGroup_App.IziToast.showSuccessAlert("Xoá nhóm khách hàng thành công  !!! ");
    //                 $('#modal_dele_cus_grp').modal('hide');
    //
    //                 setTimeout(() => {
    //                     window.location.href = "/admin/customer_groups";
    //                 }, 2500)
    //             })
    //             .fail((jqXHR) => {
    //                 $.each(jqXHR.responseJSON, (key, item) => {
    //                     CustomerGroup_App.IziToast.showErrorAlert(item);
    //                 })
    //             })
    //     })
    // }
    //
    // deleteCusGrpHander();
    //
    // $(() => {
    //     getAllPricingPolicy();
    //     getAllPaymentMethod();
    //     showModalDelete();
    // })
</script>
</html>