<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi-VN" class="sapo-menu-expand sapo-menu-toggle-active">
<head>
    <title>Cập Nhập Nhóm Khách Hàng</title>

    <th:block th:replace="/admin/customer/layout/header"/>
    <link rel="stylesheet" href="/assets/admin/css/customer/cus_group.css"/>
</head>
<body>
<th:block th:replace="/layout/menu"/>

<div class="jss64 jss40">
    <div>
        <div class="jss10118">
            <div class="jss10121">
                <a class="MuiTypography-root MuiLink-underlineNone jss23596 MuiTypography-colorSecondary"
                   href="/admin/customer_groups">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         class="jss23597">
                        <path d="M14.298 5.99 8.288 12l6.01 6.01 1.414-1.414L11.116 12l4.596-4.596-1.414-1.414Z"
                              fill="currentColor">
                        </path>
                    </svg>
                    <h6 class="MuiTypography-root MuiTypography-subtitle1">
                        Quay lại danh sách nhóm khách hàng
                    </h6>
                </a>
            </div>
            <div class="jss20296">
                <button type="button" class="ldZiUTB ldZabc" id="btnShowModalDeleteCustomerGroup">
                    Xóa
                </button>
                <button id="btnUpdateCustomerGroup" class="RthGc ldZabc" type="button">
                        <span class="cMXJOk">
                            Lưu
                        </span>
                </button>
            </div>
        </div>
    </div>
    <form id="frmUpdateCusGrp">
        <div class="jss608">
            <div class="MuiGrid-container MuiGrid-spacing-xs-3">
                <div class="MuiGrid-item MuiGrid-grid-xs-6">
                    <div class="MuiPaper-root jss23708 MuiPaper-elevation1 MuiPaper-rounded">
                        <div class="jss751 jss722 borderBottom">
                            <div>
                                <h6 class="MuiTypography-root jss24250 ">
                                    Thông tin chung
                                </h6>
                            </div>
                        </div>
                        <div class="jss23712">
                            <div class="MuiGrid-container MuiGrid-spacing-xs-2">
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label class="MuiFormLabel-root MuiInputLabel-root jss755
                                        MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                               data-shrink="true" for="titleGroupUp">
                                            Tên nhóm
                                            <span class="MuiFormLabel-asterisk MuiInputLabel-asterisk">
                                                &thinsp;*
                                            </span>
                                        </label>
                                        <div class="MuiFormControl-root jss756 MuiFormControl-fullWidth"
                                             field="[object Object]" form="[object Object]">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth">
                                                <div class="MuiInputBase-fullWidth">
                                                    <input aria-invalid="false"
                                                           id="titleGroupUp"
                                                           name="titleGroupUp"
                                                           placeholder="Nhập tên nhóm khách hàng"
                                                           type="text"
                                                           aria-label="Without label"
                                                           class="MuiInputBase-input MuiOutlinedInput-input placeholder_text"
                                                           fdprocessedid="7i85i6">
                                                </div>
                                                <fieldset aria-hidden="true"
                                                          class="jss823 MuiOutlinedInput-notchedOutline">
                                                    <legend class="jss824"></legend>
                                                </fieldset>
                                            </div>
                                            <div class="error title-error hidden"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label class="MuiFormLabel-root MuiInputLabel-root jss755 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                               data-shrink="true" for="cusGrpCodeUP">
                                            Mã nhóm
                                        </label>
                                        <div class="MuiFormControl-root jss756 MuiFormControl-fullWidth"
                                             field="[object Object]" form="[object Object]">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth">
                                                <input aria-invalid="false"
                                                       id="cusGrpCodeUp"
                                                       name="cusGrpCodeUp"
                                                       placeholder="Nhập mã nhóm khách hàng" type="text"
                                                       aria-label="Without label"
                                                       class="MuiInputBase-input MuiOutlinedInput-input placeholder_text"
                                                       fdprocessedid="sytfp">
                                                <fieldset aria-hidden="true"
                                                          class="jss823 MuiOutlinedInput-notchedOutline">
                                                    <legend class="jss824">
                                                    </legend>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="error cusGrpCode-error hidden"></div>
                                    </div>
                                </div>
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label data-shrink="true" for="noteUp"
                                               class="MuiFormLabel-root MuiInputLabel-root jss755 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink">
                                            Mô tả
                                            <span class="MuiTypography-root MuiTypography-caption"
                                                  title="Mô tả khách hàng của bạn để phục vụ cho việc chăm sóc khách hàng tốt hơn">
                                                <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                     width="16" height="16" color="primary" class="jss23713">
                                                    <path fill="#0088FF"
                                                          d="M7.4 5v1.2h1.2V5H7.4ZM7.4 8.6V11h1.8V9.8h-.6V7.4H6.8v1.2h.6Z">
                                                    </path>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#0088FF"
                                                          d="M8 2C4.688 2 2 4.688 2 8s2.688 6 6 6 6-2.688 6-6-2.688-6-6-6ZM3.2 8c0 2.646 2.154 4.8 4.8 4.8s4.8-2.154 4.8-4.8S10.646 3.2 8 3.2A4.806 4.806 0 0 0 3.2 8Z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </label>
                                        <div class="MuiFormControl-root jss757 jss756 MuiFormControl-fullWidth"
                                             field="[object Object]" form="[object Object]">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-multiline MuiOutlinedInput-multiline">
                                                <textarea aria-invalid="false" id="noteUp" rows="3"
                                                          aria-label="Without label" name="noteUp"
                                                          class="MuiInputBase-input MuiOutlinedInput-input MuiInputBase-inputMultiline MuiOutlinedInput-inputMultiline placeholder_text">
                                                </textarea>
                                                <fieldset aria-hidden="true"
                                                          class="jss823 MuiOutlinedInput-notchedOutline">
                                                    <legend class="jss824">
                                                        <span>&ZeroWidthSpace;</span>
                                                    </legend>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="error note-error hidden"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="MuiGrid-item MuiGrid-grid-xs-6">
                    <div class="MuiPaper-root jss721 MuiPaper-elevation1 MuiPaper-rounded">
                        <div class="jss751 jss722 borderBottom">
                            <div class="jss1769">
                                <h6 class="MuiTypography-root jss24250">
                                    Cài đặt nâng cao
                                </h6>
                                <button class="MuiButtonBase-root MuiIconButton-root jss723" tabindex="0" type="button"
                                        title="Cài đặt nâng cao" fdprocessedid="dazdea">
                                    <span class="MuiIconButton-label">
                                        <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                                             width="16" height="16" color="primary" class="jss724">
                                            <path fill="#0088FF"
                                                  d="M7.4 5v1.2h1.2V5H7.4ZM7.4 8.6V11h1.8V9.8h-.6V7.4H6.8v1.2h.6Z">
                                            </path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#0088FF"
                                                  d="M8 2C4.688 2 2 4.688 2 8s2.688 6 6 6 6-2.688 6-6-2.688-6-6-6ZM3.2 8c0 2.646 2.154 4.8 4.8 4.8s4.8-2.154 4.8-4.8S10.646 3.2 8 3.2A4.806 4.806 0 0 0 3.2 8Z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="MuiTouchRipple-root"></span>
                                </button>
                            </div>
                        </div>
                        <div class="jss23712">
                            <div class="MuiGrid-container MuiGrid-spacing-xs-2">
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label class="MuiFormLabel-root MuiInputLabel-root jss755 MuiInputLabel-formControl
                                        MuiInputLabel-animated MuiInputLabel-shrink" data-shrink="true"
                                               for="searchDefaultPriceDropdown">
                                            Giá mặc định
                                        </label>
                                        <div class="dropdown jss1784 jss1769"
                                             onclick="CustomerApp.page.commands.showDefaultPricingPolicyDropdown()"
                                             id="defaultPriceContainer">
                                            <p id="selectedPriceDefault">Chọn giá mặc định</p>
                                        </div>
                                        <div id="defaultPriceDropdown" class="dropdown-content">
                                            <div>
                                                <div class="jss23596">
                                                    <div class="jss23775 jss23769">
                                                        <i class="fa-solid fa-magnifying-glass"></i>
                                                    </div>
                                                    <div class="MuiGrid-container">
                                                        <input type="text" placeholder="Tìm kiếm" class="jss23784"
                                                               id="searchDefaultPriceDropdown"
                                                               onkeyup="CustomerApp.searchDefaultPriceDropdown()">
                                                    </div>
                                                </div>
                                            </div>
                                            <div onclick="CustomerApp.page.commands.showModalCreatePricePolicy()">
                                                <div class="jss23596">
                                                    <div class="jss23775 jss23769 jss760">
                                                        <i class="fa-solid fa-circle-plus"></i>
                                                    </div>
                                                    <span class="jss760 jss754">Thêm mới chính sách giá</span>
                                                </div>
                                            </div>
                                            <div id="listPricePolicy" class=" jss23783"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label class="MuiFormLabel-root MuiInputLabel-root jss755 MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                               data-shrink="true" for="defaultDiscountRateUP">
                                            Chiết khấu (%)
                                        </label>
                                        <div class="MuiFormControl-root jss756 MuiFormControl-fullWidth"
                                             field="[object Object]" form="[object Object]">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth ">
                                                <input aria-invalid="false"
                                                       id="defaultDiscountRateUP" name="defaultDiscountRateUP"
                                                       type="text" aria-label="Without label"
                                                       class="MuiInputBase-input MuiOutlinedInput-input jss758 placeholder_text"
                                                       placeholder="0"
                                                       fdprocessedid="16ju8f">
                                                <fieldset aria-hidden="true"
                                                          class="jss823 MuiOutlinedInput-notchedOutline">
                                                    <legend class="jss824"></legend>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="error defaultDiscountRate-error hidden"></div>
                                    </div>
                                </div>
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label class="MuiFormLabel-root MuiInputLabel-root jss755
                                               MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                               data-shrink="true" for="dropdownPaymentMethod">
                                            Hình thức thanh toán
                                        </label>
                                        <select id="dropdownPaymentMethod" class="jss759" name="dropdownPaymentMethod">
                                            <option value="0" class="jss23599">Chọn hình thức thanh toán</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
<th:block th:replace="/admin/customer/modal_createPricePolicy"/>
<th:block th:replace="/admin/customer/modal_dele_Cus_Grp"/>
<th:block th:replace="/admin/customer/layout/script"/>
<script src="/assets/admin/js/customer/customerGroup_App.js"></script>
<script src="/assets/admin/js/customer/customer_app.js"></script>

<script>
    let currentCustomerGroup = {};

    // start update customer group
    CustomerApp.page.elements.frmUpdateCusGrp = $("#frmUpdateCusGrp");
    CustomerApp.page.elements.titleGroupUp = $("#titleGroupUp");
    CustomerApp.page.elements.cusGrpCodeUp = $("#cusGrpCodeUp");
    CustomerApp.page.elements.noteUp = $("#noteUp");
    CustomerApp.page.elements.defaultDiscountRateUP = $("#defaultDiscountRateUP");
    CustomerApp.page.elements.selectedPriceDefault = $("#selectedPriceDefault");
    CustomerApp.page.elements.listPricePolicy = $("#listPricePolicy");
    CustomerApp.page.elements.defaultPriceDropdown = $("#defaultPriceDropdown");
    CustomerApp.page.elements.paymentType = $("#paymentType");

    CustomerApp.page.elements.cusGrpCodeError = $(".cusGrpCode-error.error");
    CustomerApp.page.elements.noteError = $(".note-error.error");
    CustomerApp.page.elements.defaultDiscountRateError = $(".defaultDiscountRate-error.error");

    CustomerApp.page.elements.btnShowModalDeleteCustomerGroup = $("#btnShowModalDeleteCustomerGroup");
    CustomerApp.page.elements.btnUpdateCustomerGroup = $("#btnUpdateCustomerGroup");

    CustomerApp.page.dialogs.modal_del_cus_grp = $("#modal_del_cus_grp");


    CustomerApp.page.elements.selectBtnPay = $('.select-btn-pay');
    CustomerApp.page.elements.dropdownPaymentMethod = $("#dropdownPaymentMethod");

    //end update customer group

    //start modal delete customer group
    CustomerApp.page.dialogs.elements.showCusGrpDelete = $("#showCusGrpDelete");
    CustomerApp.page.dialogs.elements.dismissDelete = $(".dismissDelete");
    CustomerApp.page.dialogs.elements.btnDeleteCustomerGroup = $("#btnDeleteCustomerGroup");
    //end modal delete customer group

    //start modal create default price policy
    CustomerApp.page.elements.modalCreatePricePolicy = $("#modalCreatePricePolicy");

    CustomerApp.page.elements.titlePricePolicyCre = $("#titlePricePolicyCre");
    CustomerApp.page.elements.pricingPolicyCodeCre = $("#pricingPolicyCodeCre");

    CustomerApp.page.elements.frmCreatePricePolicy = $("#frmCreatePricePolicy");
    CustomerApp.page.elements.btnCreatePricePolicy = $("#btnCreatePricePolicy");
    CustomerApp.page.elements.btnCloseCreatePricePolicyModal = $(".btnCloseCreatePricePolicyModal");
    CustomerApp.page.elements.pricingPolicyCodeError = $(".pricingPolicyCode-error.error");
    CustomerApp.page.elements.pricingPolicyTypeError = $(".pricingPolicyType-error.error");
    CustomerApp.page.elements.titleError = $(".title-error.error");
    CustomerApp.page.elements.searchDefaultPriceDropdown = $("#searchDefaultPriceDropdown");
    //end modal create default price policy

    CustomerApp.page.commands.updateCustomerGroup = () => {
        CustomerApp.page.elements.btnUpdateCustomerGroup.click(() => {
            let id = +window.location.pathname.split('/')[3];
            currentCustomerGroup.title = CustomerApp.getValue(CustomerApp.page.elements.titleGroupUp);
            currentCustomerGroup.cusGrpCode = CustomerApp.getValue(CustomerApp.page.elements.cusGrpCodeUp);
            currentCustomerGroup.note = CustomerApp.getValue(CustomerApp.page.elements.noteUp);
            currentCustomerGroup.defaultDiscountRate = CustomerApp.getValue(CustomerApp.page.elements.defaultDiscountRateUP);
            console.log(currentCustomerGroup)
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "PATCH",
                url: origin + "/api/customer_groups/" + id,
                data: JSON.stringify(currentCustomerGroup)
            })
                .done(() => {
                    CustomerApp.IziToast.showSuccessAlert("Cập nhật nhóm khách hàng thành công");
                })
                .fail((jqXHR) => {
                    let errors = jqXHR.responseJSON.errors;

                    if (errors.title) {
                        CustomerApp.showErrorValidate(CustomerApp.page.elements.titleError, errors.title)
                    }
                    if (errors.cusGrpCode) {
                        CustomerApp.showErrorValidate(CustomerApp.page.elements.cusGrpCodeError, errors.cusGrpCode)
                    }
                    if (errors.note) {
                        CustomerApp.showErrorValidate(CustomerApp.page.elements.noteError, errors.note)
                    }
                    if (errors.defaultDiscountRate) {
                        CustomerApp.showErrorValidate(CustomerApp.page.elements.defaultDiscountRateError, errors.defaultDiscountRate)
                    }
                })
        })
    }

    CustomerApp.page.commands.getDefaultPricingPolicy = () => {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: origin + "/api/pricing-policies"
        })
            .done((data) => {
                data.forEach(item => {
                    let str = `<a class="jss23775 selectDefaultPricePolicy" data-id="${item.id}" data-value=${item.title}>
                                    ${item.title}
                                </a>`;

                    CustomerApp.page.elements.listPricePolicy.prepend(str);
                    if (item.id === currentCustomerGroup.defaultPricingPolicyId) {
                        let value = item.title;
                        CustomerApp.page.elements.selectedPriceDefault.text(value);
                    }
                });
                CustomerApp.page.commands.selectDefaultPricePolicy();
            })
            .fail((jqXHR) => {
                console.log(jqXHR)
            })
    }


    CustomerApp.page.loadData.getCustomerUpdate = () => {
        let id = +window.location.pathname.split('/')[3];

        return $.ajax({
            type: "GET",
            url: origin + "/api/customer_groups/" + id
        }).done((data) => {
            currentCustomerGroup = {...data}
            CustomerApp.page.elements.titleGroupUp.val(data.title);
            CustomerApp.page.elements.cusGrpCodeUp.val(data.cusGrpCode);
            CustomerApp.page.elements.noteUp.val(data.note);
            CustomerApp.page.elements.defaultDiscountRateUP.val(data.defaultDiscountRate);
        })
            .fail((jqXHR) => {
                console.log(jqXHR)
            })
    }

    $(() => {
        CustomerApp.page.loadData.getCustomerUpdate().then(() => {
            CustomerApp.page.commands.updateCustomerGroup();
            CustomerApp.page.commands.getAllPaymentMethod();
            CustomerApp.page.commands.getDefaultPricingPolicy();
            CustomerApp.page.dialogs.commands.deleteCustomerGroup();
            CustomerApp.page.dialogs.commands.showModalDelete();
        });
    })

    //start payment method
    CustomerApp.page.commands.getAllPaymentMethod = () => {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: origin + "/api/admin/payment_methods"
        })
            .done((data) => {
                data.forEach(item => {
                    let str = `<option value=${item.id} class="selectedPaymentMethod">${item.title}</option>`;

                    CustomerApp.page.elements.dropdownPaymentMethod.append(str);

                    if (item.id === currentCustomerGroup.defaultPaymentMethodId) {
                        $('#dropdownPaymentMethod option').prop('selected', true)
                    }
                });
                CustomerApp.page.commands.selectPaymentMethod();
            })
            .fail((jqXHR) => {
                console.log(jqXHR)
            })
    }

    CustomerApp.page.commands.selectPaymentMethod = () => {
        $(".selectedPaymentMethod").click(function () {
            currentCustomerGroup.defaultPaymentMethodId = $(this).val();
        })
    }
    //end payment method


    CustomerApp.page.elements.btnCreatePricePolicy.on("click", () => {
        CustomerApp.page.elements.frmCreatePricePolicy.trigger("submit");
    })

    CustomerApp.page.commands.selectDefaultPricePolicy = () => {
        $(".selectDefaultPricePolicy").on('click', function () {
            currentCustomerGroup.defaultPricingPolicyId = $(this).data('id');
            let value = $(this).data('value');

            CustomerApp.page.elements.selectedPriceDefault.text(value);
            CustomerApp.page.elements.defaultPriceDropdown[0].classList.toggle("show")
        })
    }

    CustomerApp.page.commands.showDefaultPricingPolicyDropdown = () => {
        CustomerApp.page.elements.defaultPriceDropdown[0].classList.toggle("show")
    }

    CustomerApp.page.dialogs.commands.deleteCustomerGroup = () => {
        CustomerApp.page.dialogs.elements.btnDeleteCustomerGroup.click(() => {
            let id = currentCustomerGroup.id;
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "DELETE",
                url: origin + "/api/customer_groups/delete/" + id
            }).done(() => {
                CustomerGroup_App.IziToast.showSuccessAlert("Xóa nhóm khách hàng thành công");
                CustomerApp.page.dialogs.modal_del_cus_grp.modal('hide');
                window.location.href = "/admin/customer_groups";
            }).fail((jqXHR) => {
                CustomerGroup_App.IziToast.showErrorAlert("Xóa nhóm khách hàng thất bại");
                console.log(jqXHR)
            })
        })
    }

    CustomerApp.page.dialogs.elements.dismissDelete.click(() => {
        CustomerApp.page.dialogs.elements.showCusGrpDelete.empty();
    })

    CustomerApp.page.dialogs.commands.showModalDelete = () => {
        CustomerApp.page.elements.btnShowModalDeleteCustomerGroup.click(() => {
            CustomerApp.page.dialogs.modal_del_cus_grp.modal('show');

            let str = `Bạn có chắc chắn muốn xóa nhóm khách hàng ${currentCustomerGroup.title}? Thao tác này không thể khôi phục.`;
            CustomerApp.page.dialogs.elements.showCusGrpDelete.append(str)
        })
    }

    //start create default pricing policy

    CustomerApp.page.commands.showModalCreatePricePolicy = () => {
        CustomerApp.page.elements.modalCreatePricePolicy.modal("show");
    }
    //create price policy
    CustomerApp.page.commands.createPricePolicy = () => {
        let pricingPolicy = {
            title: CustomerApp.getValue(CustomerApp.page.elements.titlePricePolicyCre),
            pricingPolicyCode: CustomerApp.getValue(CustomerApp.page.elements.pricingPolicyCodeCre),
            pricingPolicyType: $('input[name="policyStyle"]:checked').val()
        }

        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "POST",
            url: origin + "/api/pricing-policies",
            data: JSON.stringify(pricingPolicy)
        }).done((data) => {
            let str = `<a class="jss23775 selectPricePolicy" data-id="${data.id}" data-value="${data.title}">
                         ${data.title}
                       </a>`;

            CustomerApp.page.elements.listPricePolicy.prepend(str);
            CustomerApp.IziToast.showSuccessAlert("Thêm mới chính sách giá thành công")
            CustomerApp.page.elements.modalCreatePricePolicy.modal("hide");
            CustomerApp.page.elements.frmCreatePricePolicy[0].reset();
            CustomerApp.page.commands.selectPricePolicy();
        })
            .fail((jqXHR) => {
                console.log(jqXHR)
                let errors = jqXHR.responseJSON.errors;

                if (errors.title) {
                    CustomerApp.showErrorValidate(CustomerApp.page.elements.titleError, errors.title)
                }
                if (errors.pricingPolicyCode) {
                    CustomerApp.showErrorValidate(CustomerApp.page.elements.pricingPolicyCodeError, errors.pricingPolicyCode)
                }
                if (errors.pricingPolicyType) {
                    CustomerApp.showErrorValidate(CustomerApp.page.elements.pricingPolicyTypeError, errors.pricingPolicyType)
                }
            })
    }

    CustomerApp.page.elements.btnCloseCreatePricePolicyModal.click(() => {
        CustomerApp.page.elements.frmCreatePricePolicy.validate().resetForm();
        CustomerApp.page.elements.frmCreatePricePolicy[0].reset();
        CustomerApp.page.elements.error.removeClass('show').addClass('hidden');
    })

    CustomerApp.page.elements.btnCreatePricePolicy.on("click", () => {
        CustomerApp.page.elements.frmCreatePricePolicy.trigger("submit");
    })

    CustomerApp.page.elements.frmUpdateCusGrp.validate({
        rules: {
            titleGroupUp: {
                required: true,
                maxlength: 250,
            },
            cusGrpCodeUp: {
                maxlength: 50,
            },
            noteUp: {
                maxlength: 255,
            },
            defaultDiscountRateUp: {
                digits: true,
                range: [0, 100]
            }
        },
        messages: {
            titleGroupUp: {
                required: "Tên nhóm khách hàng không được để trống",
                maxlength: "Tên nhóm khách hàng không được vượt quá 250 ký tự"
            },
            cusGrpCodeUp: {
                maxlength: "Mã nhóm khách hàng không được vượt quá 50 ký tự",
            },
            noteUp: {
                maxlength: "Mô tả không quá 255 ký tự",
            },
            defaultDiscountRateUp: {
                digits: "Chỉ được nhập số",
                range: "Chiết khấu từ 0% đến 100%",
            },
        },
        errorElement: 'label',
        errorPlacement: (error, element) => {
            error.appendTo(element.parent("div").parent("div").next("div"));
        },
        success: (label) => {
            label.removeClass('hidden').addClass('show')
        },
        submitHandler: () => {
            CustomerApp.page.commands.updateCustomerGroup();
        },
        invalidHandler: () => {
            CustomerApp.IziToast.showErrorAlert('Vui lòng nhập đúng thông tin')
        }

    })

    CustomerApp.page.elements.frmCreatePricePolicy.validate({
        rules: {
            titlePricePolicyCre: {
                required: true,
                maxlength: 50,
            },
            pricingPolicyCodeCre: {
                required: true,
                maxlength: 50,
            },
            policyStyle: {
                required: true,
            }
        },
        messages: {
            titlePricePolicyCre: {
                required: "Tên chính sách giá không được để trống",
                maxlength: "Tên chính sách giá không được vượt quá 50 ký tự"
            },
            pricingPolicyCodeCre: {
                required: "Mã chính sách giá không được để trống",
                maxlength: "Mã chính sách giá không được vượt quá 50 ký tự"
            },
            policyStyle: {
                required: "Vui lòng chọn loại chính sách giá"
            }
        },
        showErrors: (error) => {
            if (error.titlePricePolicyCre) {
                CustomerApp.showErrorValidate(CustomerApp.page.elements.titleError, error.titlePricePolicyCre);
            }
            if (error.pricingPolicyCodeCre) {
                CustomerApp.showErrorValidate(CustomerApp.page.elements.pricingPolicyCodeError, error.pricingPolicyCodeCre);
            }
            if (error.policyStyle) {
                CustomerApp.showErrorValidate(CustomerApp.page.elements.pricingPolicyTypeError, error.policyStyle);
            }
        },
        submitHandler: () => {
            CustomerApp.page.commands.createPricePolicy();
        },
    });
    //end create default pricing policy

</script>
</html>