<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi-VN" class="sapo-menu-expand sapo-menu-toggle-active">
<head>
    <title>Cập Nhập Nhóm Khách Hàng</title>

    <th:block th:replace="/layout/header"/>

    <link rel="stylesheet" href="/assets/admin/css/customer/cus_group.css"/>
    <!--    <link rel="stylesheet" href="/assets/admin/css/product/selectMenu.css">-->
    <!--    <link rel="stylesheet" href="/assets/admin/css/w3school/w3.css">-->
</head>
<body>
<th:block th:replace="/layout/menu"/>
<div class="jss64 jss40">
    <div>
        <div class="jss10118">
            <div class="jss10121">
                <a href="/admin/customer_groups"
                   class="MuiTypography-root MuiLink-underlineNone jss23596 MuiTypography-colorSecondary">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="jss23598">
                        <path d="M14.298 5.99 8.288 12l6.01 6.01 1.414-1.414L11.116 12l4.596-4.596-1.414-1.414Z"
                              fill="currentColor">
                        </path>
                    </svg>
                    <h6 class="MuiTypography-root MuiTypography-subtitle1">
                        Quay lại danh sách nhóm khách hàng
                    </h6>
                </a>
                <span hidden id="cusGrpId" th:text="${customerGroup.getId()}"></span>
            </div>
            <div class="jss20296">
                <button type="button" id="btnShowModalDelete" class="ldZiUT ldZabc">
                    Xóa
                </button>
                <button id="btnUpdateCustomerGroup" class="RthGc ldZabc" type="button">
                        <span class="cMXJOk">
                            Lưu
                        </span>
                </button>
            </div>
        </div>
    </div>
    <form>
        <div class="jss608">
            <div class="MuiGrid-container MuiGrid-spacing-xs-3">
                <div class="MuiGrid-item MuiGrid-grid-xs-6">
                    <div class="MuiPaper-root jss23708 MuiPaper-elevation1 MuiPaper-rounded">
                        <div class="jss751 jss722 borderBottom">
                            <div>
                                <h6 class="MuiTypography-root jss24250">
                                    Thông tin chung
                                </h6>
                            </div>
                        </div>
                        <div class="jss23712">
                            <div class="MuiGrid-container MuiGrid-spacing-xs-2">
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label data-shrink="true" for="upTitleGroup"
                                               class="MuiFormLabel-root MuiInputLabel-root jss755 MuiInputLabel-animated MuiInputLabel-shrink">
                                            Tên nhóm
                                            <span class="MuiFormLabel-asterisk">&thinsp;*</span>
                                        </label>
                                        <div class="MuiFormControl-root jss756 MuiFormControl-fullWidth"
                                             field="[object Object]" form="[object Object]">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth">
                                                <input aria-invalid="false"
                                                       id="upTitleGroup"
                                                       placeholder="Nhập tên nhóm khách hàng"
                                                       type="text"
                                                       aria-label="Without label"
                                                       class="MuiInputBase-input MuiOutlinedInput-input placeholder_text"
                                                       fdprocessedid="7i85i6" th:value="${customerGroup.title}">
                                                <fieldset aria-hidden="true"
                                                          class="jss823 MuiOutlinedInput-notchedOutline">
                                                    <legend class="jss824">
                                                    </legend>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label class="MuiFormLabel-root MuiInputLabel-root jss755
                                        MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                               data-shrink="true" for="upCusGrpCode">
                                            Mã nhóm
                                        </label>
                                        <div class="MuiFormControl-root jss756 MuiFormControl-fullWidth"
                                             field="[object Object]" form="[object Object]">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth">
                                                <input aria-invalid="false"
                                                       id="upCusGrpCode"
                                                       placeholder="Nhập mã nhóm khách hàng" type="text"
                                                       aria-label="Without label"
                                                       class="MuiInputBase-input MuiOutlinedInput-input placeholder_text"
                                                       th:value="${customerGroup.cusGrpCode}"
                                                       fdprocessedid="sytfp">
                                                <fieldset aria-hidden="true"
                                                          class="jss823 MuiOutlinedInput-notchedOutline">
                                                    <legend class="jss824">
                                                    </legend>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label class="MuiFormLabel-root MuiInputLabel-root jss755 MuiInputLabel-formControl 
                                        MuiInputLabel-animated MuiInputLabel-shrink" data-shrink="true"
                                               for="upDescription">
                                            Mô tả
                                            <span class="MuiTypography-root MuiTypography-caption">
                                                <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                     width="16" height="16" font-size="16" color="primary"
                                                     class="jss23713">
                                                    <path d="M7.4 5v1.2h1.2V5H7.4ZM7.4 8.6V11h1.8V9.8h-.6V7.4H6.8v1.2h.6Z" fill="#0088FF">
                                                    </path>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#0088FF"
                                                                                        d="M8 2C4.688 2 2 4.688 2 8s2.688 6 6 6 6-2.688 6-6-2.688-6-6-6ZM3.2 8c0 2.646 2.154 4.8 4.8 4.8s4.8-2.154 4.8-4.8S10.646 3.2 8 3.2A4.806 4.806 0 0 0 3.2 8Z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </label>
                                        <div class="MuiFormControl-root jss757 jss756 MuiFormControl-fullWidth"
                                             field="[object Object]" form="[object Object]">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth 
                                            MuiInputBase-multiline MuiOutlinedInput-multiline">
                                                <textarea aria-invalid="false" id="upDescription"
                                                          rows="3" aria-label="Without label"
                                                          class="MuiInputBase-input MuiOutlinedInput-input MuiInputBase-inputMultiline MuiOutlinedInput-inputMultiline"
                                                          th:field="*{customerGroup.description}">
                                                </textarea>
                                                <fieldset aria-hidden="true"
                                                          class="jss823 MuiOutlinedInput-notchedOutline">
                                                    <legend class="jss824">
                                                        <span>&ZeroWidthSpace;</span>
                                                    </legend>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="MuiGrid-item MuiGrid-grid-xs-6">
                    <div class="MuiPaper-root jss721 MuiPaper-elevation1 MuiPaper-rounded">
                        <div class="jss751 jss722 borderBottom">
                            <div class="jss1769">
                                <h6 class="MuiTypography-root jss24250">
                                    Cài đặt nâng cao
                                </h6>
                                <button class="MuiButtonBase-root MuiIconButton-root jss723" tabindex="0" type="button"
                                        title="Cài đặt nâng cao" fdprocessedid="dazdea">
                                    <span class="MuiIconButton-label">
                                        <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                                        width="16" height="16" color="primary" class="jss724">
                                            <path fill="#0088FF"
                                        d="M7.4 5v1.2h1.2V5H7.4ZM7.4 8.6V11h1.8V9.8h-.6V7.4H6.8v1.2h.6Z">
                                            </path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#0088FF"
                                                                    d="M8 2C4.688 2 2 4.688 2 8s2.688 6 6 6 6-2.688 6-6-2.688-6-6-6ZM3.2 8c0 2.646 2.154 4.8 4.8 4.8s4.8-2.154 4.8-4.8S10.646 3.2 8 3.2A4.806 4.806 0 0 0 3.2 8Z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="MuiTouchRipple-root"></span>
                                </button>
                            </div>
                        </div>
                        <div class="jss23767">
                            <div class="MuiGrid-container MuiGrid-spacing-xs-2">
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="jss865 jss1785">
                                        <span class="MuiTypography-root title MuiTypography-subtitle1">
                                            Giá Mặc Định
                                        </span>
                                        <div class="dropdown jss1784">
                                            <div class="dropdown-toggle select_btn_pri" type="button" data-bs-toggle="dropdown"
                                                 aria-expanded="false">
                                                <span id="upPricingType"
                                                      th:text="*{customerGroup.pricingPolicyId != null} ? *{customerGroup.getPricingPolicyId()} : 'Chọn giá mặc định' ">
                                                </span>
                                            </div>
                                            <ul class="dropdown-menu w-100 showAllPricingPolicy">
                                                <div class="jss23768">
                                                    <li>
                                                        <div class="d-flex align-items-center jss761">
                                                            <i class="fa-solid fa-magnifying-glass jss23769"></i>
                                                            <input id="inputSearchPri"
                                                                   class="w-100 form-control border border-0"
                                                                   placeholder="Tìm kiếm hoặc nhập mới"/>
                                                        </div>
                                                    </li>
                                                    <li class="text-primary dropdown-item jss761">
                                                            <i class="fa-solid fa-circle-plus jss23772"></i>
                                                        Thêm mới chính sách giá
                                                    </li>
                                                </div>
                                                <div id="showAllPricing">
                                                    <div th:selected="*{customerGroup.getPricingPolicyId()}"></div>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="MuiFormControl-root jss754 MuiFormControl-fullWidth">
                                        <label class="MuiFormLabel-root MuiInputLabel-root jss755
                                        MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink"
                                            data-shrink="true" for="upDiscount">
                                            Chiết khấu (%)
                                        </label>
                                        <div class="MuiFormControl-root jss756 MuiFormControl-fullWidth"
                                             field="[object Object]" form="[object Object]">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth">
                                                <input aria-invalid="false"
                                                       id="upDiscount"
                                                       type="text" aria-label="Without label"
                                                       class="MuiInputBase-input MuiOutlinedInput-input jss758 placeholder_text"
                                                       th:value="*{customerGroup.discount}" fdprocessedid="16ju8f">
                                                <fieldset aria-hidden="true"
                                                          class="jss823 MuiOutlinedInput-notchedOutline">
                                                    <legend class="jss824">
                                                        <span>&ZeroWidthSpace;</span>
                                                    </legend>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="MuiGrid-item MuiGrid-grid-xs-12">
                                    <div class="jss865 jss1785">
                                        <span class="MuiTypography-root title MuiTypography-subtitle1">
                                            Hình Thức Thanh Toán
                                        </span>
                                        <div class="dropdown jss1784">
                                            <div class="dropdown-toggle select_btn_pay jss759"
                                                 type="button" data-bs-toggle="dropdown"
                                                 aria-expanded="false">
                                                <span id="upPaymentType"
                                                      th:text="*{customerGroup.paymentMethodId != null} ? *{customerGroup.paymentMethodId} : 'Chọn hình thức thanh toán' "></span>
                                            </div>
                                            <ul class="dropdown-menu w-100 showAllPaymentMethod">
                                                <li class="jss760 jss761">Chọn hình thức thanh toán</li>
                                                <div id="showAllPay">
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
<th:block th:replace="/admin/customer/model_dele_Cus_Grp"/>
<th:block th:replace="/layout/script"/>
<script src="/assets/admin/js/customer/customerGroup_App.js"></script>
<script src="/assets/admin/js/customer/customer_app.js"></script>

<script>
    let pricingPolicy;
    let paymentMethod;
    let updateCusGroupParam = new CustomerGroup();
    
    CustomerApp.page.elements.selectBtnPri = $('.select_btn_pri');
    CustomerApp.page.elements.selectBtnPay = $('.select_btn_pay');
    CustomerApp.page.elements.showAllPricing = $("#showAllPricing");
    CustomerApp.page.elements.upPricingType = $("#upPricingType");
    CustomerApp.page.elements.showAllPay = $("#showAllPay");
    CustomerApp.page.elements.upPaymentType = $("#upPaymentType");
    CustomerApp.page.elements.btnUpdateCustomerGroup = $("#btnUpdateCustomerGroup");
    CustomerApp.page.elements.cusGrpId = $("#cusGrpId");
    CustomerApp.page.elements.btnShowModalDelete = $("#btnShowModalDelete");
    CustomerApp.page.elements.modalDeleCusGrp = $("#modal_dele_cus_grp");
    CustomerApp.page.elements.upTitleGroup = $("#upTitleGroup");
    CustomerApp.page.elements.upCusGrpCode = $("#upCusGrpCode");
    CustomerApp.page.elements.upDescription = $("#upDescription");
    CustomerApp.page.elements.upDiscount = $("#upDiscount");
    CustomerApp.page.elements.btnDeleteCustomer = $("#btn_deleteCustomer");

    // Lấy List Pricing Policy
    CustomerApp.page.commands.getAllPricingPolicy = (selectedPricing) => {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: origin + "/api/pricingPolicys"
        })
            .done((data) => {
                console.log(data);
                pricingPolicy = data;
                pricingPolicy.forEach(item => {
                    let isSelected = item === selectedPricing ? "selected" : "";
                    let str = `<li id="${item.id}" data-id="${item.id}" onclick="CustomerApp.page.commands.updateNamePri(${item.id})" class="${isSelected} catItem dropdown-item">${item.title}</li>`;
                    CustomerApp.page.elements.showAllPricing.append(str);
                });
            })
            .fail((jqXHR) => {
                console.log(jqXHR)
            })
    }

    //show select pricing policy
    CustomerApp.page.commands.updateNamePri = (id) => {
        const arrayCat = pricingPolicy.filter(item => item.id === id)
        const val = arrayCat[0].title;
        console.log("is", id, val)
        CustomerApp.page.elements.selectBtnPri.firstElementChild.innerText = val;
        CustomerApp.page.elements.upPricingType.data("id", id);
        let idValue = CustomerApp.page.elements.upPricingType.data("id");
        console.log(idValue);
    }

    // Lấy List Payment Method
    CustomerApp.page.commands.getAllPaymentMethod = (selectedPayment) => {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: origin + "/api/admin/payment_methods"
        })
            .done((data) => {
                console.log(data);
                paymentMethod = data;
                paymentMethod.forEach(item => {
                    let isSelected = item === selectedPayment ? "selected" : "";
                    let str = `<li id="${item.id}" data-id="${item.id}" onclick="CustomerApp.page.commands.updateNamePay('${item.id}')" class="${isSelected} catItem dropdown-item jss761">${item.title}</li>`;
                    CustomerApp.page.elements.showAllPay.append(str);
                });
            })
            .fail((jqXHR) => {
                console.log(jqXHR)
            })
    }

    //show select payment method
    CustomerApp.page.commands.updateNamePay = (id) => {
        const arrayCat = paymentMethod.filter(item => item.id === id)
        const val = arrayCat[0].title;
        console.log("is", id, val)
        CustomerApp.page.elements.selectBtnPay.firstElementChild.innerText = val;
        CustomerApp.page.elements.upPaymentType.data("id", id);
        let idValue = CustomerApp.page.elements.upPaymentType.data("id");
        console.log(idValue);
    }

    CustomerApp.page.elements.btnUpdateCustomerGroup.on('click', () => {
        let id = CustomerApp.page.elements.cusGrpId.text();
        updateCusGroupParam.id = id;
        updateCusGroupParam.title = CustomerApp.page.elements.upTitleGroup.val();
        updateCusGroupParam.cusGrpCode = CustomerApp.page.elements.upCusGrpCode.val();
        updateCusGroupParam.description = CustomerApp.page.elements.upDescription.val();
        updateCusGroupParam.pricing_policy_id = CustomerApp.page.elements.upPricingType.data("id");
        updateCusGroupParam.discount = CustomerApp.page.elements.upDiscount.val();
        updateCusGroupParam.payment_method_id = CustomerApp.page.elements.upPaymentType.data("id");
        console.log(updateCusGroupParam)
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "POST",
            "url": origin + "/api/customer_groups/update",
            "data": JSON.stringify(updateCusGroupParam)
        })
            .done((data) => {
                console.log(data);
                let id = data.id;
                CustomerGroup_App.IziToast.showSuccessAlert('Sửa nhóm khách hàng thành công  !!!')

                setTimeout(() => {
                    window.location.href = "/admin/customer_groups/" + id;
                }, 1000)

            })
            .fail((jqXHR) => {
                console.log(jqXHR);
                if (jqXHR.responseJSON) {
                    $.each(jqXHR.responseJSON, (key, item) => {
                        CustomerGroup_App.IziToast.showErrorAlert(item);
                    })
                }
            })
    })

    CustomerApp.page.commands.getCusGroupById = (Id) => {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: origin + "/api/customer_groups" + "/" + Id
        })
            .done((data) => {
                customerGroup = data;
                console.log(customerGroup);
            })
            .fail((jqXHR) => {
                if (jqXHR.responseJSON) {
                    $.each(jqXHR.responseJSON, (key, item) => {
                        CustomerGroup_App.IziToast.showErrorAlert(item);
                    })
                }
            });
    }

    CustomerApp.page.commands.showModalDelete = () => {
        CustomerApp.page.elements.btnShowModalDelete.click(function () {
            CustomerApp.page.elements.modalDeleCusGrp.modal('show');
        });
    }

    CustomerApp.page.commands.deleteCusGrpHandler = () => {
        let id = CustomerApp.page.elements.cusGrpId.text();

        CustomerApp.page.elements.btnDeleteCustomer.click(() => {
            console.log(id)
            return $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "DELETE",
                url: origin + "/api/customer_groups/delete/" + id,
            })
                .done((data) => {
                    CustomerGroup_App.IziToast.showSuccessAlert("Xoá nhóm khách hàng thành công  !!! ");
                    CustomerApp.page.elements.modalDeleCusGrp.modal('hide');

                    setTimeout(() => {
                        window.location.href = "/admin/customer_groups";
                    }, 2500)
                })
                .fail((jqXHR) => {
                    $.each(jqXHR.responseJSON, (key, item) => {
                        CustomerGroup_App.IziToast.showErrorAlert(item);
                    })
                })
        })
    }

    CustomerApp.page.commands.deleteCusGrpHandler();

    $(() => {
        CustomerApp.page.commands.getAllPricingPolicy();
        CustomerApp.page.commands.getAllPaymentMethod();
        CustomerApp.page.commands.showModalDelete();
    })
</script>
</html>