.customer-groups {
    background-color: #f0f1f1;
    height: 100%;

    .add-customer-group {
        min-width: 4.57143rem;
        height: 2.57143rem;
        background: #0088ff;
        margin-right: 2rem;
    }

    .customer-group-table {
        padding: 0 2rem 2rem 2rem;
    }
}
