.filter-content {
    display: block;
    display: flex;
    flex-direction: column;
}

.btnDropdown {
    font-size: 14px;
    height: 2.5rem;
    width: 12rem;
    padding: 0;
    padding-left: 1.5rem;
    border-radius: 5px;
}