.jss10121 {
    width: 100%;
    height: 100%;
    display: inline-flex;
    padding: 8px 32px;
    align-items: center;
    justify-content: space-between;
}
.jss10118 {
    top: 0;
    width: 100%;
    height: 50px;
    display: inline-flex;
    z-index: 1001;
    position: sticky;
    background: #fff;
    box-shadow: 0px 2px 4px rgb(168 168 168 / 25%);
    align-items: center;
    justify-content: center;
}
.jss20296{
    display: inline-flex;
}

.hFrEkh {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
    border-radius: 3px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px;
    overflow: hidden;
    position: relative;
    height: 2.57143rem;
    padding: 0px 1.14286rem;
    min-width: 1.57143rem;
    color: rgb(0, 136, 255);
    border: 1px solid rgb(0, 136, 255);
    background: rgb(255, 255, 255);
}
.FmJDc {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
    border-radius: 3px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px 0px 0px 16px;
    overflow: hidden;
    position: relative;
    height: 2.57143rem;
    padding: 0px 1.14286rem;
    min-width: 4.57143rem;
    color: rgb(255, 255, 255);
    background: rgb(0, 136, 255);
    border: none;
}
.jss608 {
    margin: 24px 32px;
}
.MuiGrid-spacing-xs-3 {
    width: calc(100% + 24px);
    margin: -12px;
}
.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.MuiGrid-grid-xs-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
}
.MuiGrid-item {
    margin: 0;
    box-sizing: border-box;
}
.MuiPaper-root {
    color: #0F1824;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}
.MuiPaper-rounded {
    border-radius: 3px;
}
.jss751 {
    height: 48px;
}
.jss722 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.jss722.borderBottom {
    border-bottom: 1px solid #E8EAEB;
}
.MuiTypography-h6 {
    font-size: 1.125rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 500;
    line-height: 20px;
}
 .MuiTypography-root {
     margin: 0;
 }
.MuiGrid-spacing-xs-2 {
    width: calc(100% + 16px);
    margin: -8px;
}
 .MuiGrid-container {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     box-sizing: border-box;
 }
.MuiGrid-spacing-xs-2 > .MuiGrid-item {
    padding: 8px;
}
 .MuiGrid-grid-xs-12 {
     flex-grow: 0;
     max-width: 100%;
     flex-basis: 100%;
 }
 .jss755 {
     top: 0;
     color: #46515F;
     display: flex;
     align-items: center;
 }
.jss755 .MuiFormLabel-asterisk {
    color: #f44336;
}
.jss755.MuiInputLabel-shrink {
    font-size: 14px;
    transform: none;
    line-height: 30px;
}
.MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 1;
}
.MuiFormControl-root {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}
.jss756 {
    height: 40px;
}
.MuiFormControl-fullWidth {
    width: 100%;
}
.MuiPaper-root {
    color: #0F1824;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}
.jss756 .MuiInputBase-root {
    height: 100%;
}
 .MuiOutlinedInput-root {
     position: relative;
     border-radius: 4px;
 }

 .MuiInputBase-fullWidth {
     width: 100%;
 }
 .MuiInputBase-root {
     color: rgba(0, 0, 0, 0.87);
     cursor: text;
     display: inline-flex;
     position: relative;
     font-size: 1rem;
     box-sizing: border-box;
     align-items: center;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
     font-weight: 400;
     line-height: 1.1876em;
 }
.MuiInputBase-input:invalid {
    box-shadow: none;
}
 .jss756 input {
     color: #0F1824;
     height: 40px;
     padding: 0 12px;
 }
 .MuiOutlinedInput-input {
     padding: 18.5px 14px;
 }
 .MuiInputBase-input {
     font: inherit;
     color: currentColor;
     width: 100%;
     border: 0;
     height: 2.1876em;
     margin: 0;
     display: block;
     padding: 6px 0 7px;
     min-width: 0;
     background: none;
     box-sizing: content-box;
     animation-name: mui-auto-fill-cancel;
     -webkit-tap-highlight-color: transparent;
 }
 .MuiTextField-root .MuiOutlinedInput-notchedOutline {
     border-color: #D3D5D7;
 }
 .MuiOutlinedInput-notchedOutline {
     border-color: rgba(0, 0, 0, 0.23);
 }
 .jss823 {
     top: -5px;
     left: 0;
     right: 0;
     bottom: 0;
     margin: 0;
     padding: 0;
     position: absolute;
     border-style: solid;
     border-width: 1px;
     padding-left: 8px;
     border-radius: inherit;
     pointer-events: none;
 }
.jss824 {
    padding: 0;
    text-align: left;
    transition: width 150ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    line-height: 11px;
}

.MuiInputLabel-animated {
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}
.jss756 {
    height: 40px;
}
.jss756 .MuiInputBase-root {
    height: 100%;
}
.jss756 input {
    color: #0F1824;
    height: 40px;
    padding: 0 12px;
}
.jss756 .MuiOutlinedInput-notchedOutline {
    padding: 0;
    border-color: #D3D5D7;
}
.jss823 {
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    padding-left: 8px;
    border-radius: inherit;
    pointer-events: none;
}
.jss754 {
    align-self: center;
    /*padding-top: 24px;*/
}
 .jss755 {
     top: 0;
     color: #46515F;
     display: flex;
     align-items: center;
 }
.MuiTypography-caption {
    font-size: 0.71rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 12px;
}
.jss757 {
    height: auto;
}
.jss756 .MuiInputBase-root {
    height: 100%;
}
.jss756 .MuiOutlinedInput-multiline textarea[rows='3'] {
    height: 50px;
}
 .jss756 .MuiOutlinedInput-multiline textarea {
     padding: 11px 12px;
 }
.jss1769 {
    display: flex;
    align-items: center;
}
.jss865 {
    width: 100%;
}
.jss1785 {
    color: #46515F;
    /*display: flex;*/
    font-size: 14px;
    margin-top: 0;
    line-height: 17px;
    margin-bottom: 4px;
}

.jss1784 {
    width: 100%;
    border: 1px solid #D3D5D7;
    cursor: pointer;
    height: 40px;
    padding: 0 12px;
    align-items: center;
    border-color: #D3D5D7;
    border-radius: 3px;
    justify-content: space-between;
    background-color: #fff;
}
.jss756 .MuiInputBase-root {
    height: 100%;
}
 .jss756 .MuiOutlinedInput-multiline {
     color: #0F1824;
     padding: 0;
 }
 .MuiOutlinedInput-multiline {
     padding: 18.5px 14px;
 }
 .MuiInputBase-multiline {
     padding: 6px 0 7px;
 }
.jss1596 svg {
    color: #A3A8AF;
    margin-right: -6px;
}
 .MuiSvgIcon-root {
     fill: currentColor;
     width: 1em;
     height: 1em;
     display: inline-block;
     font-size: 1.5rem;
     transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
     flex-shrink: 0;
     user-select: none;
 }
.MuiFormHelperText-root.Mui-error {
    color: #f44336;
}
 .jss1304 {
     font-size: 12px;
     padding-left: 12px;
 }
 .MuiFormHelperText-root {
     color: rgba(0, 0, 0, 0.54);
     margin: 0;
     font-size: 0.75rem;
     margin-top: 3px;
     text-align: left;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
     font-weight: 400;
     line-height: 1.66;
 }