.jss64 {
    width: calc(100% - 230px);
    height: auto;
    min-height: 100vh;
    margin-left: 230px;
    background-color: rgb(240, 241, 241);
}
.jss40 {
    display: flex;
    flex-direction: column;
}

.jss638 {
    top: 0;
    width: 100%;
    height: 52px;
    display: inline-flex;
    z-index: 1001;
    position: sticky;
    background: #fff;
    box-shadow: 0px 2px 4px rgb(168 168 168 / 25%);
    align-items: center;
    justify-content: center;
}
.jss641 {
    width: 100%;
    height: 100%;
    display: inline-flex;
    padding: 8px 32px;
    align-items: center;
    justify-content: space-between;
}
.jss644 {
    display: inline-flex;
    align-items: center;
}
.jss640 {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}
.jss645 {
    display: inline-flex;
}

.jss608 {
    flex: 1 1 auto;
    display: flex;
    padding: 0 32px 40px;
    flex-direction: column;
}

.jss609 {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.jss612 {
    display: flex;
}
.jss613 {
    font-size: 24px;
    font-weight: 500;
}

.jss614 {
    display: flex;
}

.jss615 {
    display: flex;
    flex-direction: column;
}

.jss622 {
    display: flex;
    box-shadow: 0px 2px 4px rgb(168 168 168 / 25%);
    flex-direction: column;
}

.jss617 {
    border-radius: 4px;
    margin-bottom: 24px;
    background-color: white;
}
.jss621 {
    flex: 1 0 auto;
    height: 52px;
    display: flex;
    padding: 0 16px;
    align-items: center;
    border-bottom: 1px solid #E8EAEB;
    justify-content: space-between;
}
.jss2095 {
    flex: 1 0 auto;
    height: 52px;
    display: flex;
    padding: 0 16px;
    align-items: center;
    border-bottom: 1px solid #E8EAEB;
    justify-content: space-between;
}
.hlxtkG {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    white-space: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: middle;
    padding: 0.285714rem;
    border-radius: 1.14286rem;
    height: 1.71429rem;
    border: 1px solid rgb(255, 223, 155);
    background-color: rgb(255, 247, 231);
}

.gIZkwA {
    padding: 0px 0.571429rem;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 0.928571rem;
    line-height: 1.14286rem;
    margin: 0px;
    color: rgb(228, 156, 6);
}
.jss623 {
    flex: 1 1 auto;
    display: flex;
}

.jss625 {
    padding: 16px 0 4px 16px;
}

 .jss624 {
     display: flex;
     padding: 16px 16px 4px 16px;
     flex-direction: column;
 }
.jss628 {
    color: #747C87;
}

 .jss626 {
     overflow: hidden;
     font-size: 13px;
     font-weight: 400;
     line-height: 16px;
     white-space: nowrap;
     margin-bottom: 12px;
     text-overflow: ellipsis;
 }
 .jss627 {
    color: #0088FF;
    font-weight: 500;
    padding-left: 16px;
    text-decoration: none;
}
.jss618 {
    border-radius: 4px;
    background-color: white;
}

.jss2112 {
    top: 0;
    width: 100%;
    height: 52px;
    display: inline-flex;
    z-index: 1001;
    position: sticky;
    background: #fff;
    box-shadow: 0px 2px 4px rgb(168 168 168 / 25%);
    align-items: center;
    justify-content: center;
}
.csJERM {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    white-space: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: middle;
    padding: 0.285714rem;
    border-radius: 1.14286rem;
    height: 1.71429rem;
    border: 1px solid rgb(255, 184, 184);
    background-color: rgb(255, 246, 246);
}
.ccQLIN {
    padding: 0px 0.571429rem;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 0.928571rem;
    line-height: 1.14286rem;
    margin: 0px;
    color: red;
}
.jss2115 {
    width: 100%;
    height: 100%;
    display: inline-flex;
    padding: 8px 32px;
    align-items: center;
    justify-content: space-between;
}

.jss2118 {
    display: inline-flex;
    align-items: center;
}

.jss2114 {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.MuiLink-underlineNone {
    text-decoration: none;
}

.jss2119 {
    display: inline-flex;
}

.gYRFmk {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
    border-radius: 3px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px;
    overflow: hidden;
    position: relative;
    height: 2.57143rem;
    padding: 0px 1.14286rem;
    min-width: 4.57143rem;
    border: 1px solid rgb(255, 77, 77);
    background: rgb(255, 255, 255);
    color: rgb(255, 77, 77);
}
.jcEYKF {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    z-index: 2;
    font-size: inherit;
    font-weight: inherit;
}

.FmJDc {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
    border-radius: 3px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px 0px 0px 16px;
    overflow: hidden;
    position: relative;
    height: 2.57143rem;
    padding: 0px 1.14286rem;
    min-width: 4.57143rem;
    color: rgb(255, 255, 255);
    background: rgb(0, 136, 255);
    border: none;
}

.ffDJGn {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 0.571429rem 0px 0px;
    z-index: 2;
    font-size: inherit;
    font-weight: inherit;
}
.FmJDc svg {
    height: 1.42857rem;
    width: 1.42857rem;
}


.jss4515 {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jss2088 {
    display: flex;
}

.MuiGrid-spacing-xs-3 {
    width: calc(100% + 24px);
    margin: -12px;
}

.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.MuiGrid-spacing-xs-3 > .MuiGrid-item {
    padding: 12px;
}

.MuiGrid-grid-xs-8 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
}

.MuiGrid-item {
    margin: 0;
    box-sizing: border-box;
}

.jss2089 {
    display: flex;
    flex-direction: column;
}

.jss2096 {
    display: flex;
    box-shadow: 0px 2px 4px rgb(168 168 168 / 25%);
    flex-direction: column;
}

.jss2091 {
    border-radius: 4px;
    margin-bottom: 24px;
    background-color: white;
}

.jss10858 {
    flex: 1 0 auto;
    height: 52px;
    display: flex;
    padding: 0 16px;
    align-items: center;
    border-bottom: 1px solid #E8EAEB;
    justify-content: space-between;
}

.MuiTypography-subtitle1 {
    font-size: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 500;
    line-height: 20px;
}

.hlxtkG {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    white-space: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: middle;
    padding: 0.285714rem;
    border-radius: 1.14286rem;
    height: 1.71429rem;
    border: 1px solid rgb(255, 223, 155);
    background-color: rgb(255, 247, 231);
}

.jss2097 {
    flex: 1 1 auto;
    display: flex;
}

.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.MuiGrid-grid-xs-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
}

.jss2099 {
    padding: 16px 0 4px 16px;
}
.MuiPaper-elevation1 {
    box-shadow: none;
}
.MuiPaper-rounded {
    border-radius: 3px;
}

.MuiPaper-root {
    color: #0F1824;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}
.jss2102 {
    color: #747C87;
}

.jss2100 {
    overflow: hidden;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    white-space: nowrap;
    margin-bottom: 12px;
    text-overflow: ellipsis;
}

.jss2098 {
    display: flex;
    padding: 16px 16px 4px 16px;
    flex-direction: column;
}

.jss2101 {
    color: #0088FF;
    font-weight: 500;
    padding-left: 16px;
    text-decoration: none;
}

.MuiGrid-grid-xs-4 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
}

.jss2090 {
    display: flex;
    flex-direction: column;
}

.jss2093 {
    border-radius: 4px;
    margin-bottom: 24px;
    background-color: white;
}

.MuiGrid-grid-xs-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
}

.MuiGrid-grid-xs-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
}

.jss2094 {
    border-radius: 4px;
    background-color: white;
}

.jss2280 {
    display: block !important;
    padding: 20px 0;
    text-align: center;
}

.jss2281 {
    color: #7A8086;
    margin: 0 auto;
    font-size: 12px;
    max-width: 215px;
    margin-top: 5px;
    margin-bottom: 13px;
}

.jss2282 {
    color: #0088FF;
    border: 1px solid #0088FF;
    font-weight: 500;
    border-radius: 3px;
    margin-bottom: 5px;
    background-color: #FFFFFF;
}

.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

.jss2103 {
    flex: 1 1 auto;
    display: flex;
    padding-top: 24px;
    flex-direction: column;
}

.jss2104 {
    flex-grow: 0;
    box-shadow: 0px 2px 4px rgb(168 168 168 / 25%);
    background-color: white;
}

.gCRNBf {
    display: flex;
    background-color: white;
    justify-items: center;
    align-content: center;
    cursor: pointer;
    box-shadow: rgb(232 234 235) 0px -1px 0px 0px inset;
}

.fvZzuO {
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    display: flex;
    box-sizing: content-box;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.jyZcwm {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    outline: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px;
}

.fJFgex {
    display: inline-block;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    padding: 0.428571rem 1.14286rem;
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 2px solid transparent;
    color: rgb(116, 124, 135);
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px;
    height: 3.42857rem;
    max-width: 17.1429rem;
}

.fACSJt {
    display: inline-block;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    padding: 0.428571rem 1.14286rem;
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px;
    height: 3.42857rem;
    max-width: 17.1429rem;
    color: rgb(0, 136, 255);
    font-weight: 500;
    border-bottom: 2px solid rgb(0, 136, 255);
}

.jss2105 {
    position: relative;
    box-shadow: 0px 2px 4px rgb(168 168 168 / 25%);
    padding-top: 12px;
    background-color: white;
}

.jss12247 {
    width: 100%;
    display: flex;
    flex-direction: column;
}



#root, body, html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #182537;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.jss12248 {
    flex: 0 0 auto;
    z-index: 2;
    overflow: hidden;
}

.jss12249 {
    table-layout: fixed;
}

.MuiTable-root {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
}

.MuiTypography-colorSecondary {
    color: #747C87;
}

.MuiTypography-body1 {
    font-size: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 20px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.jss12733 {
    top: -42px;
    right: 8px;
    cursor: pointer;
    display: flex;
    position: absolute;
    min-height: 36px;
    align-items: center;
    border-radius: 10px;
    padding-right: 16px;
}
.ibbvGc {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
    border-radius: 3px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px;
    overflow: hidden;
    position: relative;
    height: 2.57143rem;
    min-width: unset;
    color: rgb(15, 24, 36);
    border: none;
    background: transparent;
    padding: 0px;
}

.ibbvGc svg {
    height: 1.42857rem;
    width: 1.42857rem;
}

.fCIlZX {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 0px 0px 0.571429rem;
    z-index: 2;
    font-size: inherit;
    font-weight: inherit;
}

.jss12739 {
    height: 36px;
    margin: 0 0 11px 0;
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.kfxknC {
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
    flex-direction: column;
    width: 17.1429rem;
}

.jrIsgx {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px;
    display: block;
    padding: 0.571429rem 2.57143rem 0.571429rem 0.857143rem;
    height: 2.57143rem;
    border: 1px solid rgb(211, 213, 215);
    border-radius: 3px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: rgb(15, 24, 36);
}

.KNuSf {
    position: absolute;
    right: 0.857143rem;
    top: 50%;
    height: 1.71429rem;
    width: 1.71429rem;
    transform: translate(0px, -50%);
    color: rgb(163, 168, 175);
}

.jss12735 {
    display: flex;
}

.jss12765 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.jss12766 {
    flex: 0 0 auto;
    z-index: 2;
    overflow: hidden;
}

.jss12767 {
    table-layout: fixed;
}

colgroup {
    display: table-column-group;
}

.jss12780 {
    background-color: #F4F6F8;
}

.MuiTableHead-root {
    display: table-header-group;
}

.MuiTableRow-root {
    color: inherit;
    display: table-row;
    outline: 0;
    vertical-align: middle;
}

.jss12784 {
    color: inherit;
    height: 52px;
    overflow: hidden;
    font-size: inherit;
    border-top: 1px solid #E8EAEB;
    line-height: 1.5715;
    padding-top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 0;
}

.MuiTableCell-alignLeft {
    text-align: left;
}
.MuiTableCell-alignLeft {
    text-align: right;
}


.jss12768 {
    flex: 1 1 auto;
}

.MuiTableContainer-root {
    width: 100%;
    overflow-x: auto;
}

.jss12769 {
    table-layout: fixed;
}
.MuiTableBody-root {
    display: table-row-group;
}

.jss12817 {
    color: inherit;
    height: 52px;
    overflow: hidden;
    font-size: inherit;
    line-height: 18px;
    padding-top: 0;
    border-bottom: 1px solid #E8EAEB;
    text-overflow: ellipsis;
    padding-bottom: 0;
}

.jss12821 {
    color: #0088FF;
    text-decoration: none;
}

.MuiTypography-noWrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.jss12771 {
    right: 47px;
    bottom: 2px;
    height: 13px !important;
    border-radius: 6px;
}



 .MuiFormControl-root {
     border: 0;
     margin: 0;
     display: inline-flex;
     padding: 0;
     position: relative;
     min-width: 0;
     flex-direction: column;
     vertical-align: top;
 }

.jss12823 {
    width: auto;
    height: 24px;
    margin: 0 12px;
    min-width: 50px;
}

.MuiOutlinedInput-root {
    position: relative;
    border-radius: 4px;

}

.jss12822 {
    flex: 0 0 auto;
    display: flex;
    margin-top: 12px;
    min-height: 28px;
    align-items: center;
    margin-bottom: 12px;
    padding-right: 12px;
    justify-content: flex-end;
}

.jss12823 .MuiSelect-root {
    height: 23px;
    padding: 0 25px 0 8px;
}

.jss12823 .MuiSelect-icon {
    right: 2px;
}

.MuiSelect-icon.MuiSelect-icon {
    color: #A3A8AF;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.23);
}

.jss12875 {
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    padding-left: 8px;
    border-radius: inherit;
    pointer-events: none;
}

.jss12825 {
    font-size: 13px;
}

.jss12876 {
    padding: 0;
    text-align: left;
    transition: width 150ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    line-height: 11px;
}

.jss13314 {
    top: -42px;
    right: 8px;
    position: absolute;
}

.ettFVM {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
    border-radius: 3px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.42857rem;
    margin: 0px 8px 0px 0px;
    overflow: hidden;
    position: relative;
    height: 2.57143rem;
    min-width: unset;
    color: rgb(15, 24, 36);
    border: none;
    background: transparent;
    padding: 0px;
}

.jss13319 {
    padding: 0px 12px 12px;
}

.jss13498 {
    top: -42px;
    right: 8px;
    position: absolute;
    min-height: 36px;
    border-radius: 10px;
}

.jss13502 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.jss13503 {
    flex: 0 0 auto;
    z-index: 2;
    overflow: hidden;
}

.jss13504 {
    table-layout: fixed;
}

.jss13517 {
    background-color: #F4F6F8;
}

.jss13526 {
    padding: 0 0 0 16px;
    border-top: 1px solid rgba(224, 224, 224, 1);
}

.MuiTableCell-head {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    line-height: 1.5rem;
}

.MuiTableCell-root {
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    vertical-align: inherit;
}

.MuiTableCell-paddingCheckbox {
    width: 48px;
    padding: 0 0 0 4px;
}

.jss13521 {
    color: inherit;
    height: 52px;
    overflow: hidden;
    font-size: inherit;
    border-top: 1px solid #E8EAEB;
    line-height: 1.5715;
    padding-top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 0;
}

.jss13505 {
    flex: 1 1 auto;
}

.jss13506 {
    table-layout: fixed;
}

.jss13566 {
    padding: 0 0 0 16px;
}

.jss13548 {
    width: 24px;
    height: 24px;
    padding: 5px;
    margin-right: 4px;
}

.jss13569.cellClick.cellClick.cellClick {
    cursor: pointer;
}

.jss13573 {
    flex: 0 0 auto;
    display: flex;
    margin-top: 12px;
    min-height: 28px;
    align-items: center;
    margin-bottom: 12px;
    padding-right: 12px;
    justify-content: flex-end;
}

.jss13574 {
    width: auto;
    height: 24px;
    margin: 0 12px;
    min-width: 50px;
}

.jss13574 .MuiSelect-root {
    height: 23px;
    padding: 0 25px 0 8px;
}

.jss13576 {
    font-size: 13px;
}

.jss13575 {
    margin: 0 64px;
}

nav {
    display: block;
}

.MuiPagination-ul {
    margin: 0;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.jss13577 li:first-child .MuiPaginationItem-sizeSmall, .jss13577 li:last-child .MuiPaginationItem-sizeSmall {
    height: 20px;
    min-width: 20px;
}

.MuiPaginationItem-page.Mui-disabled {
    opacity: 0.38;
}

.MuiButtonBase-root.Mui-disabled {
    cursor: default;
    pointer-events: none;
}

.MuiPaginationItem-page {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiPaginationItem-root {
    color: rgba(0, 0, 0, 0.87);
    height: 32px;
    margin: 0 3px;
    padding: 0 6px;
    font-size: 0.875rem;
    min-width: 32px;
    box-sizing: border-box;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.43;
    border-radius: 16px;
}

.jss13577 li:first-child .MuiPaginationItem-sizeSmall .MuiPaginationItem-icon, .jss13577 li:last-child .MuiPaginationItem-sizeSmall .MuiPaginationItem-icon {
    color: #7A8086;
    font-size: 24px;
}

.jss13577 li:not(:first-child):not(:last-child) .MuiPaginationItem-sizeSmall {
    height: 20px;
    margin: 0px 4px;
    font-size: 14px;
    min-width: 20px;
    border-radius: 10px;
}

.MuiPaginationItem-textPrimary.Mui-selected {
    color: #fff;
    background-color: #0088FF;
}

.MuiPaginationItem-page {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiPaginationItem-textPrimary.Mui-selected {
    color: #fff;
    background-color: #0088FF;
}

.td59fa697-040c-4453-bb93-d15501ec51f3.place-top {
    margin-top: -10px;
}

.td59fa697-040c-4453-bb93-d15501ec51f3 {
    color: #222;
    background: #fff;
    border: 1px solid transparent;
}

.jss13507 {
    opacity: 1 !important;
    padding: 5px 8px !important;
    z-index: 2000 !important;
    font-size: 12px !important;
    max-width: 220px;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
    font-weight: 400;
    overflow-wrap: break-word;
}

.jss13825 {
    top: -42px;
    right: 8px;
    position: absolute;
}

.jss13830 {
    padding: 0px 12px 12px;
}

.jss14011 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.jss14012 {
    flex: 0 0 auto;
    z-index: 2;
    overflow: hidden;
}
.jss14013 {
    table-layout: fixed;
}

.jss14026 {
    background-color: #F4F6F8;
}

.jss14014 {
    flex: 1 1 auto;
}
.jss14030 {
    color: inherit;
    height: 52px;
    overflow: hidden;
    font-size: inherit;
    border-top: 1px solid #E8EAEB;
    line-height: 1.5715;
    padding-top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 0;
}

.jss14063 {
    color: inherit;
    height: 52px;
    overflow: hidden;
    font-size: inherit;
    line-height: 18px;
    padding-top: 0;
    border-bottom: 1px solid #E8EAEB;
    text-overflow: ellipsis;
    padding-bottom: 0;
}

.jss14067 {
    color: #0088FF;
    text-decoration: none;
}

.jss14017 {
    right: 47px;
    bottom: 2px;
    height: 13px !important;
    border-radius: 6px;
}

.jss14018 {
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.2);
}

.jss2098 {
    display: flex;
    padding: 16px 16px 4px 16px;
    flex-direction: column;
}
.jss2233 {
    height: fit-content;
    background: #fff;
    box-shadow: 0px 2px 4px rgb(168 168 168 / 25%);
    margin-top: 24px;
}

.jss2234 {
    height: auto;
    display: flex;
    position: relative;
    min-height: 56px;
    padding-bottom: 8px;
}
.jss2235 {
    width: calc(100% - 62px);
    word-break: break-word;
    margin-left: 15px;
    padding-bottom: 10px;
}
.jss2236 {
    color: #747C87;
    width: 24px;
    height: 24px;
    margin-left: auto;
}

.__react_component_tooltip {
    border-radius: 3px;
    display: inline-block;
    font-size: 13px;
    left: -999em;
    opacity: 0;
    padding: 8px 21px;
    position: fixed;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
    top: -999em;
    visibility: hidden;
    z-index: 999;
}