<!doctype html>
<html lang="vi-VN" class="sapo-menu-toggle-active sapo-menu-expand" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:replace="/layout/header :: header"/>
    <title>Thêm mới nhà cung cấp</title>

</head>

<body>

<div>
    <th:block th:replace="/layout/menu :: menu"/>

    <div class="col-right">
        <div class="col-right_content">
            <div class="ui-title-top-bar">
                <div class="ui-title-top-bar_action flex">
                    <div class="w-50" style="padding-top: 5px;"></div>
                    <div class="w-50" style="position: relative;">
                        <a class="btn sapo-btn-default right btn-create-supplier" id="supplier">Lưu</a>
                        <a href="/admin/suppliers" class="btn sapo-btn-blank right mr-3">Huỷ</a>
                    </div>
                </div>
            </div>
            <header class="ui-title-bar-container" style="margin-top: 55px;">
                <div class="ui-title-bar">
                    <div class="ui-title-bar__navigation">
                        <div class="ui-breadcrumbs">
                            <a href="/admin/suppliers">
                                <svg class="next-icon next-icon--size-20 next-icon--no-nudge">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-left-thinner"></use>
                                </svg>
                                <span class="ui-breadcrumb__item" style="position: relative; top: 7px;">Danh sách nhà cung cấp</span>
                            </a>
                        </div>
                    </div>
                    <div class="ui-title-bar__main-group">
                        <div class="ui-title-bar__heading-group">
                            <h1 class="ui-title-bar__title">Thêm mới nhà cung cấp</h1>
                        </div>
                    </div>
                </div>
            </header>
            <form id="formCreate">
                <div class="customer-container container">
                    <div class="customer-create--left">
                        <div class="page-info">
                            <div class="page-info-title">Thông tin cá nhân</div>
                            <div class="page-info-body">
                                <div class="col-12 field pl-0">
                                    <label for="nameCreate" class="label mb-2 label-required">Tên nhà cung cấp</label>
<!--                                    <label for="nameCreate" class="label-required* mb-2">Tên nhà cung cấp</label>-->
                                    <input id="nameCreate" name="nameCreate" class="sapo-textbox w100"
                                           placeholder="Nhập tên nhà cung cấp">
<!--                                           title="Nhập tên nhà cung cấp" required/>-->
                                    <div id="error-nameCreate"></div>
                                </div>
                                <div class="col-6 field pr-0">
                                    <label for="codeCreate" class="label-required mb-2">Mã nhà cung cấp</label>
                                    <input id="codeCreate" name="codeCreate" class="sapo-textbox w100"
                                           placeholder="Nhập mã nhà cung cấp"/>
<!--                                           title="Nhập mã nhà cung cấp" required/>-->

                                </div>
                                <div class="col-6 field pl-0">
                                    <label for="phoneCreate" class="label-required mb-2">Số điện thoại</label>
                                    <input id="phoneCreate" name="phoneCreate" class="sapo-textbox w100"
                                           placeholder="Nhập số điện thoại"/>
<!--                                           title="Nhập số điện thoại" required/>-->
                                    <div id="error-phoneCreate"></div>
                                </div>
                                <div class="col-6 field pr-0">
                                    <label for="emailCreate" class="label-required mb-2">Email</label>
                                    <input id="emailCreate" name="emailCreate" class="sapo-textbox w100"
                                           placeholder="Nhập email"/>
<!--                                           title="Nhập email" required/>-->
                                    <div id="error-emailCreate"></div>
                                </div>
                                <div class="col-6 field pr-0">
                                    <div class="label mb-2">Nhóm nhà cung cấp</div>
                                    <div>
                                        <div class="btn-group">
                                            <button id="changeValueSup" class="btn secondary dropdown-toggle"
                                                    style="width: 249px; height: 34px; text-align: left"
                                                    data-bs-toggle="dropdown"
                                                    data-bs-auto-close="outside" aria-expanded="false" >
                                            </button>
                                            <ul class="dropdown-menu"
                                                aria-labelledby="dropdownMenuClickableInside" style="width: 300px">
                                                <li><input id="inputKey" type="text" placeholder="Tìm kiếm"
                                                           oninput="searchGroup()"
                                                           style="width: 296px; height:35px;font-size: 13px;">
                                                </li>

                                                <li>
                                                    <i class="fa-solid fa-plus"
                                                       style="float: left; margin: 4px 2px 0 0; padding-top: 8px"></i>
                                                    <p id="showGroupSupplier"
                                                       style="height: 30px; width: 300px; font-size: 13px; padding-top: 8px">
                                                        Thêm mới nhóm nhà cung cấp</p>
                                                </li>
                                                <li id="errorGroup" class="hidden">hihi</li>
                                                <li id="renderGroupLi"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="page-info">
                            <div class="page-info-title">Thông tin địa chỉ</div>
                            <div class="page-info-body">
                                <div class="col-6 field pr-0">
                                    <label for="province" class="label-required mb-2">Tỉnh thành phố</label>
                                    <select id="province" class="w100 input-dropdown sapo-btn-blank select-padding"
                                            title="Tỉnh thành phố" required>
                                        <option value="" disabled selected>Chọn tỉnh thành phố</option>
                                    </select>
                                </div>
                                <div class="col-6 field pl-0">
                                    <label for="district" class="label-required mb-2">Quận huyện</label>
                                    <select id="district" class="w100 input-dropdown sapo-btn-blank select-padding"
                                            title="Chọn quận huyện" required>
                                        <option value="" disabled selected>Chọn quận huyện</option>
                                    </select>
                                </div>
                                <div class="col-6 field pr-0">
                                    <label for="ward" class="label-required mb-2">Phường xã</label>
                                    <select id="ward" class="w100 input-dropdown sapo-btn-blank select-padding"
                                            title="Chọn phường xã" required>
                                        <option value="" disabled selected>Chọn phường xã</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 field pl-0">
                                <label for="addressCreate"><div class="label mb-2 label-required">Địa chỉ</div></label>
                                <input id="addressCreate" bind="address2" class="sapo-textbox w100" placeholder="Nhập địa chỉ" data-toggle="tooltip"
                                       bind-event-input="checkValidateDataSupplier(this)" data-original-title=""
                                       title="">
                                <div id="error-addressCreate"></div>
<!--                                <div class="label mb-2 label-required">Địa chỉ</div>-->

                            </div>

                        </div>


                        <div class="page-info">
                            <div class="page-info-title">
                                Thông tin bổ sung
                            </div>
                            <div class="page-info-body">
                                <div class="col-6 field pl-0">
                                    <label for="faxCreate" div class="label mb-2">Số fax</label>
                                    <input id="faxCreate" name="faxCreate" class="sapo-textbox w100"
                                           data-toggle="tooltip"
                                           bind-event-input="checkValidateDataSupplier" data-original-title="" title="">
                                    <div id="error-faxCreate"></div>
                                </div>
                                <div class="col-6 field pr-0">
                                    <label for="taxCodeCreate" class="label mb-2">Mã số thuế</label>
                                    <input id="taxCodeCreate" bind="taxNumber" class="sapo-textbox w100"
                                           data-toggle="tooltip"
                                           bind-event-input="checkValidateDataSupplier" data-original-title="" title="">
                                </div>
                                <div class="col-6 field pl-0">
                                    <label for="websiteCreate">
                                        <div class="label mb-2">Website</div>
                                    </label>
                                    <input id="websiteCreate" name="websiteCreate" class="sapo-textbox w100"
                                           data-toggle="tooltip"
                                           bind-event-input="checkValidateDataSupplier" data-original-title="" title="">
                                </div>
                                <div class="col-6 field pr-0">
                                    <label for="debtTotalCreate">
                                        <div class="label mb-2">Công nợ</div>
                                    </label>
                                    <div class="input-wrap"><input id="debtTotalCreate" autocomplete="off"
                                                                   placeholder="" bind="debt_txt"
                                                                   define="{ numberInput: new Components.NumberInput(this, 'createSupplier','0','99999999999','','-99999999999','False')}"
                                                                   context="numberInput" class="sapo-textbox w100"

                                                                   bind-event-input="checkValidateDataSupplier"
                                                                   data-toggle="tooltip" data-original-title="" title=""
                                    ><input type="hidden" bind="debt"
                                            class="sapo-textbox w100" id="" name=""
                                            value="0"></div>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="customer-create--right">
                        <div class="page-info">
                            <div class="page-info-title">Thông tin khác</div>
                            <div class="page-info-body">
                                <div class="col-12 field p-0">
                                    <label for="employeeNameCreate" class="label-required mb-2">Nhân viên phụ
                                        trách</label>
                                    <select id="employeeNameCreate"
                                            class="w100 input-dropdown sapo-btn-blank select-padding" required>
                                    </select>
                                </div>
                                <div class="page-info-item col-12 no-padding mb-4">
                                    <label for="descriptionCreate" class="label-required mb-2">Mô tả</label>
                                    <textarea id="descriptionCreate" class="sapo-textbox" title="Nhập mô tả"
                                              style="height: 119px;" required></textarea>
                                </div>

                                <div class="page-info-item col-12 p-0">
                                    <div class="page-info-item-title">
                                        TAG
                                        <i class="fa fa-info" data-toggle="tooltip" data-placement="top" title=""
                                           hoặc="" thêm="" thẻ="" sẽ="" cho="" phép="" bạn="" tìm="" kiếm="" và=""
                                           lọc="" nhà="" cung="" cấp="" ở="" trang="" danh="" sách="" dễ="" dàng=""
                                           hơn="" data-original-title="Chọn"></i>
                                    </div>
                                    <div class="bootstrap-tagsinput">
                                        <input onkeyup="suggestTags(this)"
                                               type="text" placeholder=""
                                               autocomplete="off">
                                    </div>

                                    <input class="sapo-textbox tags" style="display: none;">
                                    <div class="autocomplete-suggestions"
                                         style="position: relative; width: 250px; max-height: 300px; z-index: 9999; display: none;">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="page-info">
                            <div class="page-info-title">Cài đặt nâng cao</div>
                            <div class="page-info-body">
                                <div id="config-customer" style="width: 100%;">
                                    <div class="col-12 field p-0">
                                        <label for="paymentMethodCreate" class="label-required mb-2">Hình thức thanh
                                            toán</label>
                                        <select id="paymentMethodCreate"
                                                class="w100 input-dropdown sapo-btn-blank select-padding"
                                                title="Chọn hình thức" required>
                                            <option value="" disabled selected>Chọn hình thức</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-title-bottom-bar">
                        <a class="btn sapo-btn-default right btn-create-supplier" id="btnCreateSupplier">Lưu</a>
                        <a href="/admin/suppliers" class="btn sapo-btn-blank right mr-3">Huỷ</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<th:bock th:replace="/admin/suppliers/modals/groups/create_group_supplier :: create_group_supplier"/>
<!--<th:block th:replace="/layout/script :: script"/>-->
<th:block th:replace="/layout/supplier/tagCreate :: tagCreate"/>

<script src="/assets/admin/js/suppliers/supplier_create.js"></script>
<script src="/assets/admin/js/suppliers/supplier_app.js"></script>
<script src="/assets/admin/js/suppliers/jquery/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script>Page();</script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript"
        src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>


</body>
</html>
<script>

    let supplierGroups = [];
    let supplierTags = [];
    const page = {
        urls: {},
        elements: {},
        commands: {},
        dialogs: {
            elements: {},
            commands: {}
        }
    }

    class createSupGroupParam {
        constructor( title, supplierCode, description) {
            this.title = title;
            this.supplierCode = supplierCode;
            this.description = description;
        }
    }


    class Supplier {
        constructor(id, supplierCode, fullName, email, phone, description, paymentMethodId, taxCode, fax, website, debtTotal, createAddressParam, employeeId, employee, groupId) {
            this.id = id;
            this.supplierCode = supplierCode;
            this.fullName = fullName;
            this.email = email;
            this.phone = phone;
            this.description = description;
            this.paymentMethodId = paymentMethodId;
            this.taxCode = taxCode;
            this.fax = fax;
            this.website = website;
            this.debtTotal = debtTotal;
            this.createAddressParam = createAddressParam;
            this.employeeId = employeeId;
            this.employee = employee;
            this.groupId = groupId;
            this.tags = [];


        }
    }


    class CreateAddressParam {
        constructor(id, fullName, phoneNumber, line1, line2, email, districtId, districtName, provinceId, provinceName, wardId, wardName, zipCode,isReceiveBill,isShipping, customerId, supplierId, isDefault, description) {
            this.id = id;
            this.fullName = fullName;
            this.phoneNumber = phoneNumber;
            this.email = email;
            this.line1 = line1;
            this.line2 = line2;

            this.wardId = wardId;
            this.wardName = wardName;
            this.districtId = districtId;
            this.districtName = districtName;
            this.provinceId = provinceId;
            this.provinceName = provinceName;
            this.zipCode = zipCode;
            this.isShipping = isShipping;
            this.isReceiveBill = isReceiveBill;

            this.isDefault = isDefault;
            this.supplierId = supplierId;
            this.description = description;
        }
    }
    page.elements.renderGroupLi = $("#renderGroupLi");

    page.elements.showGroupSupplier = $("#showGroupSupplier");
    page.dialogs.elements.formCreateGroup = $("#formCreateGroup");
    page.dialogs.elements.modalCreateGroupSupplier = $("#modalCreateGroupSupplier");
    page.dialogs.elements.btnCreateGroupSupplier = $("#btnCreateGroupSupplier");
    page.dialogs.elements.groupCreateId = $("#groupCreateId");
    page.dialogs.elements.groupCreateTitleSup = $("#groupCreateTitleSup");
    page.dialogs.elements.groupCreateCodeSup = $("#groupCreateCodeSup");
    page.dialogs.elements.groupCreateDescriptionSup = $("#groupCreateDescriptionSup");




    function createSupplier() {
        $('.btn-create-supplier').on('click', () => {
            // alert("alo 1235689")
            let supplier = {};
            supplier.fullName = $('#nameCreate').val();

            let fax = $('#faxCreate').val()
            supplier.fax = fax.trim().length > 0 ? fax : undefined;

            let taxCode = $('#taxCodeCreate').val();
            supplier.taxCode = taxCode.trim().length > 0 ? taxCode : undefined;

            let website = $('#websiteCreate').val();
            supplier.website = website.trim().length > 0 ? website : undefined;

            let debtTotal = $('#debtTotalCreate').val();
            supplier.debtTotal = debtTotal.trim().length > 0 ? debtTotal : undefined;

            let supplierCode = $('#codeCreate').val()
            supplier.supplierCode = supplierCode.trim().length > 0 ? supplierCode : undefined;

            supplier.groupId = $('#changeValueSup').val();


           let phone = $('#phoneCreate').val();
            supplier.phone = phone.trim().length > 0 ? phone : undefined;

            let email = $('#emailCreate').val();
            supplier.email = email.trim().length > 0 ? email : undefined;

            supplier.employeeId = $('#employeeNameCreate :selected').val();

            let description = $('#descriptionCreate').val();
            supplier.description = description.trim().length > 0 ? description : undefined;

            let paymentMethodId = $('#paymentMethodCreate :selected').val();
            supplier.paymentMethodId = paymentMethodId.trim().length > 0 ? paymentMethodId : undefined;

            supplier.line1 = $('#addressCreate').val();

            supplier.tags = supplierTags.length > 0 ? supplierTags : undefined;

            // supplier.GroupSupplier = $('#changeValueSup :selected').val();
            page.elements.GroupSupplier = $("#ChangeValueSup");


            page.elements.supplierId = $("#supplierId");


            let createAddressParam = new CreateAddressParam();

            createAddressParam.line1 = $('#addressCreate').val();
            createAddressParam.provinceId = $('#province').val();
            createAddressParam.provinceName = $('#province :selected').text();
            createAddressParam.districtId = $('#district').val();
            createAddressParam.districtName = $('#district :selected').text();
            createAddressParam.wardId = $('#ward').val();
            createAddressParam.wardName = $('#ward :selected').text();
            createAddressParam.phoneNumber = $('#phoneCreate').val();
            createAddressParam.email = supplier.email;
            supplier.createAddressParam = createAddressParam;

            console.log(supplier.fullName.trim().split(""));
            console.log(supplier, "supplier")
            // console.log(JSON.stringify(supplier))
            // console.log(createAddressParam)
            //
            // if(supplier.fullName.trim().split("").length>=5 && createAddressParam.line1.trim() !== ""){
                $.ajax({
                    "headers": {
                        "accept": "application/json",
                        "content-type": "application/json"
                    },
                    "type": "POST",
                    "url": origin + "/api/suppliers",
                    "data": JSON.stringify(supplier)
                })


                    .done((data) => {
                        console.log(data)
                        SupplierApp.IziToast.showSuccessAlert(" Thêm nhà cung cấp thành công ");
                        setTimeout(() => {
                        }, 2500)
                        $('#formCreate')[0].reset();
                        window.location.href = `/admin/suppliers/${data.id}/addresses`;

                    })
                    .fail((jqXHR) => {
                        console.log(jqXHR);
                        let responseJSON = jqXHR.responseJSON;
                        if (responseJSON.errors !== undefined) {
                            let errors = responseJSON.errors;
                            errors.fullName !== undefined ? $("#error-nameCreate").text(errors.fullName) : "";
                            errors.line1 !== undefined ? $("#error-addressCreate").text(errors.line1) : "";
                            errors.email !== undefined ? $("#error-emailCreate").text(errors.email) : "";
                            errors.fax !== undefined ? $("#error-faxCreate").text(errors.fax) : "";
                            errors.phone !== undefined ? $("#error-phoneCreate").text(errors.phone) : "";
                        }

                    })

        });
    }
    function getAllProvinces() {
        return $.ajax({
            headers: {
                "accept"    : "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "https://vapi.vnappmob.com/api/province/"
        })
            .done((data) => {
                if (data.results.length === 0) {
                    let str = `<option value="0">Chọn Tỉnh/Thành Phố</option>`;
                    $("#province").append(str);
                } else {
                    $.each(data.results, (i, item) => {
                        let str = `<option value="${item.province_id}">${item.province_name}</option>`;
                        $("#province").append(str);
                        $('#provinceUpdate').append(str);
                    });
                }

            })
            .fail((jqXHR) => {
                console.log(jqXHR);
            })
    }

    function getAllDistrictsByProvinceId(provinceId) {
        $("#district").empty();
        $("#districtUpdate").empty();
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "https://vapi.vnappmob.com/api/province/district/" + provinceId
        })
            .done((data) => {
                if (data.results.length === 0) {
                    let str = `<option value="0">Chọn Quận/Huyện</option>`;
                    $("#district").append(str);
                } else {
                    $.each(data.results, (i, item) => {
                        let str = ` <option value="${item.district_id}">${item.district_name}</option>`;
                        $("#district").append(str);
                        $('#districtUpdate').append(str);
                    })

                }
            })
            .fail((jqXHR) => {
                console.log(jqXHR);
            })
    }

    
    function getAllWardsByDistrictId(districtId) {
        $("#ward").empty();
        $('#wardUpdate').empty();
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: "https://vapi.vnappmob.com/api/province/ward/" + districtId
        })
            .done((data) => {
                // $('#ward').html('');
                // $('#wardUpdate').html('');

                if (data.results.length === 0) {
                    let str = `<option value="0">Chọn Phường/Xã</option>`;
                    $("#ward").append(str);

                } else {
                    $.each(data.results, (i, item) => {
                        let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;
                        $("#ward").append(str);
                        $('#wardUpdate').append(str);
                    });
                }
            })
            .fail((jqXHR) => {
                console.log(jqXHR);
            })
    }

    getAllProvinces().then(() => {
        let provinceId = $("#province").val();

        getAllDistrictsByProvinceId(provinceId).then(() => {

            let districtId = $("#district").val();

            getAllWardsByDistrictId(districtId)


        });
    });

    $("#province").on('change', () => {
        let provinceId = $("#province").val();
        getAllDistrictsByProvinceId(provinceId).done(() => {
            let districtId = $("#district").val();
            getAllWardsByDistrictId(districtId);
        })

        $("#district").on('change', () => {
            let districtId = $("#district").val();
            getAllWardsByDistrictId(districtId);
        })
    });

    $("#provinceUpdate").on("change", () => {
        let provinceId = $("#provinceUpdate").val();
        getAllDistrictsByProvinceId(provinceId).then(() => {
            let districtId = $("#districtUpdate").val();
            getAllWardsByDistrictId(districtId);
        })
    })

    $("#districtUpdate").on("change", () => {
        let districtId = $("#districtUpdate").val();
        getAllWardsByDistrictId(districtId);
    });

    // select chọn tag

    page.elements.tagsInput = $(".bootstrap-tagsinput")
    page.elements.supTagRender = $(".autocomplete-suggestions")

    function getAllSupplierTags() {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: origin + "/api/suppliers/tags"
        })
            .done((data) => {
                $.each(data, (i, item) => {
                    let str = `<div class="autocomplete-suggestion suggestion-product suggestion-tag"
                                             style="padding:4px 8px" data-index="0">
                                            <div class="search-product-content-refactor item-supplier"
                                                 style="width:100%;">
                                                <div class="search-product-content-name"><span>${item}</span></div>
                                            </div>
                                        </div>`;
                    $(".autocomplete-suggestions").append(str);
                });
            })
            .fail((jqXHR) => {
                console.log(jqXHR.error);

            })
    }

    page.elements.tagsInput.children("input").on("click", () => {
        page.elements.supTagRender.css("display", "block");
        $(".suggestion-tag").off("click")
        page.commands.chooseTag();
    })

    page.commands.chooseTag = () => {

        $(".suggestion-tag").on("click", function () {
            console.log(this)
            let tagChoose = $(this).find("span").text();
            let listTagsChoose = page.elements.tagsInput.find(".tag").map(function () {
                return $(this).text().trim();
            }).get();
            console.log(listTagsChoose, " listTagsChoose")
            listTagsChoose.forEach(() => {
                if (!listTagsChoose.includes(tagChoose)) {
                    listTagsChoose.push(tagChoose)

                    supplierTags.push(tagChoose)
                    let str = `<span class="tag label label-info" style="">${tagChoose}<span class="lable-remove" data-role="remove"></span></span>`
                    page.elements.tagsInput.prepend(str)
                }
            })
            if (listTagsChoose.length === 0) {
                listTagsChoose.push(tagChoose)
                supplierTags.push(tagChoose);
                let str = `<span class="tag label label-info" style="">${tagChoose}<span class="lable-remove" data-role="remove"></span></span>`;
                page.elements.tagsInput.prepend(str);
            }
            page.elements.supTagRender.css("display", "none");
            console.log(supplierTags, " sau click tags")
            console.log(supplier, " sau click sup")

        })
    }

    $(document).on("click", 'span[data-role="remove"]', function () {
        if (supplierTags.indexOf($(this).parent().text()) > -1) {
            supplierTags.splice(supplierTags.indexOf($(this).parent().text()), 1)
            $(this).parent().remove()
        }
        console.log(supplierTags, " sau remove")
    });


    // select chọn nhân viên
    function getAllEmployeeSelect() {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: origin + "/api/employees"
        })
            .done((data) => {
                $.each(data, (i, item) => {
                    let str = `<option value="${item.id}">${item.fullName}</option>`;
                    $("#employeeNameCreate").append(str);
                });
            })
            .fail((jqXHR) => {
                console.log(jqXHR.error);

            })
    }

    // select chọn phương thức thanh toán
    function getAllPaymentMethodSelect() {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: origin + "/api/admin/payment_methods"
        })
            .done((data) => {
                $.each(data, (i, item) => {
                    let str = `<option value="${item.id}">${item.title}</option>`;
                    $("#paymentMethodCreate").append(str);
                });
            })
            .fail((jqXHR) => {

                console.log(jqXHR.error);
            })
    }

    //  nhóm nhà cung cấp
    function getAllGroup(element) {
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: origin + "/api/supplier_groups",
        })
            .done((data) => {
                supplierGroups = data;
                $.each(data, function (index, value) {
                    element.append(
                        `<li onclick="handleChangeGroupSupp(${value.id})">
                        <p  class="w-20 border-0 " id="${value.id}" style="padding:7px; font-size: 11px; width: 300px;border: unset;" value="${value.id}">
                        ${value.title}</p>
                        </li>`
                    )
                });
            })
    }

    // slect chọn nhóm nhà cung cấp

    function getAllGroup() {
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: origin + "/api/supplier_groups",
        })
            .done((data) => {
                supplierGroups = data;
                $.each(data, function (index, value) {
                    page.elements.renderGroupLi.append(
                        `<li onclick="handleChangeGroupSupp(${value.id})">
                        <p  class="w-20 border-0 " id="${value.id}" style="padding:7px; font-size: 12px;font-weight:450; width: 300px;border: unset;" value="${value.id}">
                        ${value.title}</p>
                        </li>`
                    )
                });
            })
    }

    function handleChangeGroupSupp(supplierGroupId) {
        let supplierGroup = supplierGroups.find(supplierGroup => supplierGroup.id === supplierGroupId);
        $("#changeValueSup").attr("data-id", supplierGroup.id);
        $("#changeValueSup").val(supplierGroup.id);
        $("#changeValueSup").text(supplierGroup.title);
        var dropdown = new bootstrap.Dropdown(document.querySelector("#changeValueSup"));
        dropdown.hide();
    }

    function searchGroup() {

        let valueSearchInput = document.getElementById("inputKey").value
        console.log("valueSearchInput: ", valueSearchInput)
        console.log("supplierGroups :", supplierGroups)

        let groupSearch = supplierGroups.filter(group => {
            return group.title.toUpperCase().includes(valueSearchInput.toUpperCase());
        })
        console.log("nhom search", groupSearch)

        page.elements.renderGroupLi.empty();
        $.each(groupSearch, (i, item) => {
            page.elements.renderGroupLi.prepend(
                `<li onclick="handleChangeGroupSupp(${item.id})">
                    <p  class="w-20 border-0 " id="${item.id}" style="padding:7px; font-size: 12px; font-weight: 500; width: 300px;border: unset;" value="${item.id}">
                    ${item.title}</p>
                    </li>`
            )
        });
    }

    page.elements.showGroupSupplier.on('click', () => {
        page.dialogs.elements.modalCreateGroupSupplier.modal('show');
        page.dialogs.elements.groupCreateId.val("");
        page.dialogs.elements.groupCreateTitleSup.val("");
        page.dialogs.elements.groupCreateCodeSup.val("");
        page.dialogs.elements.groupCreateDescriptionSup.val("");

    })

    page.dialogs.elements.btnCreateGroupSupplier.on('click', () => {
        console.log("vao ham do create group : ")
        let supGroupCode = page.dialogs.elements.groupCreateCodeSup.val();
        let supGroupTitle = page.dialogs.elements.groupCreateTitleSup.val();
        let description = page.dialogs.elements.groupCreateDescriptionSup.val();
        let newGroupSup =
            {
                title: supGroupTitle.length > 0 ? supGroupTitle : null,
                supplierCode: supGroupCode.length > 0 ? supGroupCode : null,
                description: description.length > 0 ? description : null
            }

        console.log("trc ajax", newGroupSup)
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "POST",
            "url": origin + "/api/supplier_groups/create",
            "data": JSON.stringify(newGroupSup)
        })
            .done((data) => {
                console.log("data: ", data)
                SupplierApp.IziToast.showSuccessAlert("Thêm nhóm nhà cung cấp thành công!");
                setTimeout(() => {
                }, 1500);
                page.dialogs.elements.modalCreateGroupSupplier.modal('hide');

                getAllGroup();
            })
            .fail((jqXHR) => {
                SupplierApp.IziToast.showErrorAlert("Nhóm nhà cung cấp đã tồn tại!");
                setTimeout(() => {
                }, 1500);
            })
    })


    $("#changeValueSup").on('click', () => {
        var dropdown = new bootstrap.Dropdown(document.querySelector("#changeValueSup"));
        dropdown.show();
    })

    let renderGroup = $("#renderGroupLi");
    getAllGroup(renderGroup);
    createSupplier();
    getAllEmployeeSelect();
    getAllPaymentMethodSelect();
    getAllSupplierTags();


    // $("#formCreate").validate({
    //     rules: {
    //         nameCreate: {
    //             required: true
    //
    //         }
    //     },
    //     messages: {
    //         nameCreate: {
    //             required: "Vui lòng nhập tên nhà cung cấp",
    //
    //         }
    //     },
    //     submitHandler: function () {
    //         createSupplier();
    //     }
    // });

    // $(document).ready(function () {
    //     $("#formCreate").validate({
    //         rules: {
    //             nameCreate: {
    //                 required: true,
    //                 minlength: 5,
    //             },
    //             phoneCreate: {
    //                 required: false,
    //                 digits: true,
    //                 pattern: /((09|03|07|08|05)+([0-9]{8})\b)/g,
    //                 minlength: 10,
    //                 maxlength: 11,
    //         },
    //         emailCreate: {
    //             required: true,
    //             email: true,
    //             // pattern: /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/
    //         },
    //             faxCreate: {
    //                 required: true,
    //                 minlength: 7,
    //                 maxlength: 15,
    //                 pattern: /^\+[\d]+$/,
    //             }
    //     },
    //     messages: {
    //         nameCreate: {
    //             required: "Vui lòng nhập tên nhà cung cấp",
    //             minlength: "Tên nhà cung cấp phải có ít nhất 5 ký tự"
    //         },
    //         phoneCreate: {
    //             // required: "Vui lòng nhập số điện thoại",
    //             digits: "Số điện thoại phải là số",
    //             minlength: "Số điện thoại phải có ít nhất 10 chữ số",
    //             maxlength: "Số điện thoại không được vượt quá 11 chữ số",
    //             pattern: "Số điện thoại không đúng định dạng",
    //         },
    //         emailCreate: {
    //             // required: "Vui lòng nhập địa chỉ email",
    //             email: "Định dạng địa chỉ email không hợp lệ",
    //             // pattern: "Định dạng địa chỉ email không hợp lệ"
    //         },
    //         faxCreate: {
    //             required: "Vui lòng nhập số fax",
    //             minlength: "Số fax phải có ít nhất 7 chữ số",
    //             maxlength: "Số fax không được vượt quá 15 chữ số",
    //             pattern: "Số fax phải bắt đầu bằng dấu '+' và là một chuỗi số"
    //         }
    //     },
    //         submitHandler: function () {
    //             createSupplier();
    //         }
    //     });
    // });

    // $("#formCreate").submit(function(event) {
    //     event.preventDefault(); // Ngăn chặn hành động mặc định khi submit form
    //
    //     // Validate form
    //     if ($("#formCreate").valid()) {
    //         // Nếu form hợp lệ, thực hiện thêm mới dữ liệu vào database
    //
    //         // Reset form
    //         $("#formCreate")[0].reset();
    //
    //         // Hiển thị thông báo thành công
    //         alert("Thêm mới nhà cung cấp thành công!");
    //     }
    // });
</script>

